.csv-editor-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
}
.csv-editor {
  flex-grow: 1;
}
.ag-grid-editor {
  flex-grow: 1;
}
.header-input {
  display: none;
  margin: 2px;
  height: 60%;
  width: 100%;
  background-color: #202324;
  border: 1px solid #68686D;
}
.header-input:focus {
  border: 1px solid #373739;
}
.quick-actions-bar {
  background-color: #2D2D2D;
  border-top: 1px solid #68686D;
  border-left: 1px solid #68686D;
  border-right: 1px solid #68686D;
  flex-grow: 0;
}
.quick-actions-bar .form-control {
  margin: 6px;
  display: inline-block;
  max-width: 320px;
  height: 27px;
  padding: 6px;
  font-size: 14px;
}
.quick-actions-bar .btn-group {
  height: 100%;
}
.quick-actions-bar .btn-actionbar {
  top: 0;
  height: 100%;
  padding: 8px 16px 8px 16px;
  background-color: transparent;
  border: none;
}
.quick-actions-bar .btn-actionbar:hover {
  background-color: #202020;
}
.quick-actions-bar .btn-icon-left > i {
  margin-right: 6px;
}
.dropdown-menu .dropdown-item {
  padding: 8px 16px;
  color: white;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #676767;
}
.dropdown-left-manual {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}
