/*
 * Default Dark Theme
 */

html, body {
    height: 100%;
    margin: 0;         /* Reset default margin on the body element */
}
iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    width: 100%;
    height: 100%;
}
body {
  background-color: #343436;
  color: #f6f6f6;
  
  --modeler-entity-border: #d7e6f4;
  --modeler-entity-header-background: #224f77;
  --modeler-entity-header-color: #fff;
  --modeler-entity-background: #fff;
  --modeler-entity-color: #224f77;
  --modeler-entity-connector: #d7e6f4;
}
.navbar {
	margin-bottom: 0px !important;
}
.shell {
	display: -webkit-flex;
	display: flex;
	flex-wrap: row wrap;
	width: 100%;
	height: calc(100% - 24px);
}
.sidebar {
	width: 4.5em;
	vertical-align: top;
	-webkit-flex: none;
	flex: none;
	position: fixed;
	top: 24px;
	height: 100%;
	border-right-color: #292929;
	border-right-style: solid;
	border-right-width: 2px;
}
.plane {
 	-webkit-flex: 1;
 	flex: 1 1 auto;
    position: absolute;
	width: calc(100% - 4.5em);
	height: calc(100% - (24px + 2em));
	left: 4.5em;
	top: 24px;
}
.statusbar {
	width: 100%;
	height: 2em;
	background: #13445c;
	color: #eee;
	position: fixed;
	bottom: 0;
	padding: 4px 56px 0px 26px;
}
.statusbar-message {
        width: 40%;
        flex: 1;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
.statusbar-error {
        color: #ed7474;
        width: 45%;
        flex: 1;  
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;	
}
.list-group-item {
  background: none !important;
  border: transparent !important;
}

a.list-group-item.hover,
a.list-group-item:hover{
  background-color: #555;
  color: #fff;
}

nav.navbar {
  background-color: transparent;
  border: transparent;
  top: 0;
}

nav.navbar a{
  line-height: 21px;
}
nav.navbar .dropdown-menu{
  border: 0px;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #555;
}

.lm_header,
.lm_header .lm_tab,
.lm_header .lm_tab, .lm_title {
  height: 19px;
  line-height: 19px;
}
.lm_header .lm_tab.lm_active{
  box-shadow: none;
  padding-bottom: 0px;
  border-top: #6bb9e1;
  border-top-width: 1px;
  border-top-style: solid;
}
 
.lm_header .lm_tab {
  /*border: 1px solid #555;*/
  padding-bottom: 4px;
  box-shadow: none;
  /*top: 1px;  */
}
.lm_header, .lm_splitter{
  background-color: #292929;
}
.lm_splitter{
  opacity: inherit;
}
.lm_items {
  /*border: 1px solid #555;*/
	border: 0;
}

.vakata-context, .vakata-context ul {
    box-shadow: none;
}

.vakata-context li>a {
	font-size: 11px;
    line-height: 2em;
    height: 2.2rem;
    font-family: arial;
	padding: 0 2rem;
}

.vakata-context li>a>i:empty {
    width: 2rem;
    line-height: 2rem;
}

.vakata-context li>a>i {
	height: 2.2rem;
	margin: 0 0 0 -2rem;
}

.vakata-context li>a .vakata-contextmenu-sep {
	height: 2.2rem;
	margin: 0 .5em 0 0;
}

ul.vakata-context.jstree-contextmenu > li > a {
	display: block;
}
ul.vakata-context.jstree-contextmenu span.vakata-contextmenu-shortcut {
	display: block;
	color: #292929;
	float:right;
	margin-left: 2rem;
}

.view {
	/* background-color: #999999; */
	color: silver;
}

.preview-pre {
	color: silver;
	font-family: Arial, Helvetica, sans-serif;
}

.logo {
	font-weight: bold !important;
	color: #eee;
	margin-left: 12px !important;
}

.user {
	color: #eee;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.key {
  flex: 1 1 auto;
  max-width: 15%;
  padding: 2px 5px;
  /*background: #292929;*/
}
.value {
  flex: 2 1 auto;
  padding: 2px 5px;
}
.striped-container .striped-item:nth-of-type(odd) {
  /*background: #565656;*/
}
.striped-container .striped-item:nth-of-type(odd) .key {
  /*background: #222;*/
}
.striped-container .striped-item:nth-of-type(odd) .value {
  /*background: #292929;*/
}
.striped-item:hover .value {
  background: rgba(41, 41, 41, 0.85);
}
.striped-item:nth-of-type(odd):hover .value{
  background: rgba(41, 41, 41, 0.85);
}

.modal {
	color: #ccc;
}
.modal-backdrop.in{
	opacity:.8;filter:alpha(opacity=50);
}

.navbar-brand {
    font-weight: normal !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

/** Modelers */

.toolbarContainer {
	position:absolute;
	white-space:nowrap;
	overflow:hidden;
	top:0px;
	left:0px;
	/*max-height:24px;*/
	height:36px;
	right:0px;
	padding:6px;
	background-color:#222;
}

.sidebarContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	left:0px;
	bottom:36px;
	max-width:34px;
	width:34px;
	padding-top:10px;
	padding-left:4px;
	background-color:#777;
	color:#d7e6f4 !important;
}

.graphContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	left:60px;
	bottom:36px;
	right:0px;
}

.outlineContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	right:0px;
	width:200px;
	height:140px;
	background:transparent;
	border-style:solid;
	border-color:#333333;
}

.statusContainer {
	text-align:right;
	position:absolute;
	overflow:hidden;
	bottom:0px;
	left:0px;
	/*max-height:24px;*/
	height:36px;
	right:0px;
	color:#3277b3;
	padding:6px;
	background-color:#222;
}

.button {
	color:#ddd !important;
}

.button:hover {
	background: #555 !important;
	color:#eee !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	color: #eee /*#6bb9e1*/;
}

.plane-inner {
 	left: 1em;
    top: 1em;
    width: calc(100% - 1em);
    height: calc(100% - 1em);
}

.panel-heading {
    background: url(../../web/resources/images/clouds.jpg) no-repeat center center;
    opacity: 0.85;
    filter: grayscale(100%);
}
.panel > header {
	background-color:#337ab7;
	color: #e1e6ea;
	background: url(../../web/resources/images/clouds.jpg) no-repeat center center;
	opacity: 0.85;
	filter: grayscale(100%);
	background-size: cover;
	border-color: #ba950e;
}
.leading {
	font-size: 38px;
	line-height: 1 !important;
	font-family: Helvetica Neue, Arial;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #444446;
    color: #fee;
    border-top: 1px solid #343436;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.panel-primary {
    border-color: #bbb;
}

.btn-toolbar-top {
	width: 100%;
	height: 1.8em;
	margin-top: 2px;
}

.btn-top {
	padding: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
}

.dropdown-top {
	/*border: 1px solid #a5acb3;*/
	border-radius: 0 !important;
	background-color: #343436;
	
	border-top: none;
	border-right: none;
	border-left: none;
	border-image: initial;
	border-bottom: 1px solid;
	margin-top: 2px;
}

.console-row {
	font-family: monospace;
	background-color: #343436;
}

.console-row-error {
	color: #ed7474;
}

.console-row-warn {
	color: darkorange;
}

.console-row-info {
	color: #74ed74;
}

.console-row-debug {
	color: silver;
}

.console-row-trace {
	color: darkgray;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.view-toolbar {
	padding: 0;
    margin: 0;
    border: none;
    background-color: #343436;
}

.view-fixed-top {
    top: 0;
    border-width: 0 0 0px;
    right: 0;
    left: 0;
    z-index: 1030;
	background-color: #343436;
	border-bottom: 2px solid #333;
	white-space: nowrap;
	/*overflow: auto;*/
}

.preview-button {
	border-radius: 0;
}

.preview-body {
	padding-top: 20px;
}

.responsive-container {
    position: relative;
    overflow: hidden;
    /* padding-top: 56.25%; */
	width: 100%;
    height: 100%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.documents-folder-button {
	border-radius: 0;
	margin-top: 0px;
}

.workspace {
	font-weight: 300;
	margin-top: 0.4em;
    position: relative;
}

.database {
	font-weight: 300;
	margin-top: 0.4em;
    position: relative;
}

.repository {
	font-weight: 300;
	margin-top: 0.4em;
    position: relative;
}

.registry {
	font-weight: 300;
	margin-top: 0.4em;
    position: relative;
}

.tableFixHead {
	overflow-y: auto;
	height: 100%;
}
.tableFixHead thead th {
	position: sticky; top: 0;
}

table  {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	padding: 8px 16px;
}
th {
	background:#222;
}

.tdSingleLine {
	white-space: nowrap;
	overflow: auto;
}

.extension-name {
	color: #eee;
	font-weight: 400;
}

.logs-area {
	height: 100% !important;
	background-color: #343436;
	color: silver;
}

.ui-widget-content {
    border: 1px solid #333333;
    background: #545454;
    color: #f6f6f6;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #111111;
    background: #232323;
    font-weight: normal;
    color: #eeeeee;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #1f4a6e;
    background: #1f4a6e;
    font-weight: normal;
    color: #ffffff;
}

.popover-title {
	background: #111111;
}

.popover {
	background: #232323;
}

.bg-default {
	background-color: #333333;
}