{
	"description": "{{perspectiveName}} view",
	"extensionPoint": "launchpad-{{extensionName}}-{{perspectiveName}}-view",
	"module": "{{projectName}}/ui/{{perspectiveName}}/views/master/{{name}}/extensions/view.js"
}