.lm_header .lm_tab.lm_active {
    background-color: #698096 !important;
    color: #eee !important;
}
.lm_header .lm_tab {
    background-color: #495a69 !important;
    color: #eee !important;
}
.lm_header, .lm_splitter {
    background-color: #a5b3c0;
}
