 
 	<div class="row">
		<div class="col-lg-12">
	    	<h1 class="page-header">Cockpit</h1>
		</div>
	</div>

 
    <a ng-repeat="data in homeData" href="{{ data.path }}">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-{{ data.color }}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-{{ data.image }} fa-4x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ data.title }}</div>
                            <div>{{ data.description }}</div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
    </a>
    
	<div class="row">
	
	        <div class="col-lg-3 heading-lead page-scroll">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-edit fa-fw"></i>
                Develop</h2>
	            Eclipse Dirigible <sup>&trade;</sup> provides three major types of toolkits covering the Development phase of your solution:
	            <ul> 
	            	<li><a href="../index.html">WebIDE</a> - fully functional yet powerful, browser based IDE</li>
	            	<li><a href="#/workspace">LightIDE</a> - limited code-editing only, browser based IDE</li>
	            	<li>DesktopIDE - Eclipse based desktop IDE</li>
	            </ul>
	            
	        </div>

	        <div class="col-lg-3 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa fa-search fa-fw"></i>
                Discover</h2>
	            Browse the available source content of the artifacts in the Registry or search for services endpoints in a live Eclipse Dirigible <sup>&trade;</sup> instance. 
	        </div>

	        <div class="col-lg-3 heading-lead">
				<hr class="section-heading-spacer">
		        <div class="clearfix"></div>
		        <h2><i class="fa fa-wrench fa-fw"></i>
                Operate</h2>
	            Perform the life-cycle management operations on a live Eclipse Dirigible <sup>&trade;</sup> instance such as Import, Export, Backup and configurations.
	        </div>
	    
		    <div class="col-lg-3 heading-lead">
			    <hr class="section-heading-spacer">
		        <div class="clearfix"></div>
		        <h2><i class="fa fa-area-chart fa-fw"></i>
	                Monitor</h2>
		            Monitor the basic metrics of a live Eclipse Dirigible <sup>&trade;</sup> instance as well as inspect the applications and audit logs.
		        </div>
		    </div>