{
	'description': '{{perspectiveName}} view',
	'extensionPoint': 'launchpad-{{perspectiveName}}-{{name}}-view',
	'module': '{{projectName}}/ui/{{perspectiveName}}/views/master/{{name}}/master/extensions/view.js'
}