<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.rap.ui.serviceHandler">
      <serviceHandler
            class="org.eclipse.dirigible.ide.workspace.dual.DownloadProjectServiceHandler"
            id="org.eclipse.dirigible.ide.workspace.wizard.project.export.DownloadProjectServiceHandler">
      </serviceHandler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
     <menuContribution
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.import">
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.commands.UploadProjectHandler"
                  icon="icons/icon-project.png"
                  label="Project"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            
	  </menuContribution>
	  
	  <menuContribution
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.export">
            
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.DownloadProjectHandler"
                  icon="icons/icon-project.png"
                  label="Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
      </menuContribution>
      
	</extension>
	  
</plugin>
