<div class="modal-dialog modal-sm" role="dialog">
  <div class="modal-content">
  
     <div class="modal-header">
       <h3 class="modal-title">
			<span id="title-text">Delete items</span>
	   </h3>
     </div>
     
     <div class="modal-body">
       <span id="body-text">Are you sure you want the delete the following items?</span>
       <div id="itemsToDeleteList" ng-repeat="item in itemsToDelete">
       		<span>{{item.name}}</span>
       </div>
  	     <label><input type="checkbox" ng-init="forceDelete=false" ng-model="forceDelete"> Delete folders recursively</label>
       </div>
     
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteItems(forceDelete)">Confirm</button>
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
     
   </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
