body {
	background-color: #eef3f6;
}
.ace-tm {
	background-color: #eef3f6;
}
.ace-tm .ace_gutter {
    background: #afcee9;
    color: #333;
}

.ace-tm .ace_gutter-active-line {
    background: #88b5dd;
}