html, body {
    height: 100%;
    margin: 0;         /* Reset default margin on the body element */
}
iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    width: 100%;
    height: 100%;
}
body {
  background-color: #f5f5f5;
  color: #163550;
  
  --modeler-entity-border: #88b5dd;
  --modeler-entity-header-background: #609dd2;
  --modeler-entity-header-color: #fff;
  --modeler-entity-background: #fff;
  --modeler-entity-color: #3277b3;
  --modeler-entity-connector: #609dd2;
}
.navbar {
	margin-bottom: 0px !important;
}
.shell {
	display: -webkit-flex;
	display: flex;
	flex-wrap: row wrap;
	width: 100%;
	height: calc(100% - 23px);
}
.sidebar {
	background: #3f5161;
	width: 4.5em;
	vertical-align: top;
	-webkit-flex: none;
	flex: none;
	position: relative;
	top: 24px;
}
.plane {
 	-webkit-flex: 1;
 	flex: 1 1 auto;
    position: absolute;
	width: calc(100% - 4.5em);
	height: calc(100% - (26px + 2em));
	left: 4.5em;
	top: 27px;
}
.statusbar {
	width: 100%;
	height: 2em;
	background: #65819a;
	color: #fec600;
	position: relative;
}
.lm_header .lm_tab {
	background: #748ea4;
	color: #28343e;
}
.lm_header .lm_active {
    background: #b2c0cd;
    color: #3f5161;
}
.list-group-item {
  background: none !important;
  border: transparent !important;
  color: aliceblue !important;
}

.list-group-item.active {
	color: #00dddd !important;
}
.list-group-item.active:hover {
	color: #00ffff !important;
}

a.list-group-item.hover,
a.list-group-item:hover{
  background-color: #aaa;
  color: white !important;
}

nav.navbar {
  /*background-color: transparent;*/
  background-color: #2f3c48;
  border: transparent;
  top: 0;
}

.navbar-inverse .navbar-brand {
    color: aliceblue;
}

.navbar-inverse .navbar-brand:hover {
    color: #00ffff;
}

nav.navbar a{
  line-height: 21px;
  color: aliceblue !important;
}
nav.navbar .dropdown-menu{
  border: 0px;
  background-color: #3f5161 !important;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #3f5161;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color:  #2f3c48;
}


.lm_header,
.lm_header .lm_tab,
.lm_header .lm_tab, .lm_title {
  height: 19px;
  line-height: 19px;
}
.lm_header .lm_tab.lm_active{
  box-shadow: none;
  padding-bottom: 4px;
  border-top: #00ffff;
  border-top-width: 2px;
  border-top-style: solid;
}
 
.lm_header .lm_tab {
  /*border: 1px solid #555;*/
  padding-bottom: 4px;
  box-shadow: none;
  /*top: 1px;  */
}
.lm_header {
  background-color: #65819a;
}
.lm_splitter{
  opacity: inherit;
  background-color: #65819a;
}
.lm_items {
  /*border: 1px solid #aaa;*/
	border: 0;
}

.vakata-context, .vakata-context ul {
    box-shadow: none;
}
.vakata-context li>a {
	font-size: 11px;
    line-height: 2em;
    height: 2.2rem;
    font-family: arial;
	padding: 0 2rem;
}
.vakata-context li>a>i:empty {
    width: 2rem;
    line-height: 2rem;
}
.vakata-context li>a>i {
	height: 2.2rem;
	margin: 0 0 0 -2rem;
}
.vakata-context li>a .vakata-contextmenu-sep {
	height: 2.2rem;
	margin: 0 .5em 0 0;
}
ul.vakata-context.jstree-contextmenu > li > a {
	display: block;
}
ul.vakata-context.jstree-contextmenu span.vakata-contextmenu-shortcut {
	display: block;
	color: #cececf;
	float:right;
	margin-left: 2rem;
}

.view {
	background-color: #f5f5f5;
	color: #343436;
}

.logo {
	font-weight: bold !important;
	color: #434344;
	margin-left: 12px !important;
}

.user {
	color: #00dddd;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.key {
  flex: 1 1 auto;
  max-width: 15%;
  padding: 2px 5px;
  background: #cddae4;
}
.value {
  flex: 2 1 auto;
  padding: 2px 5px;
}
.striped-container .striped-item:nth-of-type(odd) {
  background: #efefef;
}
.striped-container .striped-item:nth-of-type(odd) .key {
  background: #bdcad4;
}
.striped-container .striped-item:nth-of-type(odd) .value {
  background: #cddae4;
}
.striped-item:hover .value {
  background: rgba(210, 210, 210, 0.85);
}
.striped-item:nth-of-type(odd):hover .value{
  background: rgba(200, 200, 200, 0.85);
}

.modal {
	color: #cddae4;
}
.modal-backdrop.in{
	opacity:.8;filter:alpha(opacity=50)
}

.navbar-brand {
    font-weight: normal !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

/** Modelers */

.toolbarContainer {
	position:absolute;
	white-space:nowrap;
	overflow:hidden;
	top:0px;
	left:0px;
	/*max-height:24px;*/
	height:36px;
	right:0px;
	padding:6px;
	background-color:#a3bace;
}

.sidebarContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	left:0px;
	bottom:36px;
	max-width:34px;
	width:34px;
	padding-top:10px;
	padding-left:4px;
	background-color:#dee6ed;
	color:#609dd2;
}

.graphContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	left:60px;
	bottom:36px;
	right:0px;
}

.outlineContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	right:0px;
	width:200px;
	height:140px;
	background:transparent;
	border-style:solid;
	border-color:#333333;
}

.statusContainer {
	text-align:right;
	position:absolute;
	overflow:hidden;
	bottom:0px;
	left:0px;
	/*max-height:24px;*/
	height:36px;
	right:0px;
	color:#3277b3;
	padding:6px;
	background-color:#a3bace;
}

.button {
	color:#fff !important;
}

.button:hover {
	background: #999 !important;
	color:#ddd !important;
} 
