<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	  <extension
           id="ContentInitializerServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/content-init"
              class="org.eclipse.dirigible.runtime.content.ContentInitializerServlet"
              load-on-startup="true">
        </servlet>
     </extension>
	 
	 <extension
           id="ContentExporterServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/export"
              class="org.eclipse.dirigible.runtime.content.ContentExporterServlet"
              load-on-startup="true">
        </servlet>
     </extension>
	 
	 <extension
           id="ContentImporterServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/import"
              class="org.eclipse.dirigible.runtime.content.ContentImporterServlet"
              load-on-startup="true">
        </servlet>
     </extension>
     
     <extension
           id="CloneExporterServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/clone-export"
              class="org.eclipse.dirigible.runtime.content.CloneExporterServlet"
              load-on-startup="true">
        </servlet>
     </extension>
	 
	 <extension
           id="CloneImporterServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/clone-import"
              class="org.eclipse.dirigible.runtime.content.CloneImporterServlet"
              load-on-startup="true">
        </servlet>
     </extension>
     
     <extension
           id="ProjectImporterServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/project-import"
              class="org.eclipse.dirigible.runtime.content.ProjectImporterServlet"
              load-on-startup="true">
        </servlet>
     </extension>
     
     <extension
           id="ContentResetServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/reset"
              class="org.eclipse.dirigible.runtime.content.ContentResetServlet"
              load-on-startup="true">
        </servlet>
     </extension>

	 
</plugin>
