<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>${pageTitle}</title>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/services/web/resources/css/forms.css">
	<script src="/services/web/resources/themes/theme.js"></script>
</head>
<body style="margin-left: 20px">
<div ng-include="'header.html'"></div>

	<div id="wrap" ng-controller="NewOrEditController">
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">${pageTitle}</h1>
			</div>
		</div>
		<div class="container well">
            <div>
            	<div class="alert alert-danger" ng-show="errorMessage">
                    <strong>Oh snap!</strong> {{errorMessage}}
                </div>
                <div class="alert alert-success" ng-show="successfullyUpdated">
                    <strong>Well done!</strong> Entity successfully updated!
                </div>
                <div>
#foreach ($tableColumn in $tableColumns)
#if($tableColumn.visible)
					<label>${tableColumn.label}</label> 
#if ($tableColumn.key)
                    <input type="text" class="form-control" ng-model="entity.${tableColumn.name}" readonly>
#else
#if ($tableColumn.widgetType == "date")
					<p class="input-group">
		            	<input type="text" ng-model="entity.${tableColumn.name}" class="form-control ng-pristine ng-valid ng-isolate-scope ng-valid-required ng-touched" 
		               		uib-datepicker-popup="" is-open="${tableColumn.name}Status.opened" 
		               		datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" 
		               		required="required" style="">
				        <span class="input-group-btn">
				        	<button type="button" class="btn btn-default" ng-click="${tableColumn.name}Open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
		           	</p>
#elseif ($tableColumn.widgetType == "textarea")
					<textarea class="form-control" 
						ng-model="entity.${tableColumn.name}" cols="50" rows="5" required="required"></textarea>
#elseif ($tableColumn.widgetType == "dropdown")
					<input type="hidden" class="form-control" ng-model="entry.${tableColumn.name}" required="required">
					<div>
						<select class="form-control" ng-model="entry.${tableColumn.name}" ng-options="option.item_id as option.item_name for option in items" ng-disabled="operation == 'show'" required="required"></select>	
					</div>
#elseif ($tableColumn.widgetType == "list")
					<input type="hidden" class="form-control" ng-model="entry.${tableColumn.name}" ng-readonly="operation == 'show'" required="required">
					<div>
						<select class="form-control" multiple="true" ng-model="entry.${tableColumn.name}" ng-options="option.item_id as option.item_name for option in items" ng-disabled="operation == 'show'" required="required"></select>	
					</div>
#elseif ($tableColumn.widgetType == "integer")
					<input type="number" class="form-control text-right" pattern="\d*" step="1"
						ng-model="entity.${tableColumn.name}" required="required">
#elseif ($tableColumn.widgetType == "float")
					<input type="number" class="form-control text-right" pattern="[0-9]+([\.,][0-9]+)?" step="0.01"
						ng-model="entity.${tableColumn.name}" required="required">
#else
					<input type="text" class="form-control" ng-model="entity.${tableColumn.name}" required="required">
#end
#end
					<br>
#end
#end                      
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="saveEntity()" ng-show="!exist">Save</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="updateEntity()" ng-show="exist">Update</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="cancelUpdate()">Cancel</button>
                    </div>
                </div>

        </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script type="text/javascript">
	
		function getURLParameter(name) { 
			return decodeURIComponent((
				new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)
				|| [,""])[1].replace(/\+/g, '%20'))|| null; 
	    }
	
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('NewOrEditController', function ($scope, $http) {
			var url = '${serviceFileName}';
#foreach ($tableColumn in $tableColumns)
#if ($tableColumn.key)
	  		$scope.primaryKey = '${tableColumn.name}';
#end
#end
			$scope.urlParameter = getURLParameter($scope.primaryKey);
	        $scope.exist = $scope.urlParameter !== null;
	        $scope.errorMessage = null;
	        $scope.successfullyUpdated = false;
	                    
	        if($scope.urlParameter){
	        	var getUrl = url + '?' + $scope.primaryKey + '=' + $scope.urlParameter;
	
	        	$http.get(getUrl)
	        	.success(function(response){
	            	$scope.entity=response;    
				}).error(function(response){
	            	$scope.exist = false;
				});
			}
	        
			/* ---- Uncomment and configure in case of using dropdown or list widgets in the form above  ----
			
			var urlItems = 'ENDPOINT_OF_THE_ITEMS_SERVICE';
				
			$http.get(urlItems)
				.success(function(items){
					$scope.items = items;
				});
			*/

	        $scope.saveEntity = function(){
	        	$http.post(url ,$scope.entity)
	        	.success(function(response){
	            	var documentURL = document.URL.toString();
					documentURL = documentURL.substring(0, documentURL.lastIndexOf('=')+1);
	            	documentURL+=parseInt(response);
	                window.location = documentURL;
	                $scope.errorMessage = null;
				}).error(function(response){
	            	$scope.errorMessage = response.err.message;
				});
			}
	                    
	        $scope.updateEntity = function(){
	        	$http.put(url, $scope.entity)
	        	.success(function (response){
	        		$scope.successfullyUpdated = true;
	                $scope.errorMessage = null;
	            }).error(function(response){
	                $scope.successfullyUpdated = false;
	                $scope.errorMessage = response.err.message;
	            });
			}
	                    
	        $scope.cancelSave = function(){
	            $scope.entity = {};
			}
	
	        $scope.cancelUpdate = function(){
	        	$scope.errorMessage = null;
	        	
	        	$http.get(getUrl)
	        	.success(function(response){
					$scope.entity=response;    
				}).error(function(response){
	            	$scope.exist = false;
				});
			}
	        
	        $scope.dateOptions = {
					startingDay: 1
			};
			$scope.formats = ['yyyy/MM/dd', 'dd-MMMM-yyyy', 'dd.MM.yyyy', 'shortDate'];
  			$scope.format = $scope.formats[0];
	        
#foreach ($tableColumn in $tableColumns) 
#if ($tableColumn.widgetType == "date")
			$scope.${tableColumn.name}Open = function($event) {
				$scope.${tableColumn.name}Status.opened = true;
			};
			$scope.${tableColumn.name}Status = {
				opened: false
			};
#end
#end
	                    
		});
	</script>
	
</body>
</html>
