{
	"description": "{{perspectiveName}} view",
	"extensionPoint": "launchpad-{{extensionName}}-{{perspectiveName}}-{{name}}-view",
	"module": "{{projectName}}/ui/{{perspectiveName}}/views/master/{{name}}/master/extensions/view.js"
}