 
 	<div class="row">
		<div class="col-lg-12">
	    	<h1 class="page-header">Monitor</h1>
		</div>
	</div>

	<a ng-repeat="data in monitoringData" href="{{ data.path }}">
	    <div class="col-lg-4 col-md-6" >
	        <div class="panel panel-{{ data.color }}">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-{{ data.image }} fa-4x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div class="huge">{{ data.title }}</div>
	                        <div>{{ data.description }}</div>
	                    </div>
	                </div>
	            </div>
	            
	                <div class="panel-footer">
	                    <span class="pull-left">View Details</span>
	                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
	                    <div class="clearfix"></div>
	                </div>
	            
	        </div>
	    </div>
    </a>
    
	<div class="row">
	        <div class="col-lg-4 heading-lead page-scroll">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-wrench fa-fw"></i>
                Manage Location</h2>
	            <p>Register the locations to which the statistics shall be collected.</p>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa fa-bar-chart-o fa-fw"></i>
                Statistics</h2>
	            <p>Monitor the basic statistics such as Hit Count and Response time for the registered locations. Used Memory chart can give an overview about the load of the instance.</p>
	        </div>
	        <div class="col-lg-4 heading-lead">
		<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	        <h2><i class="fa fa-film fa-fw"></i>
                Logs</h2>
	            <p>Inspect the applications logs directly from the specified server location.</p>
	        </div>
	    </div>