<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link type="text/css" rel="stylesheet" href="/services/v4/core/theme/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/webjars/fontawesome/4.7.0/css/font-awesome.min.css">
	<link type="image/png" rel="shortcut icon" href="/services/v4/web/resources/images/favicon.png" />
</head>

<body ng-controller="PageController">
	<div class="page-header">
		<h1>Manage Books</h1>
	</div>
	<div class="container">
		<button type="button" ng-click="openNewDialog()" class="btn btn-lg btn-outline-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
		<table class="table product-table">
			<thead>
				<tr>
					<th>#</th>
					<th class="text-capitalize">id</th>
					<th class="text-capitalize">isbn</th>
					<th class="text-capitalize">title</th>
					<th class="text-capitalize">publisher</th>
					<th class="text-capitalize">date</th>
					<th class="text-capitalize">price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="next in data">
					<td>{{$index + 1}}</td>
					<td>{{next.id}}</td>
					<td>{{next.isbn}}</td>
					<td>{{next.title}}</td>
					<td>{{next.publisher}}</td>
					<td>{{next.date}}</td>
					<td>{{next.price}}</td>
					<td>
						<i class="close fa fa-2x fa-remove" ng-click="openDeleteDialog(next)"></i>
						<i class="close fa fa-2x fa-pencil" ng-click="openEditDialog(next)" style="margin-right: 0.5em"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="entityModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 ng-show="actionType === 'new'" class="modal-title" id="exampleModalLabel">Create entity</h3>
					<h3 ng-show="actionType === 'update'" class="modal-title" id="exampleModalLabel">Update entity</h3>
					<h3 ng-show="actionType === 'delete'" class="modal-title" id="exampleModalLabel">Delete entity</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form ng-hide="actionType === 'delete'">
						<div class="form-group">
							<label>ISBN</label>
							<input type="text" class="form-control" placeholder="Enter isbn" ng-model="entity.isbn">
						</div>
						<div class="form-group">
							<label>Title</label>
							<input type="text" class="form-control" placeholder="Enter title" ng-model="entity.title">
						</div>
						<div class="form-group">
							<label>Publisher</label>
							<input type="text" class="form-control" placeholder="Enter publisher" ng-model="entity.publisher">
						</div>
						<div class="form-group">
							<label>Date</label>
							<input type="date" class="form-control" placeholder="Enter date" ng-model="entity.date">
						</div>
						<div class="form-group">
							<label>price</label>
							<input type="number" class="form-control" placeholder="Enter price" ng-model="entity.price">
						</div>
					</form>
					<div ng-show="actionType === 'delete'">
						You are going to delete <b>Books</b> with <b>id = {{entity.id}}</b>.
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-lg" ng-show="actionType === 'new'" ng-click="create()">Save</button>
					<button type="button" class="btn btn-primary btn-lg" ng-show="actionType === 'update'" ng-click="update()">Update</button>
					<button type="button" class="btn btn-primary btn-lg" ng-show="actionType === 'delete'" ng-click="delete()">Delete</button>
					<button type="button" class="btn btn-lg" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="/services/v4/web/resources/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="/services/v4/web/resources/bootstrap/3.3.7/bootstrap.min.js" async></script>
	<script type="text/javascript" src="/services/v4/web/resources/angular/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="/services/v4/web/resources/angular/1.4.7/angular-resource.min.js"></script>

	<script type="text/javascript" src="[[fileName]].js"></script>

</body>
</html>
