<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	
	 <extension
         point="org.eclipse.rap.ui.serviceHandler">
      <serviceHandler
            class="org.eclipse.dirigible.ide.db.export.DataExportServiceHandler"
            id="org.eclipse.dirigible.ide.db.export.DataExportServiceHandler">
      </serviceHandler>
   </extension>
   
</plugin>
