 
 	<div class="row">
		<div class="col-lg-12">
	    	<h1 class="page-header">Discover</h1>
		</div>
	</div>

 
    <div class="col-lg-3 col-md-6" ng-repeat="data in discoverData">
        <div class="panel panel-{{ data.color }}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-{{ data.image }} fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ data.title }}</div>
                        <div>{{ data.description }}</div>
                    </div>
                </div>
            </div>
            <a href="{{ data.path }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    
	<div class="row">
	        <div class="col-lg-6 heading-lead page-scroll">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-search fa-fw"></i>
                Browse Content</h2>
	            <p>Browse the raw content of the Registry containing all the published artifacts. Inspect the source of the HTML or Wiki pages as well as the code for the scripting services in JavaScript, Java, SQL and Shell Commands</p>
	        </div>
	        <div class="col-lg-6 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa fa-server fa-fw"></i>
                Find Endpoints</h2>
	            <p>Navigate throughout all the registered service endpoints and perform test calls. Web content ususally is served as is, while Wiki pages first go thru transformation. The services are executed by the corresponding scripting engine for the given language. The same applies for the Flows and Jobs definitions.</p>
	        </div>
	    </div>