<!DOCTYPE HTML>
<html>

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8">

		<title>{{projectName}}</title>

		<script id="sap-ui-bootstrap"
			src="https://openui5.hana.ondemand.com/1.52.2/resources/sap-ui-core.js"
			data-sap-ui-libs="sap.m"
			data-sap-ui-theme="sap_belize"
			data-sap-ui-compatVersion="edge"
			data-sap-ui-resourceroots='{"{{projectName}}": "./ui"}'>
		</script>

		<script>
			sap.ui.getCore().attachInit(function() {
				new sap.ui.core.ComponentContainer({
					height: "100%",
					name: "{{projectName}}"
                }).placeAt("content");
			});
		</script>
	</head>

	<body class="sapUiBody" id="content">
	</body>

</html>
