<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Dirigible Build Target Platform" sequenceNumber="253">
<locations>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>

<!-- Base -->

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.examples.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rap.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.slf4j.impl.log4j12" version="1.7.2.v20131105-2200"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.3.6.v201511171540"/>
<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.mail.glassfish" version="0.0.0"/>
<unit id="org.apache.commons.pool" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<unit id="org.apache.commons.beanutils" version="0.0.0"/>
<unit id="org.apache.commons.net" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="0.0.0"/>
<unit id="org.apache.commons.logging" version="0.0.0"/>
<unit id="org.apache.commons.dbcp" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
<unit id="org.apache.commons.fileupload" version="0.0.0"/>
<unit id="javax.servlet" version="0.0.0"/>
<unit id="org.apache.commons.collections" version="0.0.0"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.derby" version="10.11.1.1_v201605202053"/>
<unit id="org.mockito" version="0.0.0"/>
<unit id="org.objenesis" version="0.0.0"/>
<unit id="org.jdom" version="0.0.0"/>
<unit id="org.apache.lucene.core" version="0.0.0"/>
<unit id="org.apache.lucene.analysis" version="0.0.0"/>
<unit id="org.apache.lucene.memory" version="0.0.0"/>
<unit id="org.apache.lucene.highlighter" version="0.0.0"/>
<unit id="org.apache.lucene.queries" version="0.0.0"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.mozilla.javascript" version="0.0.0"/>
<unit id="org.quartz" version="0.0.0"/>
<!-- unit id="org.json" version="0.0.0"/ -->
<unit id="org.apache.velocity" version="0.0.0"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="com.google.guava" version="0.0.0"/>
<unit id="org.jsoup" version="0.0.0"/>
<unit id="org.eclipse.orbit.mongodb" version="0.0.0"/>
<unit id="javax.websocket" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.http.apache.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/egit/updates/"/>
</location>

<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/mylyn/releases/oxygen"/>
</location>

</locations>
<environment>
<os>linux,macosx,win32</os>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.noShutdown=true -Declipse.ignoreApp=true</vmArgs>
<programArgs>-console -consolelog</programArgs>
</launcherArgs>
</target>
