<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">

	<!--
		Try to set LOGS_DIR for the file appenders to the environment variables
		"DIRIGIBLE_OPERATIONS_LOGS_ROOT_FOLDER_DEFAULT -> CATALINA_BASE ->  CATALINA_HOME" in this order
		or use ".." if none of the environment variables exist
	-->
	<property name="LOGS_DIR" value="${DIRIGIBLE_OPERATIONS_LOGS_ROOT_FOLDER_DEFAULT:-${CATALINA_BASE:-${CATALINA_HOME:-..}}/logs}" />

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<timestamp key="date" datePattern="yyyy-MM-dd"/>

	<!-- Send messages to System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread{8}] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_CORE" class="ch.qos.logback.core.FileAppender">
		<file>${LOGS_DIR}/dirigible-core-${date}.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE_APPS" class="ch.qos.logback.core.FileAppender">
		<file>${LOGS_DIR}/dirigible-apps-${date}.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_BASE" class="ch.qos.logback.core.FileAppender">
		<file>${LOGS_DIR}/dirigible-base-${date}.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Send messages to ConsoleLoggingAppender -->
	<appender name="ConsoleLoggingAppender" class="org.eclipse.dirigible.runtime.ide.console.service.ConsoleLoggingAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread{8}] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.eclipse.dirigible" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_CORE" />
		<appender-ref ref="ConsoleLoggingAppender" />
	</logger>

	<logger name="org.eclipse.dirigible.api.v3.core.Console" level="ALL" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_CORE" />
		<appender-ref ref="ConsoleLoggingAppender" />
	</logger>

	<logger name="app" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_APPS" />
		<appender-ref ref="ConsoleLoggingAppender" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_BASE" />
	</root>

	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>