<style>
	.timeline-panel {
		width: initial !important;
	}
</style>

<div style="margin-top:20px">
	<span ng-if="vm.loggedUser && vm.board.comments.length===0">Be the first one to comment!</span>
	<span ng-if="!vm.loggedUser">Have something to tell about this? Sign in to comment</span>
</div>
<div class="" style="margin-top:20px">
  <timeline>
    <!-- can also hard-code to side="left" or side="right" -->
    <timeline-event ng-repeat="comment in vm.comments" side=""> <!--side="{{side}}"-->
      <!-- uses angular-scroll-animate to give it some pop -->
      <timeline-badge class="default">
        <i class="glyphicon glyphicon-user" ng-if="vm.pix[comment.user]===''"></i>
        <div ng-if="vm.pix[comment.user]!==''" style="background-image: url({{vm.pix[comment.user]}});background-repeat: no-repeat; background-size: 100%; background-position: 50%; border-radius: 50%; width: 50px; height: 50px;"></div>
      </timeline-badge>

      <!-- uses angular-scroll-animate to give it some pop -->
      <timeline-panel class="default">
        <timeline-heading>
          <div style="font-size: 0.9em;color:#848d95">
		    <span ng-bind="comment.user"></span> said <span title="{{comment.lastModifiedTimeLocal || comment.publishTimeLocal}}" ng-bind="comment.timeSinceLastModified || comment.timeSincePublish"></span>:
		  </div>
        </timeline-heading>
		<p ng-if="vm.comment !== comment || vm.replyEdit" ng-bind-html="comment.text" style="font-size: 1.1em"></p>
		<div ng-if="vm.canPost() && vm.comment === comment && !vm.replyEdit"> 
			<textarea class="form-control" ng-model="vm.comment.text" style="width:100%; margin-bottom:3px" ck-editor></textarea>
			<div class="button-group" style="margin: 5px 0;">
				<button class="btn btn-primary" ng-click="vm.postComment()" ng-disabled="!vm.comment.text">Post</button>
				<button class="btn btn-primary" ng-click="vm.cancelCommentEdit()">Cancel</button>
			</div>
		</div>		
        <timeline-footer>
        	<div style="align-self:flex-end" >
				<a href ng-if="vm.canPost() && !vm.commentEdit" ng-click="vm.openCommentForEdit(comment)">Edit</a>
				<a href ng-if="vm.canPost() && !vm.commentEdit" ng-click="vm.remove(comment)">Delete</a>
			</div>
        </timeline-footer>
      </timeline-panel>
    </timeline-event>
  </timeline>
</div>

<div style="display:flex; flex-direction:column; margin: 10px 0" ng-if="vm.canPost() && !vm.commentEdit && !vm.replyEdit">
	<span style="font-size: 1em;font-weight:bold; margin-bottom: 5px">Leave a comment</span>
	<form>
	  <div class="form-group">
	    <textarea  class="form-control" placeholder="Type your comment here" ng-model="vm.comment.text" style="width:100%" ck-editor></textarea>
	  </div>
	</form>	
	<button style="flex: 1 0 auto; align-self: flex-start;" class="btn btn-primary" ng-click="vm.postComment()" ng-disabled="!vm.comment.text">Post</button>	
</div>
