html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}
.row {
  height: 100%;
  display: table-row;
}
.row .no-float {
  display: table-cell;
  float: none;
}
.migration-nav {
  background-color: #2a2a2b;
  border-right: 1px solid #1f1f20;
  min-width: 260px;
  font-size: 15px;
  position: relative;
}
.nav-progress {
  position: absolute;
  width: 100%;
  margin: 0;
}
.nav-progress-line {
  position: absolute;
  top: 25px;
  left: 0;
  border-left: 4px dotted #CCC;
  background-color: none;
  margin-left: 24px;
  height: calc(100% - 50px);
}
.nav-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  padding: 8px;
}
.nav-item>* {
  margin: 10px 8px 10px 8px;
  z-index: 1;
}
.nav-item.active {
  background-color: #373739;
  border-top: 1px solid #1f1f20;
  border-bottom: 1px solid #1f1f20;
}
.nav-item.done>.nav-item-indicator {
  background-color: #b1b1b1;
}
.nav-item.active>.nav-item-indicator {
  background-color: #7e7e7e;
}
/* First item in list */
.nav-progress>.active:nth-of-type(2) {
  border-top: none;
}
.nav-item-indicator {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  border: 3px solid #2a2a2b;
  background-color: #BABABA;
}
.nav-item-label {
  display: inline-block;
}
.migration-main {
  width: 100%;
  padding: 15px;
  overflow: auto;
}
.migration-title {
  display: table;
  width: 100%;
  font-size: 20px;
  color: #BABABA;
  padding: 15px;
  background-color: #2D2D2D;
  border-bottom: 1px solid #1f1f20;
}
.migration-title span {
  display: table-cell;
  vertical-align: middle;
}
.section-title {
  font-size: 24px;
}
.form-control {
  height: auto;
  padding: 10px 12px 10px 12px;
  font-size: 16px;
}
.steps-container {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}
.bottom-nav {
  width: 100%;
  background-color: #7e7e7e;
}
.btn-big {
  padding: 6px 12px;
}
.btn-marginLeft {
  padding: 1px 2px;
  margin-left: 10px !important;
}
.panel {
  /* Dark theme only */
  background-color: #2a2a2b;
  border-color: #1f1f20;
}
.flex-panel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  border-radius: 3px;
}
.flex-panel>* {
  box-sizing: border-box;
}
.flex-panel>i {
  margin: 6px;
}
.flex-panel button>i {
  width: 15px;
}
.flex-panel .left {
  margin-right: 8px !important;
}
.flex-panel>p {
  font-size: 15px;
  width: 100%;
  margin: 0;
  padding: 4px;
}
.flex-panel>.btn-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.changes-body .list-group {
  color: inherit;
}
.changes-body .list-group-item {
  padding: 0;
  color: inherit !important;
  border: 1px solid #1f1f20 !important;
  border-radius: 3px;
  margin-bottom: 20px;
}
.changes-body .list-group-item .diff-view {
  border-top: 1px solid #1f1f20;
  border-radius: 0 0 3px 3px;
}
.changes-body .list-group-item .diff-view>p {
  text-align: center;
  padding: 24px;
}
.changes-body .list-group-item .diff-view .diffOverviewRuler {
  border-bottom-right-radius: 3px;
}
.changes-body .list-group-item .flex-panel {
  padding: 6px;
  background-color: #373739 !important;
}
label {
  margin-top: 14px;
  margin-bottom: 10px;
}
.input-group-addon {
  min-width: 42px;
  padding: 0 10px 0 10px;
}
.input-group-addon * {
  vertical-align: middle;
}
.margin-top-bottom-nl {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-top-bottom-lg {
  margin-top: 24px;
  margin-bottom: 24px;
}
.margin-left-right-lg {
  margin-left: 24px;
  margin-right: 24px;
}
.margin-top-bottom-xxl {
  margin-top: 48px;
  margin-bottom: 48px;
}
.margin-top-sm {
  margin-top: 16px;
}
