<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Assignments</title>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/services/web/resources/css/forms.css">
	<script src="/services/web/resources/themes/theme.js"></script>
</head>
<body style="margin-left: 20px; margin-top: 30px">

	<div id="wrap" ng-controller="ManageController">
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">Assignments</h1>
			</div>
		</div>
		<div class="container">
			<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
			<!-- entities table -->
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Username</th>
						<th>Role Name</th>
						<th>State</th>
						<th>Created At</th>
						<th>Created By</th>
					</tr>
				</thead>
				<tbody>
					<tr class="selected-{{entry._selected_}}" ng-repeat="entry in data"
						ng-click="showInfoForEntry(entry)">
						<td>{{entry.id}}</td>
						<td>{{entry.username}}</td>
						<td>{{entry.rolename}}</td>
						<td>{{entry.state}}</td>
						<td>{{entry.createdAt}}</td>
						<td>{{entry.createdBy}}</td>
					</tr>
				</tbody>
			</table>
			<div>
				<div>View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>10</option><option>20</option><option>50</option><option selected>100</option></select> records.<div>
	    		<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage" max-size="maxSize" boundary-links="true" force-ellipses="true" rotate="false"></uib-pagination>
			</div>
			<hr>
			<br>
			<!-- new, edit and delete buttons -->
			<div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<input class="btn btn-default" type="button" value="New"
					ng-click="setOperation('new')"
					ng-disabled="errorMessage || operation == 'new' || operation == 'update'"> <input
					class="btn btn-default" type="button" value="Edit"
					ng-click="setOperation('update')"
					ng-disabled="errorMessage || operation == 'new' || operation == 'update'"> <input
					class="btn btn-default" type="button" value="Delete"
					ng-click="delete()"
					ng-disabled="errorMessage || operation == 'new' || operation == 'update'">
			</div>
			<br><br><br>
			<div>
				<!-- input form -->
				<div>
				  
				  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<label>#</label>
					<input type="text" class="form-control" 
						ng-model="selectedEntry.id" readonly>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<label>Username</label>
					<input type="hidden" class="form-control" 
						ng-model="selectedEntry.username"
						ng-readonly="operation == 'show'" required="required">
					<div>
						<select class="form-control" ng-model="selectedEntry.username" ng-options="option.user_username as option.user_username for option in users" ng-disabled="operation == 'show'" required="required"></select>	
					</div>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<label>Role Name</label>
					<input type="hidden" class="form-control" 
						ng-model="selectedEntry.rolename"
						ng-readonly="operation == 'show'" required="required">
					<div>
						<select class="form-control" ng-model="selectedEntry.rolename" ng-options="option.role_rolename as option.role_rolename for option in roles" ng-disabled="operation == 'show'" required="required"></select>	
					</div>
				  </div>
				  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<label>State</label>
					<input type="number" class="form-control text-right" pattern="\d*" step="1"
						ng-model="selectedEntry.state"
						ng-readonly="operation == 'show'" required="required">
				  </div>
				</div>
				
				<!-- save and cancel buttons -->
				<div class="btn-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<br>
					<input class="btn btn-primary" type="button" value="Save" ng-show="operation == 'new' || operation == 'update'"
						ng-click="confirmAction()"> 
					<input class="btn btn-default" type="button" value="Cancel" ng-show="operation == 'new' || operation == 'update'"
						ng-click="cancelAction()">
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script type="text/javascript">
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('ManageController', function ($scope, $http) {
			
			var url = '../../js-secured/iam/assign.js';

			$http.get(url)
				.success(function(data){
					$scope.data = data;
				});
			
			
			var urlUsers = '../../js-secured/iam/users.js';
			$http.get(urlUsers)
				.success(function(users){
					$scope.users = users;
				});
				
			var urlRoles = '../../js-secured/iam/roles.js';
			$http.get(urlRoles)
				.success(function(roles){
					$scope.roles = roles;
				});
			
			$scope.selectedEntry;
            $scope.operation = 'show';
            $scope.errorMessage = null;
			
			$scope.showInfoForEntry = function(entry) {
				if($scope.operation==='show'){
					if($scope.selectedEntry === entry){
						$scope.showEntry = false;
						$scope.selectedEntry = null;
						entry._selected_ = false;
					}else{
						for(var i = 0 ; i < $scope.data.length; i ++){
							$scope.data[i]._selected_ = false;
						}
						entry._selected_ = true;
						$scope.showEntry = true;
						$scope.selectedEntry = entry;
					}
				}
			};
					
			$scope.setOperation = function(operation) {
                      switch (operation) {
                          case 'new':
                              if ($scope.operation !== 'new') {
                            	  $scope.selectedEntry = null;
                                  $scope.operation = 'new';
                              } else {
                                  $scope.operation = 'show';
                              }
                              break;
                          case 'update':
                               if ($scope.operation !== 'update') {
                              	 if ($scope.selectedEntry) {
                                       $scope.operation = 'update';
                                   } else {
                                       alert("Please first select entry for updated");
                                       $scope.operation = 'show';
                                   }
                              } else {
                                  $scope.operation = 'show';
                              }
                              break;
                          case 'delete':
                              if ($scope.operation !== 'delete') {
                                  $scope.operation = 'delete';
                              } else {
                                  $scope.operation = 'show';
                              }
                              break;
                          default:
                              $scope.operation = 'show';
                              break;
                       }
            };
                   
            $scope.confirmAction = function() {
                switch($scope.operation){
                    case 'show':
                        break;
                    case 'new':
                        newEntry($scope.selectedEntry);
                        break;
                    case 'update':
                        updateEntry($scope.selectedEntry);
                        break;
                }
            };

            $scope.cancelAction = function() {
                refreshData();
            };

			$scope.delete = function() {
        	   	if($scope.selectedEntry) {
                 	var confirmed = confirm('Do you realy want to delete the selected entry?');
	               	if(confirmed) {
	                   	delete $scope.selectedEntry._selected_;
	                       deleteEntry($scope.selectedEntry);
	                       $scope.operation = 'show';
	               	}                    	
               	} else {
                   	alert('Please select row from the table.');
				}
			};
                    
			function newEntry(entry){
				delete $scope.selectedEntry._selected_;
				$http.post(url, entry)
				.success(function(){
					refreshData();
					$scope.selectedEntry = null;
                    $scope.operation = 'show';
                    $scope.errorMessage = null;
				})
				.error(function(response){
					$scope.errorMessage = response.err.message;
				});
			}
			
			function updateEntry(entry){
				delete $scope.selectedEntry._selected_;
				$http.put(url, entry)
					.success(function(){
						refreshData();
	                    $scope.operation = 'show';
	                    $scope.errorMessage = null;
					})
					.error(function(response){
						$scope.errorMessage = response.err.message;
					});
			}

			function deleteEntry(entry){
				var primaryKey;
				primaryKey = "id";
				var deleteUrl = url+"?"+primaryKey+"="+entry[primaryKey];
				$http.delete(deleteUrl)
				.success(function(){
					refreshData();
                    $scope.selectedEntry = null;
					$scope.errorMessage = null;
				})
				.error(function(response){
					$scope.errorMessage = response.err.message;
				});
			}
                    
			function refreshData(){
				$http.get(url)
				.success(function(data){
					$scope.data = data;
                    $scope.selectedEntry = null;
                    $scope.operation = 'show';
                    $scope.errorMessage = null;
				})
				.error(function(response){
					$scope.errorMessage = response.err.message;
				});
			}
			
			$scope.dateOptions = {
				startingDay: 1
			};
			$scope.formats = ['yyyy/MM/dd', 'dd-MMMM-yyyy', 'dd.MM.yyyy', 'shortDate'];
  			$scope.format = $scope.formats[0];

			
			
			//pagination
			$scope.viewby = 100;
			var urlCount = url + '?count';
			$http.get(urlCount)
				.success(function(count){
					$scope.totalItems = count;
				});
				
				$scope.currentPage = 1;
				$scope.itemsPerPage = $scope.viewby;
				$scope.maxSize = 5;
			
			$scope.setPage = function (pageNo) {
			    $scope.currentPage = pageNo;
			    $scope.pageChanged();
			};
			
			$scope.pageChanged = function() {
				var urlLimit = url + '?offset=' + ($scope.viewby*($scope.currentPage-1) + '&limit=' + $scope.viewby);
				$http.get(urlLimit)
					.success(function(data){
						$scope.data = data;
					});
			};
			
			$scope.setItemsPerPage = function(num) {
			  	$scope.itemsPerPage = num;
			  	$scope.setPage(1);
			}
		});
		
	</script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
</body>
</html>
