<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>${pageTitle}</title>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/services/web/resources/css/forms.css">
	<script src="/services/web/resources/themes/theme.js"></script>
</head>
<body>

	<div id="wrap" ng-controller="ListAndDetailsController">
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">${pageTitle}</h1>
			</div>
		</div>
		<div class="container">
			<table class="table table-condensed">
				<thead>
					<tr>
#foreach ($tableColumn in $tableColumns) 
#if ($tableColumn.visible)
						<th>${tableColumn.label}</th> 
#end 
#end
					</tr>
				</thead>
				<tbody>
					<tr class="selected-{{entry._selected_}}" ng-repeat="entry in data" ng-click="showInfoForEntry(entry)">
#foreach ($tableColumn in $tableColumns)
#if ($tableColumn.visible)
#if ($tableColumn.widgetType == "date")
						<td>{{entry.${tableColumn.name} | date:format}}</td>
#else
						<td>{{entry.${tableColumn.name}}}</td>
#end
#end
#end
					</tr>
				</tbody>
			</table>
			<div>
				<div>View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>10</option><option>20</option><option>50</option><option selected>100</option></select> records.<div>
	    		<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage" max-size="maxSize" boundary-links="true" force-ellipses="true" rotate="false"></uib-pagination>
			</div>
			<table class="table" ng-show="showEntry">
				<thead>
					<tr>
						<th colspan="2" class="text-center">Details</th>
					</tr>
				</thead>
				<tbody ng-model="selectedEntry">
#foreach ($tableColumn in $tableColumns)
#if ($tableColumn.visible)
					<tr>
						<td width="50%" class="text-right text-muted">${tableColumn.label}</td>
						
#if ($tableColumn.widgetType == "date")
						<td width="50%">{{selectedEntry.${tableColumn.name}  | date:format}}</td>
#else
						<td width="50%">{{selectedEntry.${tableColumn.name}}}</td>
#end
#end
#end
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script type="text/javascript">
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('ListAndDetailsController', function ($scope, $http) {
			
			var url = '${serviceFileName}';

			$http.get(url)
				.success(function(data) {
					$scope.data = data;
				});

			$scope.showEntry = false;
			$scope.selectedEntry;

			$scope.showInfoForEntry = function(entry) {
				if ($scope.selectedEntry === entry) {
					$scope.showEntry = false;
					$scope.selectedEntry = null;
					entry._selected_ = false;
				} else {
					for(var i = 0 ; i < $scope.data.length; i ++){
						$scope.data[i]._selected_ = false;
					}
					entry._selected_ = true;
					$scope.showEntry = true;
					$scope.selectedEntry = entry;
				}
			}
			
			$scope.formats = ['yyyy/MM/dd', 'dd-MMMM-yyyy', 'dd.MM.yyyy', 'shortDate'];
  			$scope.format = $scope.formats[0];
  			
  			// pagination
			$scope.viewby = 100;
  			var urlCount = url + '?count';
			$http.get(urlCount)
				.success(function(count){
					$scope.totalItems = count;
				});
  			
  			$scope.currentPage = 1;
  			$scope.itemsPerPage = $scope.viewby;
  			$scope.maxSize = 5;
			
			$scope.setPage = function (pageNo) {
			    $scope.currentPage = pageNo;
			    $scope.pageChanged();
			};
			
			$scope.pageChanged = function() {
				var urlLimit = url + '?offset=' + ($scope.viewby*($scope.currentPage-1) + '&limit=' + $scope.viewby);
				$http.get(urlLimit)
					.success(function(data){
						$scope.data = data;
					});
			};
			
			$scope.setItemsPerPage = function(num) {
			  	$scope.itemsPerPage = num;
			  	$scope.setPage(1);
			}
  			
		});
	</script>

</body>
</html>
