<link rel="stylesheet" type="text/css" href="templates/monitoring/response/graphics.css" />

<div>
	<h2><span class="label label-default">Response Time per URI</span></h2>
	<div id="response-time-per-uri"></div>
	<script src="templates/monitoring/response/per_uri/graphics.js"></script>
</div>
<hr>
<div>
	<h2><span class="label label-default">Response Time per Project</span></h2>
	<div id="response-time-per-project"></div>
	<script src="templates/monitoring/response/per_project/graphics.js"></script>
</div>
<hr>
<div>
	<h2><span class="label label-default">Response Time per Pattern</span></h2>
	<div id="response-time-per-pattern"></div>
	<script src="templates/monitoring/response/per_pattern/graphics.js"></script>
</div>