.fluidMedia {
	position: relative;
	/* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
	padding-bottom: 56.25%; 
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.fluidMedia iframe {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 100%;
}
