/** Accordion View **/

.dg-accordion {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100px;
}

.dg-accordion .fd-panel__header,
.dg-accordion .fd-panel__expand,
.dg-accordion .fd-panel__button {
  height: 2rem;
  min-height: 2rem;
}

.dg-accordion .fd-panel__button>i {
  font-size: 0.875rem;
  font-weight: 600;
}

.dg-accordion .fd-panel__expand {
  width: 1.5rem;
  min-width: 1.5rem;
}

.dg-accordion .fd-panel__header {
  cursor: pointer;
}

.dg-accordion .fd-panel__title {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
}

.dg-accordion .fd-panel__content {
  -webkit-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/** Layout styles **/

.dg-split-pane.pane-left,
.dg-split-pane.pane-right {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dg-split-pane.pane-center {
  background-color: transparent;
}

.dg-split-pane .pane-bottom {
  background-color: transparent;
}

.dg-split-pane-buttons {
  padding: 0.3rem;
  display: block;
}

.dg-split-pane-buttons .fd-button--compact {
  height: 1.5rem;
  padding: 0;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.dg-split-pane-buttons .fd-button--compact>i {
  font-size: 0.75rem;
}

.dg-splitted-tabs {
  height: 100%;
}