:root {
  --jstree-git: url("/services/web/resources/images/jstree/git.svg");
  --jstree-project: url("/services/web/resources/images/jstree/project.svg");
  --jstree-folder: url("/services/web/resources/images/jstree/folder.svg");
  --jstree-file: url("/services/web/resources/images/jstree/file-code.svg");
  --jstree-menu-arrow-right: url(/services/web/resources/images/jstree/menu-arrow-right.svg);
  --jstree-arrow-down: url("/services/web/resources/images/jstree/arrow-down.svg");
  --jstree-arrow-right: url("/services/web/resources/images/jstree/arrow-right.svg");
  --jstree-arrow-left: url("/services/web/resources/images/jstree/arrow-left.svg");
  --jstree-checkbox-checked: url("/services/web/resources/images/jstree/checkbox-checked.svg");
  --jstree-checkbox-unchecked: url("/services/web/resources/images/jstree/checkbox-unchecked.svg");
  --jstree-checkbox-tristate: url("/services/web/resources/images/jstree/checkbox-tristate.svg");
  --jstree-loader: url("/services/web/resources/images/jstree/loading.svg");
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Backdrop, used internally */

.dg-backdrop {
  display: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
}

.dg-backdrop--active .dg-backdrop {
  display: block;
}

.dg-backdrop--active .fd-popover__control,
.fd-button-split {
  /* Just below the dialogs, just above the backdrop */
  position: relative;
  z-index: 210;
}

.dg-backdrop--active .fd-popover__body,
.fd-menu {
  z-index: 215;
}

.dg-backdrop--active .fd-menu {
  position: relative;
}

/* Vertical navigation icon file */
.dg-nav-item--svg {
  display: inline-block;
  box-sizing: border-box;
}

.dg-nav-item--svg ng-include {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fd-list__navigation-item--indicated .dg-nav-item--svg svg {
  fill: var(--sapSelectedColor, #0854a0);
  color: var(--sapSelectedColor, #0854a0);
}

.dg-nav-item--svg svg {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--fdVerticalNav_Icon_Color, #6a6d70);
  fill: var(--fdVerticalNav_Icon_Color, #6a6d70);
  width: 1rem;
  height: 1rem;
  overflow: visible;
}

.dg-nav-item--svg.dg-nav-item--lg svg {
  width: 1.25rem;
  height: 1.25rem;
}

.dg-nav-item--lg::before {
  font-size: 1.25rem;
}

/* General helper classes */
.dg-opacity-7 {
  opacity: .7;
}

.dg-scroll-hidden {
  overflow: hidden;
}

.dg-fill-parent {
  width: 100%;
  height: 100%;
}

.dg-full-height {
  height: 100%;
}

.dg-full-width {
  width: 100%;
}

.dg-vbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dg-vbox>.fd-container {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.dg-vbox>.fd-title {
  overflow: inherit;
}

.dg-vbox>.fd-toolbar {
  flex-shrink: 0;
}

.dg-hbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dg-hbox>.fd-container {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.dg-hbox>.fd-title {
  overflow: inherit;
}

.dg-hbox>.fd-toolbar {
  flex-shrink: 0;
}

.dg-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dg-center__vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dg-center__horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dg-contain-image {
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.dg-stretch {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-basis: 0;
  min-height: 0;
}

.dg-flex--nowrap {
  flex-wrap: nowrap;
}

.dg-no-border {
  border: none;
}

.dg-no-border-top {
  border-top: none;
}

.dg-no-border-bottom {
  border-bottom: none;
}

.dg-no-border-left {
  border-left: none;
}

.dg-no-border-right {
  border-right: none;
}

.dg-list-border {
  border: solid var(--sapList_BorderWidth, 0.0625rem) var(--sapList_BorderColor, #3a4552);
}

.dg-list-border-top {
  border-top: solid var(--sapList_BorderWidth, 0.0625rem) var(--sapList_BorderColor, #3a4552);
}

.dg-list-border-bottom {
  border-bottom: solid var(--sapList_BorderWidth, 0.0625rem) var(--sapList_BorderColor, #3a4552);
}

.dg-list-border-left {
  border-left: solid var(--sapList_BorderWidth, 0.0625rem) var(--sapList_BorderColor, #3a4552);
}

.dg-list-border-right {
  border-right: solid var(--sapList_BorderWidth, 0.0625rem) var(--sapList_BorderColor, #3a4552);
}

.dg-border-bottom {
  border-bottom: solid 0.0625rem var(--sapGroup_TitleBorderColor, #d9d9d9);
}

.dg-border-top {
  border-top: solid 0.0625rem var(--sapGroup_TitleBorderColor, #d9d9d9);
}

.dg-border-left {
  border-left: solid 0.0625rem var(--sapGroup_TitleBorderColor, #d9d9d9);
}

.dg-border-right {
  border-right: solid 0.0625rem var(--sapGroup_TitleBorderColor, #d9d9d9);
}

.dg-page-header-bg {
  background: var(--sapPageHeader_Background, #fff);
}

.dg-padding-top--none {
  padding-top: 0 !important;
}

.dg-padding-end--none {
  padding-right: 0 !important;
}

.dg-padding-bottom--none {
  padding-bottom: 0 !important;
}

.dg-padding-begin--none {
  padding-left: 0 !important;
}

.dg-checkered-bg {
  background-image:
    -o-linear-gradient(45deg, #949494 25%, transparent 25%, transparent 75%, #949494 75%),
    -o-linear-gradient(45deg, #949494 25%, #c1c1c1 25%, #c1c1c1 75%, #949494 75%);
  background-image:
    linear-gradient(45deg, #949494 25%, transparent 25%, transparent 75%, #949494 75%),
    linear-gradient(45deg, #949494 25%, #c1c1c1 25%, #c1c1c1 75%, #949494 75%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 8px;
}

.dg-popover-text--multiline .fd-text {
  white-space: normal;
}

.dg-font--italic {
  font-style: italic;
}

.dg-restrict-width--sm {
  max-width: 600px;
}

.dg-restrict-width {
  max-width: 1024px;
}

.dg-restrict-width--lg {
  max-width: 1280px;
}

.dg-restrict-width--xl {
  max-width: 1600px;
}

/* fd-tile-container additions */
.fd-tile-container--buttons>.fd-button {
  margin-right: .5rem;
}

.fd-tile-container--buttons>.fd-button:last-child {
  margin-right: 0;
}

/* fd-page helper classes */
.dg-page__content-card {
  padding: 2rem;
}

.dg-page__content-card>.fd-card {
  margin: auto;
  max-width: 1024px;
  min-height: auto;
}

/* fd-wizard helper classes */
.dg-flex--wizard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* fd-icon-tab-bar additions */
.fd-icon-tab-bar__item--overflow+.dg-icon-tab-bar__item--buttons {
  margin: 0 0 0 .5rem;
}

.dg-icon-tab-bar__item--buttons {
  white-space: nowrap;
}

:not(.fd-icon-tab-bar__item--overflow)+.dg-icon-tab-bar__item--buttons-right {
  margin-left: auto;
}

.dg-icon-tab-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dg-icon-tab-bar>.dg-icon-tab-bar-panels,
.dg-icon-tab-bar>.dg-icon-tab-bar-panels>section {
  height: 100%;
}

.dg-icon-tab-bar-tab-hidden {
  visibility: hidden !important;
  position: absolute !important;
}

.dg-icon-tab-hint {
  opacity: .75;
  margin-left: 0.5em;
  white-space: pre;
  font-size: var(--sapFontSmallSize, .9em);
  font-style: italic;
}

/* Tool header fixes */
.fd-button--tool-header {
  width: auto;
  max-width: none;
}

.fd-tool-header__product-name {
  padding-left: .5rem;
  padding-right: .5rem;
}

/* Menu fixes and additions */
.dg-submenu--left {
  margin: .25rem 0 0 .25rem;
}

.dg-menu__sublist--overflow {
  overflow-y: auto;
  max-height: 264px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: var(--sapList_Background, #fff);
}

.dg-menu__sublist--overflow .fd-menu__separator {
  padding-top: .0625rem;
}

/* Form label fix for 0.30.2 */
.fd-form-label--colon {
  padding-right: .25rem;
}

.fd-container.fd-form-layout-grid-container .fd-row .fd-col-md--2>.fd-form-label.fd-form-label--required.fd-form-label--colon {
  padding-right: .75rem;
}

/* fd-form-layout-grid-container fixes */
.fd-container.fd-form-layout-grid-container .fd-row .fd-col {
  overflow: visible;
}

.fd-container.fd-form-layout-grid-container .fd-popover__body {
  z-index: 210;
}

.fd-container.fd-form-layout-grid-container .fd-input-group {
  margin: 0;
}

.fd-form-group.fd-container.fd-form-layout-grid-container ng-transclude {
  width: 100%;
}

.fd-container.fd-form-layout-grid-container .fd-row .fd-col .fd-popover {
  width: 100%;
}

/* fd-form-item fixes */
.fd-container.fd-form-layout-grid-container .fd-form-item .fd-input-group {
  margin: var(--fdInput_Field_Margin, .25rem 0);
}

.fd-container.fd-form-layout-grid-container .fd-row .fd-col>.fd-popover:not(.fd-popover--input-message-group):not([compact="true"]) .fd-popover__control[aria-expanded="false"] {
  margin-bottom: 0.25rem;
}

.fd-container.fd-form-layout-grid-container .fd-row .fd-col>.fd-popover.fd-popover--input-message-group {
  width: 100%;
}

.fd-form-item>.fd-popover.fd-popover--input-message-group .fd-popover__control.is-expanded>*,
.fd-popover__control[aria-expanded="true"]>* {
  margin-bottom: 0.25rem;
}

/* Dialog padding fixes */
.fd-dialog__body.fd-scrollbar:not(.fd-dialog__body--no-vertical-padding) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fd-container.fd-form-layout-grid-container .fd-row .fd-col .fd-select__control {
  margin: 0;
}

/* Combobox and Select (when in toolbar) margin fixes */
.fd-toolbar .fd-popover .fd-input-group {
  margin: 0;
}

/* Table fixes and additions*/
.fd-table .fd-table__cell .fd-select__control {
  margin: 0;
}

.fd-table--no-outer-border .fd-table__cell--no-data,
.dg-table--no-outer-vertical-borders .fd-table__cell--no-data,
.dg-table--bottom-outer-border .fd-table__cell--no-data {
  border: none;
  border-style: none !important;
}

.dg-table--no-outer-horizontal-borders {
  border-top: hidden;
  border-bottom: hidden;
}

.dg-table--no-outer-vertical-borders {
  border-left: hidden;
  border-right: hidden;
}

.dg-table__header-sticky th.fd-table__cell {
  position: sticky;
  top: 0;
  -webkit-box-shadow: inset 0 1px 0 var(--sapList_BorderColor), inset 0 -1px 0 var(--sapList_BorderColor);
  box-shadow: inset 0 1px 0 var(--sapList_BorderColor), inset 0 -1px 0 var(--sapList_BorderColor);
  border-bottom: hidden;
  border-top: hidden;
  z-index: 1;
}

.dg-table--no-outer-horizontal-borders .dg-table__header-sticky th.fd-table__cell,
.fd-table--no-outer-border .dg-table__header-sticky th.fd-table__cell {
  -webkit-box-shadow: inset 0 1px 0 var(--sapList_HeaderBackground), inset 0 -1px 0 var(--sapList_BorderColor);
  box-shadow: inset 0 1px 0 var(--sapList_HeaderBackground), inset 0 -1px 0 var(--sapList_BorderColor);
}

.dg-table__footer-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

/** Split View **/

.dg-split {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dg-split.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.dg-split.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dg-split .gutter {
  background: transparent;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.dg-split .gutter-horizontal {
  background-color: var(--sapGroup_TitleBorderColor, #d9d9d9);
  cursor: col-resize;
  z-index: 1;
}

.dg-split .gutter-vertical {
  background-color: var(--sapGroup_TitleBorderColor, #d9d9d9);
  cursor: row-resize;
  z-index: 0;
}

.dg-split .gutter.gutter-horizontal::after {
  content: '';
  height: 100%;
  width: calc(100% + 3px);
  position: absolute;
  left: -2px;
}

.dg-split .gutter.gutter-horizontal:hover::after {
  background-color: var(--sapActiveColor, #0854a0);
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.dg-split .gutter.gutter-vertical::after {
  content: '';
  height: calc(100% + 3px);
  position: absolute;
  top: -2px;
  width: 100%;
}

.dg-split .gutter.gutter-vertical:hover::after {
  background-color: var(--sapActiveColor, #0854a0);
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.dg-split-pane {
  overflow: hidden;
  display: block;
}

/** ~ end of Split View **/