<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.dirigible.ide.workspace.ui.new.menu" name="NewMenuItem" schema="schema/org.eclipse.dirigible.ide.workspace.ui.new.menu.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.dirigible.ide.workspace.ui.perspective.WorkspacePerspective"
            icon="resources/icons/icon-workspace.png"
            id="workspace"
            name="Workspace">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.dirigible.ide.workspace.ui.category"
            name="Workspace">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.workspace.ui.view.WorkspaceExplorerView"
            icon="resources/icons/icon-workspace.png"
            id="org.eclipse.dirigible.ide.workspace.ui.view.WorkspaceExplorerView"
            name="Workspace Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.workspace.ui.view.LogConsoleView"
            icon="resources/icons/icon-logs.png"
            id="org.eclipse.dirigible.ide.workspace.ui.view.LogConsoleView"
            name="Log Console"
            restorable="true">
      </view>
       <view
            allowMultiple="false"
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.workspace.ui.view.TerminalView"
            icon="resources/icons/terminal.png"
            id="org.eclipse.dirigible.ide.workspace.ui.view.TerminalView"
            name="Terminal"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.workspace.ui.view.LogsView"
            icon="resources/icons/icon-logs.png"
            id="org.eclipse.dirigible.ide.workspace.ui.view.LogsView"
            name="Log Files"
            restorable="true">
      </view>
      <view
            name="Preview"
            icon="resources/icons/preview.png"
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.workspace.ui.view.WebViewerView"
            id="org.eclipse.dirigible.ide.workspace.ui.view.WebViewerView">
      </view>
      <view
            name="Swagger"
            icon="resources/icons/swagger.png"
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.workspace.ui.view.SwaggerView"
            id="org.eclipse.dirigible.ide.workspace.ui.view.SwaggerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.dirigible.ide.workspace.ui.commands.OpenHandler"
            id="org.eclipse.dirigible.ide.workspace.ui.commands.OpenHandler"
            name="Open">
      </command>
      <command
            id="org.eclipse.dirigible.ide.workspace.ui.command.Folder"
            name="Folder">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.workspace.ui.commands.RenameCommandHandler"
            id="org.eclipse.dirigible.ide.workspace.ui.commands.RenameCommandHandler"
            name="Rename">
      </command>command>
      <command
            id="org.eclipse.dirigible.ide.workspace.ui.command.File"
            name="File">
      </command>
     <command
            defaultHandler="org.eclipse.dirigible.ide.workspace.ui.commands.UploadDataHandler"
            id="org.eclipse.dirigible.ide.workspace.ui.commands.UploadDataHandler"
            name="Data">
      </command>      
      <command
            defaultHandler="org.eclipse.dirigible.ide.workspace.ui.commands.UploadHandler"
            id="org.eclipse.dirigible.ide.workspace.ui.commands.UploadHandler"
            name="File">
      </command>
      
      <command
            defaultHandler="org.eclipse.dirigible.ide.workspace.ui.commands.DataExportHandler"
            id="org.eclipse.dirigible.ide.workspace.ui.commands.DataExportHandler"
            name="DataExport">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu">
         <separator
               name="separator.creation"
               visible="false">
         </separator>
         <menu
               id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.new"
               label="New">
           <separator
               name="separator.project"
               visible="false">
         	</separator>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.command.File"
                  icon="resources/icons/icon-txt.png"
                  label="File"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.command.Folder"
                  icon="resources/icons/icon-collection.png"
                  label="Folder"
                  style="push">
            </command>
            <separator
                  name="separator.custom"
                  visible="true">
            </separator>
         </menu>
         <separator
               name="separator.view"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.dirigible.ide.workspace.ui.commands.OpenHandler"
               label="Open"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.open_with"
               label="Open With">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof></iterate>
               </and>
            </visibleWhen>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.commands.OpenHandler"
                  icon="resources/icons/editor-icon.png"
                  label="Default Editor"
                  style="push">
            </command>
            <separator
                  name="separator.custom"
                  visible="true">
            </separator>
         </menu>
         <separator
               name="separator.edit"
               visible="true">
         </separator>
         <menu
               id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.import"
               label="Import">
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.commands.UploadHandler"
                  icon="resources/icons/icon-picture.png"
                  label="File"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IFolder">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.commands.UploadDataHandler"
                  icon="resources/icons/icon-xml.png"
                  label="Data"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
         <menu
               id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.export"
               label="Export">
         </menu>
         <separator
               name="separator.upload"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Rename"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.cut"
               label="Cut"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               label="Paste"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
         <separator
               name="separator.refresh"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="Refresh"
               style="push">
         </command>
         <separator
               name="separator.generate"
               visible="true">
         </separator>
         <menu
               id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.generate"
               label="Generate">
         </menu>
      </menuContribution>

      <menuContribution
            locationURI="menu:id.file">
         <menu
               id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.new"
               label="New">
            <separator
               name="separator.project"
               visible="false">
         	</separator>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.command.File"
                  icon="resources/icons/icon-txt.png"
                  label="File"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.command.Folder"
                  icon="resources/icons/icon-collection.png"
                  label="Folder"
                  style="push">
            </command>
            <separator
                  name="separator.custom"
                  visible="true">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </menu>
         <separator
               name="separator.view"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.dirigible.ide.workspace.ui.commands.OpenHandler"
               label="Open"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.open_with"
               label="Open With">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof></iterate>
               </and>
            </visibleWhen>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.commands.OpenHandler"
                  icon="resources/icons/editor-icon.png"
                  label="Default Editor"
                  style="push">
            </command>
            <separator
                  name="separator.custom"
                  visible="true">
            </separator>
         </menu>
         <separator
               name="separator.edit"
               visible="true">
         </separator>
         <menu
			   id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.import"
               label="Import">
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.commands.UploadHandler"
                  icon="resources/icons/icon-picture.png"
                  label="File"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IFolder">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.commands.UploadDataHandler"
                  icon="resources/icons/icon-xml.png"
                  label="Data"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
         <menu
         	   id="org.eclipse.dirigible.ide.workspace.ui.view.Menu.export"
               label="Export">
               
               <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.commands.DataExportHandler"
                  icon="resources/icons/icon-xml.png"
                  label="Data"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.BasicMenu">
         <command
               commandId="org.eclipse.dirigible.ide.workspace.ui.command.Folder"
               label="New Folder"
               style="push">
         </command>
         <command
               commandId="org.eclipse.dirigible.ide.workspace.ui.command.File"
               label="New File"
               style="push">
         </command>
         <separator
               name="org.eclipse.dirigible.ide.workspace.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.rename"
               label="Rename"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.dirigible.ide.workspace.ui.commands.RenameCommandHandler"
            commandId="org.eclipse.ui.edit.rename">
      </handler>
      <handler
            class="org.eclipse.dirigible.ide.workspace.ui.commands.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh"
            helpContextId="23">
      </handler>
      <handler
            class="org.eclipse.dirigible.ide.workspace.ui.commands.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
      </handler>
      <handler
            class="org.eclipse.dirigible.ide.workspace.ui.commands.CutHandler"
            commandId="org.eclipse.ui.edit.cut">
      </handler>
      <handler
            class="org.eclipse.dirigible.ide.workspace.ui.commands.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
      </handler>
      <handler
            class="org.eclipse.dirigible.ide.workspace.ui.commands.PasteHandler"
            commandId="org.eclipse.ui.edit.paste">
      </handler>
      <handler
            class="org.eclipse.dirigible.ide.workspace.ui.commands.FileHandler"
            commandId="org.eclipse.dirigible.ide.workspace.ui.command.File">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IContainer">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.dirigible.ide.workspace.ui.commands.FolderHandler"
            commandId="org.eclipse.dirigible.ide.workspace.ui.command.Folder">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IContainer">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.dirigible.ide.workspace.ui.command.Folder"
            icon="resources/icons/icon-collection.png">
      </image>
      <image
            commandId="org.eclipse.dirigible.ide.workspace.ui.command.File"
            icon="resources/icons/icon-txt.png">
      </image>
   </extension>
	<extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.eclipse.dirigible.ide.workspace.ui.viewer.WorkspacePropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
       point="org.eclipse.dirigible.ide.workspace.ui.new.menu">
       <newMenuItem
            text="File"
            toolTip="File"
            order="2"
            imageBundle="org.eclipse.dirigible.ide.workspace.ui"
            imagePrefix="/resources/icons/"
            imageName="icon-txt.png"
            defaultHandler="org.eclipse.dirigible.ide.workspace.ui.commands.FileHandler">
        </newMenuItem>
        <newMenuItem
            text="Folder"
            toolTip="Folder"
            order="3"
            imageBundle="org.eclipse.dirigible.ide.workspace.ui"
            imagePrefix="/resources/icons/"
            imageName="icon-collection.png"
            defaultHandler="org.eclipse.dirigible.ide.workspace.ui.commands.FolderHandler">
        </newMenuItem>
 	</extension>
</plugin>
