<style>
	.user-box {
		display: flex;
		flex-direction:column;
		align-items: center;
	}
	
	.user-box>img.user-pic {
		width: 4em; 
		height: 4em; 
		margin-top: 5px;
	}
	
	.user-box>i.user-pic {
		font-size: 4em; 
		margin-bottom: 2px;
	}
	
	.user-box>.user-name {
		font-weight:600;
	}
</style>

<div class="user-box">
	<img ng-if="user.avatarUrl" ng-src="{{user.avatarUrl}}" class="user-pic"/>
	<i ng-if="!user.avatarUrl" class="glyphicon glyphicon-user user-pic"></i>
	<span ng-bind="user.uname" class="user-name"></span>
</div>	
