.load-screen {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.load-screen .progress-bar {
  max-width: 600px;
  width: 100%;
  height: 14px;
}
.load-screen p {
  font-size: 20px;
  margin: 16px;
}
.csv-editor-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
}
.csv-editor {
  flex-grow: 1;
}
.ag-grid-editor {
  flex-grow: 1;
}
.header-input {
  display: none;
  margin: 2px;
  height: 60%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
}
.header-input:focus {
  border: 1px solid #e5f0fa;
}
.quick-actions-bar {
  background-color: #f8f8f8;
  border-top: 1px solid #babfc7;
  border-left: 1px solid #babfc7;
  border-right: 1px solid #babfc7;
  flex-grow: 0;
}
.quick-actions-bar .form-control {
  margin: 6px;
  display: inline-block;
  max-width: 320px;
  height: 27px;
  padding: 6px;
  font-size: 14px;
}
.quick-actions-bar .btn-group {
  height: 100%;
}
.quick-actions-bar .btn-actionbar {
  top: 0;
  height: 100%;
  padding: 8px 16px 8px 16px;
  background-color: transparent;
  border: none;
}
.quick-actions-bar .btn-actionbar:hover {
  background-color: #d4d4d4;
}
.quick-actions-bar .btn-icon-left > i {
  margin-right: 6px;
}
.dropdown-menu .dropdown-item {
  padding: 8px 16px;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #e5f0fa;
}
.dropdown-left-manual {
  right: 0;
  left: auto;
  padding-left: 1px;
  padding-right: 1px;
}
