<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
  
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
	
	<timestamp key="date" datePattern="yyyy-MM-dd"/>

	<!-- Send messages to System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread{8}] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- Send messages to ConsoleLoggingAppender -->
	<appender name="ConsoleLoggingAppender" class="org.eclipse.dirigible.runtime.ide.console.service.ConsoleLoggingAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread{8}] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.eclipse.dirigible" level="DEBUG" additivity="false">
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="ConsoleLoggingAppender" />
	</logger>
	
	<logger name="app" level="ALL" additivity="false">
    	<appender-ref ref="STDOUT" />
    	<appender-ref ref="ConsoleLoggingAppender" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
	<shutdownHook/>
	
</configuration>