<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>${pageTitle}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-resource.min.js"></script>
</head>
<body>
<div ng-include="'header.html'"></div>

	<div id="wrap" ng-controller="DisplayController">
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">${pageTitle}</h1>
			</div>
		</div>
		<div class="container well">
            <div ng-show="urlParameter">
                <div ng-show="exist">
#foreach ($tableColumn in $tableColumns)
#if($tableColumn.visible)
                    <label>${tableColumn.label}</label>
#if ($tableColumn.widgetType == "date")
					<div>{{entity.${tableColumn.name} | date:format}}</div>
#else
					<div>{{entity.${tableColumn.name}}}</div>
#end
                    <br>
#end
#end
                </div>
                
                <div ng-hide="exist">
                    <div class="alert alert-warning">
                        <strong>Warning!</strong>
                        Entity with 
#foreach ($tableColumn in $tableColumns) 
#if ($tableColumn.key)
						${tableColumn.name}
#end
#end
                        = '{{urlParameter}}' does not exists!
                    </div>
                </div>
                
            </div>
            <div ng-hide="urlParameter">
                <div class="alert alert-danger">
            		<strong>Oh snap!</strong> Missing or invalid parameter! Valid parameter is <strong>'{{ primaryKey }}'</strong>
                </div>
            </div>
        </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script type="text/javascript">
	
		function getURLParameter(name) { 
	    	return decodeURIComponent((
	        	new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)
	            || [,""])[1].replace(/\+/g, '%20'))|| null; 
		}
		
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('DisplayController', function ($scope, $http) {
			var url = '${serviceFileName}';
#foreach ($tableColumn in $tableColumns) 
#if ($tableColumn.key)
			$scope.primaryKey = '${tableColumn.name}';
#end 
#end                    
			$scope.urlParameter = getURLParameter($scope.primaryKey);
			$scope.exist = true;
	                    
			if($scope.urlParameter) {
	        	var getUrl = url + '?' + $scope.primaryKey + '=' + $scope.urlParameter;
				
	        	$http.get(getUrl)
	            .success(function(response) {
	            	$scope.entity=response;    
				}).error(function(response) {
					$scope.exist = false;
				})
			}
			$scope.formats = ['yyyy/MM/dd', 'dd-MMMM-yyyy', 'dd.MM.yyyy', 'shortDate'];
  			$scope.format = $scope.formats[0];
		});
	</script>
	<!-- Bootstrap core JavaScript
	  ================================================== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script>
	  $( document ).ready(function() {
	    $\.getJSON("main.menu", function(data) {
			$\.each(data, function(i, item) {
				var itemContent = "";
				if (item.subMenu.length > 0) {
					itemContent += "<li class=\"dropdown\"><a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\">" + item.name + " <b class=\"caret\"></b></a>";
					itemContent += "<ul class=\"dropdown-menu\">";
					$\.each(item.subMenu, function(j, subitem) {
						itemContent += "<li><a href=\"" + subitem.link + "\" >" + subitem.name + "</a></li>";
					});
					itemContent += "</ul>";
				} else {
					itemContent += "<li><a href=\"" + item.link + "\" >" + item.name + "</a>";
				}
				itemContent += "</li>";
				$("#main-menu").append(itemContent);
			});
		});
	  });
	</script>
<div ng-include="'footer.html'"></div>
</body>
</html>
