<!DOCTYPE html>
<html id="ng-app" ng-app="app">
   <head>
      <title>User Profile Avatar Management</title>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="/services/web/resources/css/forms.css">
	  <script src="/services/web/resources/themes/theme.js"></script>
      <!-- Fix for old browsers -->
      <script src="https://nervgh.github.io/js/es5-shim.min.js"></script>
      <script src="https://nervgh.github.io/js/es5-sham.min.js"></script>
      <!-- scripts/angular.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.17/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.17/angular-resource.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.17/angular-route.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.17/angular-sanitize.min.js"></script>
      <!-- end -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-file-upload/1.1.5/angular-file-upload.min.js"></script>
      <script src="controllers.js"></script>
      <style>
         .my-drop-zone { border: dotted 3px lightgray; }
         .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
         .my-list-item:hover { background-color:#E9E9E9; }
         .btn-space { margin-right: 2px !important; margin-left: 2px !important;}
         html, body { height: 100%; }
      </style>
   </head>
   <body>
      <div class="container" ng-controller="DocServiceCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
 		 
 		 <div class="row">
 		   <div style="margin-top: 30px">
		     <iframe id="avatar" src="../../js/profile/avatar.js" width="100%" height="48px" style='border: 0px'></iframe>
		 	 <button class="btn btn-default" onclick="reloadIFrame()">Refresh</button>
           <div>
         </div>
         
         
         <div class="row">
            <div >
               <h3>Upload files</h3>
               <div ng-show="uploader.isHTML5">
                  <!-- 3. nv-file-over uploader="link" over-class="className" -->
                  <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                     Drop files here
                  </div>
               </div>
               <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
               or browse your file system
               <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
               
            </div>
            <div  style="margin-bottom: 40px">
               <h3>Upload queue</h3>
               <p>Queue length: {{ uploader.queue.length }}</p>
               <table class="table">
                  <thead>
                     <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                           <div class="progress" style="margin-bottom: 0;">
                              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                           </div>
                        </td>
                        <td class="text-center">
                           <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                           <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                           <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                           <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                           <span class="glyphicon glyphicon-upload"></span> Upload
                           </button>
                           <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                           <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                           </button>
                           <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                           <span class="glyphicon glyphicon-trash"></span> Remove
                           </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
               
            </div>
         </div>
      </div>
     
     <script>
     	function reloadIFrame() {
			document.getElementById("avatar").src = "../../js/profile/avatar.js";
		}
     </script>
     
   </body>
</html>
