<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Profile</title>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/services/web/resources/css/forms.css">
	<script src="/services/web/resources/themes/theme.js"></script>
</head>
<body style="margin-left: 20px; margin-top: 30px;">

	<div id="wrap" ng-controller="NewOrEditController">
		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">Profile</h1>
			</div>
		</div>
		<div class="container well">
            <div>
            	<div class="alert alert-danger" ng-show="errorMessage">
                    <strong>Oh snap!</strong> {{errorMessage}}
                </div>
                <div class="alert alert-success" ng-show="successfullyUpdated">
                    <strong>Well done!</strong> Entity successfully updated!
                </div>
                <div>
                    <input type="hidden" class="form-control" ng-model="entity.user_id" readonly>
					<br>
					<label>Username</label> 
					<input type="text" class="form-control" ng-model="entity.user_username" readonly>
					<br>
					<label>Password</label> 
					<input type="password" class="form-control" ng-model="entity.user_password" required="required">
					<br>
					<label>Confirm</label> 
					<input type="password" class="form-control" ng-model="entity.user_confirm" required="required">
					<br>
					<label>First Name</label> 
					<input type="text" class="form-control" ng-model="entity.user_firstname" required="required">
					<br>
					<label>Last Name</label> 
					<input type="text" class="form-control" ng-model="entity.user_lastname" required="required">
					<br>
					
					<a href='avatar.html' target="_blank"><img src="../../js/profile/avatar.js"></img></a>
					
					<br><br><br>
					
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="updateEntity()">Update</button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="cancelUpdate()">Reload</button>
                    </div>
                </div>

        </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script type="text/javascript">
	
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('NewOrEditController', function ($scope, $http) {
			var url = '../../js-secured/profile/user.js';
	        $scope.errorMessage = null;
	        $scope.successfullyUpdated = false;
	
        	$http.get(url)
        	.success(function(response){
            	$scope.entity=response;    
			}).error(function(response){
            	$scope.exist = false;
			});
	        
	        $scope.updateEntity = function(){
	        	if ($scope.entity.user_password === $scope.entity.user_confirm) {
		        	$http.put(url, $scope.entity)
		        	.success(function (response){
		        		$scope.successfullyUpdated = true;
		                $scope.errorMessage = null;
		            }).error(function(response){
		                $scope.successfullyUpdated = false;
		                $scope.errorMessage = response.err.message;
		            });
		        } else {
					$scope.errorMessage = "Password and Confirm entries do not match";
				}
			}
	                    
	        $scope.cancelUpdate = function(){
	        	$scope.errorMessage = null;
	        	
	        	$http.get(url)
	        	.success(function(response){
					$scope.entity=response;    
				}).error(function(response){
	            	$scope.exist = false;
				});
			}
	        
	        $scope.dateOptions = {
					startingDay: 1
			};
			$scope.formats = ['yyyy/MM/dd', 'dd-MMMM-yyyy', 'dd.MM.yyyy', 'shortDate'];
  			$scope.format = $scope.formats[0];
	        
	                    
		});
		
	</script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	
</body>
</html>
