.mx-sidebar-icon {
  font-size: 1.25rem;
  padding: 0.438rem 0.875rem;
  color: var(--sapButton_Lite_TextColor);
}

.mx-sidebar-icon:hover {
  cursor: pointer;
  background-color: var(--sapButton_Lite_Hover_Background #ebf5fe);
}

.outlineContainer {
  background: var(--sapBackgroundColor, #f7f7f7);
  box-sizing: border-box;
  top: 2.75rem;
  border: solid 0.0625rem var(--sapGroup_TitleBorderColor, #d9d9d9);
  border-top: none;
  border-right: none;
}

.editorContainer {
  height: calc(100% - var(--fdToolbar_Height, 2.75rem));
}

div.mxPopupMenu {
  background-color: var(--sapList_Background, #fff) !important;
  font-size: var(--sapFontSize, 0.875rem);
  line-height: var(--sapContent_LineHeight, 1.4);
  color: var(--sapTextColor, #32363a);
  font-family: var(--sapFontFamily, "72", "72full", Arial, Helvetica);
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  border-style: none;
  border-width: 0;
  border-color: transparent;
  -webkit-box-shadow: var(--sapContent_Shadow1,
      0 0 0 0.0625rem rgba(0, 0, 0, 0.42),
      0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3));
  box-shadow: var(--sapContent_Shadow1, 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3));
  border-radius: var(--sapElement_BorderCornerRadius, 0.25rem);
  opacity: 1;
}

table.mxPopupMenu {
  margin-top: 3px;
  margin-bottom: 3px;
}

tr.mxPopupMenuItem {
  color: var(--sapTextColor, #32363a) !important;
}

tr.mxPopupMenuItemHover {
  color: var(--sapTextColor, #32363a) !important;
  background-color: var(--sapList_Hover_Background, #f5f5f5);
}

td.mxPopupMenuItem {
  padding: 0.625rem 0.625rem 0.625rem 0px;
  white-space: nowrap;
  font-family: var(--sapFontFamily, "72", "72full", Arial, Helvetica);
  font-weight: 400;
  font-size: var(--sapFontSize, 0.875rem);
}

td.mxPopupMenuIcon {
  padding: 0.625rem !important;
  color: var(--sapTextColor, #32363a);
  background: transparent;
}

.dsm-table-icon {
  color: var(--sapTextColor, #32363a);
  margin-right: 0.125rem;
  font-family: var(--sapFontFamily, "72", "72full", Arial, Helvetica);
  font-weight: 400;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
}

.dsm-table-spacer {
  display: inline-block;
  width: 1rem;
  height: 1px;
  margin-right: 0.125rem;
}

@media only screen and (min-width: 853px) {
  .edmSmallScreen {
    display: none;
  }
}

@media only screen and (max-width: 852px) {
  .edmBigScreen {
    display: none;
  }
}