<!DOCTYPE HTML>
<html>
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <title>${pageTitle}</title>
        <script src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
                type="text/javascript"
                id="sap-ui-bootstrap"
                data-sap-ui-libs="sap.ui.core, sap.ui.commons, sap.ui.table, sap.ui.ux3"
                data-sap-ui-theme="sap_goldreflection" >
        </script>
		<script>
		// Main View
		var VIEW_NAME = "ui.main";

		sap.ui.jsview(VIEW_NAME, {
		    shell: undefined,
		    frameHolder: undefined,
		    getControllerName: function() {
		        return VIEW_NAME;
		    },
		    createContent: function(controller) {
		        this._createShell(controller);
		        return this.shell;
		    },
		    _createShell: function(controller) {
		        this.shell = new sap.ui.ux3.Shell();
		        this.shell.setAppTitle("${pageTitle}");
		        this.shell.setAppIcon("http://www.sap.com/global/ui/images/global/sap-logo.png");
		        this.shell.setShowInspectorTool(false);
		        this.shell.setShowSearchTool(false);
		        this.shell.setShowFeederTool(false);
		        this.shell.attachWorksetItemSelected( function(oEvent) {
		            controller.handleWorksetItemSelected(oEvent);
		        });
		        this.shell.setContent(this._createFrameHolder());
		        return this.shell;
		    },
		    _createFrameHolder : function() {
		        this.frameHolder = new sap.ui.core.HTML("frameHolder");
		        return this.frameHolder;
		    }
		});

		</script>
		<script>
		// Main Controller
		var CONTROLLER_NAME = "ui.main";
		sap.ui.controller(CONTROLLER_NAME, {
		    scenarios: null,
		    onInit: function() {
		        // Load workset items async
		        var that = this;
		        $\.getJSON('main.menu', function(data) {
		            that._handleWorksetItemsLoaded(data);
		        });
		    },
		    handleWorksetItemSelected: function(event) {
		        var link = event.getParameter("key");
		        this._setContentFromUrl(link);
		    },
		    _setContentFromUrl : function(url) {
				$("#frameHolder").attr('src', url);
		    },
		    _handleWorksetItemsLoaded : function(data) {
		        for (var i = 0; i < data.length; ++i) {
		            var worksetItem = this._createWorksetItem(data[i]);
		            this.getView().shell.addWorksetItem(worksetItem);
		        }
		        if (data[0].subMenu != null) {
		            this._setContentFromUrl(data[0].subMenu[0].link);
		        } else {
		            this._setContentFromUrl(data[0].link);
		        }
		    },
		    _createWorksetItem : function(data) {
		        var worksetItem = new sap.ui.ux3.NavigationItem({
		            key : data.link, 
		            text : data.name
		            });
		        var subMenu = data.subMenu;
		        if (subMenu != null) {
		            for (var i = 0; i < subMenu.length; ++i) {
		                worksetItem.addSubItem(this._createWorksetItem(subMenu[i]));
		            }
		        }
		        return worksetItem;
		    }
		});
		</script>
		<script type="text/javascript">
			function iframeLoaded() {
		        var iFrameID = document.getElementById('frameHolder');
		        if(iFrameID) {
		        	$(iFrameID).css("height",  "680px");
		        }   
		    }
		</script>   
		
        <script>
            $(function() {
                var mainView = sap.ui.jsview(VIEW_NAME);
                mainView.placeAt("content");
                $(window).on("resize", iframeLoaded);
            })
        </script>
    </head>
    <body class="sapUiBody">
        <div id="content">
            <iframe id="frameHolder" src="" frameBorder="0" onload="iframeLoaded()" width="100%" >
            </iframe>
        </div>
    </body>
</html>
