<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	 <extension point="org.eclipse.equinox.http.registry.servlets" id="MobileRegistryServlet">
        <servlet
              alias="/mobile"
              class="org.eclipse.dirigible.runtime.mobile.MobileRegistryServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension point="org.eclipse.equinox.http.registry.servlets" id="MobileRegistrySecuredServlet">
        <servlet
              alias="/mobile-secured"
              class="org.eclipse.dirigible.runtime.mobile.MobileRegistrySecuredServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension point="org.eclipse.equinox.http.registry.servlets" id="MobileRegistrySandboxServlet">
        <servlet
              alias="/mobile-sandbox"
              class="org.eclipse.dirigible.runtime.mobile.MobileRegistrySandboxServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension point="org.eclipse.equinox.http.registry.servlets" id="MobileRegistryUiContentServlet">
        <servlet
              alias="/mobile/content"
              class="org.eclipse.dirigible.runtime.mobile.MobileRegistryUiContentServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension point="org.eclipse.equinox.http.registry.servlets" id="MobileRegistryUiContentSecuredServlet">
        <servlet
              alias="/mobile/content-secured"
              class="org.eclipse.dirigible.runtime.mobile.MobileRegistryUiContentSecuredServlet"
              load-on-startup="false">
        </servlet>
     </extension>

     <extension point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/mobile-sandbox"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
     
     <extension point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/mobile"
              class="org.eclipse.dirigible.runtime.mobile.MobileRegistrySecureFilter">
        </filter>
     </extension>
     
     <extension point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/mobile-secured"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
</plugin>
