<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.dirigible.ide.repository.ui.perspective.RepositoryPerspective"
            fixed="false"
            icon="resources/icons/icon-repository.png"
            id="repository"
            name="Repository">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.repository.ui.view.RepositoryView"
            icon="resources/icons/icon-repository.png"
            id="org.eclipse.dirigible.ide.repository.ui.view.RepositoryView"
            name="Repository Browser"
            restorable="true">
      </view>
      <view
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.repository.ui.view.ResourceHistoryView"
            icon="resources/icons/icon-history.png"
            id="org.eclipse.dirigible.ide.repository.ui.view.ResourceHistoryView"
            name="Resource History">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:menu.repository">
         <command
               commandId="org.eclipse.dirigible.ide.repository.ui.command.OpenHandler"
               label="Open"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.dirigible.repository.api.IResource">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="separator.refresh"
               visible="true">
         </separator>
         <!--
         <command
               commandId="org.eclipse.dirigible.ide.repository.ui.command.RenameHandler"
               label="Rename"
               style="push">
         </command>
         -->
         <command
               commandId="org.eclipse.dirigible.ide.repository.ui.command.CutHandler"
               label="Cut"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test property="org.eclipse.dirigible.ide.repository.ui.tester.RepositoryPermissionTester" value="cut"></test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.dirigible.ide.repository.ui.command.CopyHandler"
               label="Copy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test property="org.eclipse.dirigible.ide.repository.ui.tester.RepositoryPermissionTester" value="copy"></test>
               </iterate>
            </visibleWhen>
         </command>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test property="org.eclipse.dirigible.ide.repository.ui.tester.RepositoryPermissionTester" value="copy"></test>
               </iterate>
            </visibleWhen>
         <command
               commandId="org.eclipse.dirigible.ide.repository.ui.command.PasteHandler"
               label="Paste"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test property="org.eclipse.dirigible.ide.repository.ui.tester.RepositoryPermissionTester" value="paste"></test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.dirigible.ide.repository.ui.command.DeleteHandler"
               label="Delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test property="org.eclipse.dirigible.ide.repository.ui.tester.RepositoryPermissionTester" value="delete"></test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.dirigible.ide.repository.ui.command.RefreshHandler"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
        	   properties="RepositoryPermissionTester"
         	   namespace="org.eclipse.dirigible.ide.repository.ui.tester"
               class="org.eclipse.dirigible.ide.repository.ui.tester.RepositoryPermissionTester"
               id="org.eclipse.dirigible.ide.repository.ui.tester.RepositoryPermissionTester"
               type="org.eclipse.dirigible.repository.api.IEntity">
         </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.dirigible.ide.repository.ui.command.OpenHandler"
            id="org.eclipse.dirigible.ide.repository.ui.command.OpenHandler"
            name="Open">
      </command>
      <!--
      <command
            defaultHandler="org.eclipse.dirigible.ide.repository.ui.command.RenameHandler"
            id="org.eclipse.dirigible.ide.repository.ui.command.RenameHandler"
            name="Open">
      </command>
      -->
      <command
            defaultHandler="org.eclipse.dirigible.ide.repository.ui.command.RefreshHandler"
            id="org.eclipse.dirigible.ide.repository.ui.command.RefreshHandler"
            name="Refresh">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.repository.ui.command.DeleteHandler"
            id="org.eclipse.dirigible.ide.repository.ui.command.DeleteHandler"
            name="Delete">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.repository.ui.command.CutHandler"
            id="org.eclipse.dirigible.ide.repository.ui.command.CutHandler"
            name="Cut">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.repository.ui.command.CopyHandler"
            id="org.eclipse.dirigible.ide.repository.ui.command.CopyHandler"
            name="Copy">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.repository.ui.command.PasteHandler"
            id="org.eclipse.dirigible.ide.repository.ui.command.PasteHandler"
            name="Paste">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.dirigible.repository.api.IEntity"
            class="org.eclipse.dirigible.ide.repository.ui.adapters.RepositoryPropertiesAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   
</plugin>
