var rsdata = require('http/v3/rs-data'); 

rsdata
  .service()
    .dao({
	  "table": "{{dataName}}",
	  "properties": [
	  {{#properties}}
	  	{
		  	"name": "{{name}}",
	    	"column": "{{dataName}}",
			"type":"{{dataType}}",
			"id": "{{dataPrimaryKey}}",
			"required": "{{dataNullable}}"
		},
	  {{/properties}}
	  ]
    })
  .execute();
  