<link rel="stylesheet" type="text/css" href="templates/monitoring/hits/graphics.css" />

<div>
	<h2><span class="label label-default">Hits per URI</span></h2>
	<div id="hits-per-uri"></div>
	<script src="templates/monitoring/hits/per_uri/graphics.js"></script>
</div>
<hr>
<!-- # 177
<div>
	<h2><span class="label label-default">Hits per Project</span></h2>
	<div id="hits-per-project"></div>
	<script src="templates/monitoring/hits/per_project/graphics.js"></script>
</div>
<hr>
-->
<div>
	<h2><span class="label label-default">Hits per Pattern</span></h2>
	<div id="hits-per-pattern"></div>
	<script src="templates/monitoring/hits/per_pattern/graphics.js"></script>
</div>
<hr>
<div>
	<h2><span class="label label-default">Hits by URI</span></h2>
	<div id="main">
		<div id="sequence"></div>
		<div id="chart">
			<div id="explanation" style="visibility: hidden;">
				<span id="percentage"></span><br /> of the access
			</div>
		</div>
	</div>
	<script src="templates/monitoring/hits/by_uri/graphics.js"></script>
</div>