.hits-graphics {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#main {
  margin-top: 10px;
  float: left;
  width: 750px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#sequence text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-size: 2.5em;
}