<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.js.command.JavascriptServiceCommandHandler"
               icon="icons/wizard_javascript-service.png"
               label="Scripting Service"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.js.command.JavascriptServiceCommandHandler"
               icon="icons/wizard_javascript-service.png"
               label="Scripting Service"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.dirigible.ide.template.ui.js.command.JavascriptServiceCommandHandler"
            id="org.eclipse.dirigible.ide.template.ui.js.command.JavascriptServiceCommandHandler"
            name="Scripting Service">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.dirigible.ide.template.type">
      <template
            category="ScriptingServices"
            image="/icons/javascript-service.png"
            location="/org/eclipse/dirigible/ide/template/ui/js/templates/javascript-service.js"
            text="Server-Side JavaScript Service">
      </template>
      <template
            category="ScriptingServices"
            image="/icons/guid-generator.png"
            location="/org/eclipse/dirigible/ide/template/ui/js/templates/guid-generator.js"
            text="Server-Side JavaScript Guid Generator Library">
      </template>
      <template
            category="ScriptingServices"
            image="/icons/database-access.png"
            location="/org/eclipse/dirigible/ide/template/ui/js/templates/database-access.js"
            text="Database Access Sample">
      </template>
      <template
            category="ScriptingServices"
            image="/icons/database-crud.png"
            location="/org/eclipse/dirigible/ide/template/ui/js/templates/database-crud.js"
            text="Entity Service on Table">
      </template>
       <template
            category="ScriptingServices"
            image="/icons/java-service.png"
            location="/org/eclipse/dirigible/ide/template/ui/js/templates/java-service.java_"
            text="Java Service">
      </template>
      <!-- Ruby Template
      <template
            category="ScriptingServices"
            image="/icons/ruby-service.png"
            location="/org/eclipse/dirigible/ide/template/ui/js/templates/ruby-service.rb"
            text="Ruby Service">
      </template>
      
      <template
            category="ScriptingServices"
            image="/icons/groovy-service.png"
            location="/org/eclipse/dirigible/ide/template/ui/js/templates/groovy-service.groovy"
            text="Groovy Service">
      </template>
      -->
      <template
            category="ScriptingServices"
            image="/icons/terminal-command.png"
            location="/org/eclipse/dirigible/ide/template/ui/js/templates/terminal-command.command"
            text="Terminal Command">
      </template>
   </extension>
   
   <extension
       point="org.eclipse.dirigible.ide.workspace.ui.new.menu">
       <newMenuItem
            text="Scripting Service"
            toolTip="Scripting Service"
            order="6"
            imageBundle="org.eclipse.dirigible.ide.template.ui.js"
            imagePrefix="/icons/"
            imageName="wizard_javascript-service.png"
            defaultHandler="org.eclipse.dirigible.ide.template.ui.js.command.JavascriptServiceCommandHandler">
        </newMenuItem>
 	</extension>
   
</plugin>
