html, body {
    height: 100%;
    margin: 0;         /* Reset default margin on the body element */
}
iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    width: 100%;
    height: 100%;
}
body {
  background-color: #343436;
  color: #f6f6f6;
  
  --modeler-entity-border: #d7e6f4;
  --modeler-entity-header-background: #224f77;
  --modeler-entity-header-color: #fff;
  --modeler-entity-background: #fff;
  --modeler-entity-color: #224f77;
  --modeler-entity-connector: #d7e6f4;
}
.navbar {
	margin-bottom: 0px !important;
}
.shell {
	display: -webkit-flex;
	display: flex;
	flex-wrap: row wrap;
	width: 100%;
	height: calc(100% - 24px);
}
.sidebar {
	width: 4.5em;
	vertical-align: top;
	-webkit-flex: none;
	flex: none;
	position: relative;
	top: 20px;
}
.plane {
 	-webkit-flex: 1;
 	flex: 1 1 auto;
    position: absolute;
	width: calc(100% - 4.5em);
	height: calc(100% - (24px + 2em));
	left: 4.5em;
	top: 24px;
}
.statusbar {
	width: 100%;
	height: 2em;
	background: #d41;
	color: #fff;
	position: relative;
}
.list-group-item {
  background: none !important;
  border: transparent !important;
}

a.list-group-item.hover,
a.list-group-item:hover{
  background-color: #555;
  color: #fff;
}

nav.navbar {
  background-color: transparent;
  border: transparent;
  top: 0;
}

nav.navbar a{
  line-height: 21px;
}
nav.navbar .dropdown-menu{
  border: 0px;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #555;
}

.lm_header,
.lm_header .lm_tab,
.lm_header .lm_tab, .lm_title {
  height: 19px;
  line-height: 19px;
}
.lm_header .lm_tab.lm_active{
  box-shadow: none;
  padding-bottom: 4px;
}
 
.lm_header .lm_tab {
  /*border: 1px solid #555;*/
  padding-bottom: 4px;
  box-shadow: none;
  /*top: 1px;  */
}
.lm_header, .lm_splitter{
  background-color: #292929;
}
.lm_splitter{
  opacity: inherit;
}
.lm_items {
  /*border: 1px solid #555;*/
	border: 0;
}

.vakata-context, .vakata-context ul {
    box-shadow: none;
}

.vakata-context li>a {
	font-size: 11px;
    line-height: 2em;
    height: 2.2rem;
    font-family: arial;
	padding: 0 2rem;
}

.vakata-context li>a>i:empty {
    width: 2rem;
    line-height: 2rem;
}

.vakata-context li>a>i {
	height: 2.2rem;
	margin: 0 0 0 -2rem;
}

.vakata-context li>a .vakata-contextmenu-sep {
	height: 2.2rem;
	margin: 0 .5em 0 0;
}

ul.vakata-context.jstree-contextmenu > li > a {
	display: block;
}
ul.vakata-context.jstree-contextmenu span.vakata-contextmenu-shortcut {
	display: block;
	color: #292929;
	float:right;
	margin-left: 2rem;
}

.view {
	background-color: #929292;
	color: #f6f6f6;
}

.logo {
	font-weight: bold !important;
	color: #eee;
	margin-left: 12px !important;
}

.user {
	color: #eee;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.key {
  flex: 1 1 auto;
  max-width: 15%;
  padding: 2px 5px;
  background: #292929;
}
.value {
  flex: 2 1 auto;
  padding: 2px 5px;
}
.striped-container .striped-item:nth-of-type(odd) {
  background: #565656;
}
.striped-container .striped-item:nth-of-type(odd) .key {
  background: #222;
}
.striped-container .striped-item:nth-of-type(odd) .value {
  background: #292929;
}
.striped-item:hover .value {
  background: rgba(86, 86, 86, 0.85);
}
.striped-item:nth-of-type(odd):hover .value{
  background: rgba(41, 41, 41, 0.85);
}

.modal {
	color: #ccc;
}
.modal-backdrop.in{
	opacity:.8;filter:alpha(opacity=50)
}

.navbar-brand {
    font-weight: normal !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

/** Modelers */

.toolbarContainer {
	position:absolute;
	white-space:nowrap;
	overflow:hidden;
	top:0px;
	left:0px;
	/*max-height:24px;*/
	height:36px;
	right:0px;
	padding:6px;
	background-color:#222;
}

.sidebarContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	left:0px;
	bottom:36px;
	max-width:34px;
	width:34px;
	padding-top:10px;
	padding-left:4px;
	background-color:#777;
	color:#d7e6f4 !important;
}

.graphContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	left:60px;
	bottom:36px;
	right:0px;
}

.outlineContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	right:0px;
	width:200px;
	height:140px;
	background:transparent;
	border-style:solid;
	border-color:#333333;
}

.statusContainer {
	text-align:right;
	position:absolute;
	overflow:hidden;
	bottom:0px;
	left:0px;
	/*max-height:24px;*/
	height:36px;
	right:0px;
	color:#3277b3;
	padding:6px;
	background-color:#222;
}

.button {
	color:#ddd !important;
}

.button:hover {
	background: #555 !important;
	color:#eee !important;
}
