
<script>

	var http;
	var path;

	// this needs to be in the global scope
	editor = null;
	
	function createEditor(content, contentType) {
		require.config({waitSeconds: 0});
	    require(["orion/code_edit/built-codeEdit", "orion/orion/keyBinding"], function(widget, mKeyBinding) {
	        var codeEdit = new widget();
	        codeEdit.create({parent: "editor", contentType: contentType, contents: content})
	            .then(function(editorViewer) {
	                editor = editorViewer.editor;
	                var savedText = content;
	                var isDirty = false;
	                editor.getTextView().setKeyBinding(new mKeyBinding.KeyBinding("s", true), "save");
	                editor.addEventListener("DirtyChanged", function(evt) {
	                    var newText = editor.getText();
	                    if (savedText !== newText && !isDirty) {
	                        isDirty = true;
	                        dirtyChanged(true);
	                    } else if (savedText === newText && isDirty) {
	                        isDirty = false;
	                        dirtyChanged(false);
	                    }
	                });
	                editorViewer.editor.getTextView().setAction("save", function(){ //$NON-NLS-0$
	                    savedText = editor.getText();
	                    isDirty = false;
	                    saveCalled();
	                    return true;
	                });
	                
	                
	                // explicitly set the read only mode for empty files
	                editor.getTextView()._readonly = false;
	                
	                document.getElementById("progressMessageDiv").textContent = "Plugins loaded!";
	            	setupOnce(editorViewer);
	            });
	    });
	}
	
	function saveCalled() {
		
		debugger
		
		if (http) {
			http({
	        	  method: 'PUT',
	        	  url: path,
	        	  data: editor.getText()
	        	}).then(function successCallback(response) {
	        		console.log(path + " saved successfully");
	        	  }, function errorCallback(response) {
	        		  console.log("Error saving " + path + "\n" + response);
	        	  });
		}
	}

	function publishCalled() {
		
		debugger
		
		if (http) {
			http({
	        	  method: 'PUT',
	        	  url: path,
	        	  data: editor.getText()
	        	}).then(function successCallback(response) {
	        		console.log(path + " saved successfully");
	        		var publishPath = path;
	    			publishPath = publishPath.substring(publishPath.indexOf('/') + 1);
	    			publishPath = publishPath.substring(publishPath.indexOf('/') + 1);
	    			publishPath = "/publish/" + publishPath;
	    			http({
	    	        	  method: 'POST',
	    	        	  url: publishPath
	    	        	}).then(function successCallback(response) {
	    	        		console.log(publishPath + " published successfully");
	    	        	  }, function errorCallback(response) {
	    	        		  console.log("Error publishing " + publishPath + "\n" + response);
	    	        	  });
	        	  }, function errorCallback(response) {
	        		  console.log("Error saving " + path + "\n" + response);
	        	  });
		}
	}
	
	function getText() {
	    return editor.getText();
	}
	
	function setText(text, mode) {
	    createEditor(text, mode);
	}
	
</script>
		
 
<div ng-controller="WorkspaceListCtrl" class="container-fluid">
  <div class="row" ng-hide="mainError">
    <div class="col-xs-18 collapse in" id="left">
      <div class="input-group list-group">
        <input type="text" class="form-control" placeholder="Search for file" ng-model="search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search = undefined">Clear</button>
        </span>
      </div>
      <div class="" ng-show="searchError && search">
        <div class="alert alert-danger"> <strong>Oh snap!</strong>
          {{ searchError.status }} - {{ searchError.data }}
        </div>
      </div>
      <ol ng-show="paths" class="breadcrumb">
        <li ng-repeat="path in paths">
          <a href="" ng-click="crumbsChanged(path)">{{ path.name }}</a>
        </li>
      </ol>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="single in selected.files" ng-click="change(single)">
          <span class="badge-right glyphicon glyphicon-{{ single.folder ? 'folder-close' : 'file' }}"></span>
          <span ng-show="single.files" class="badge">{{ single.files.length }}</span>
          <a ng-href="{{single.path}}" title="Open location in new tab" target='_blank' style="float: right;">
          	<span ng-hide="single.folder" class="badge badge-clean glyphicon glyphicon-open-file" style="color:initial !important;font-size: 1.6rem;">
              <!-- <img ng-src="images/open.png"/> -->
          	</span>
          </a>
          <span ng-hide="single.folder" class="badge badge-clean glyphicon glyphicon-copy" style="color:initial !important;font-size: 1.6rem;" title="Copy location" ng-click="copyFile(single)">
            <!-- <img title="Copy location" ng-src="images/copy.png" ng-click="copyFile(single)"/> -->
          </span>
          {{ single.name }}
        </div>
        <div class="alert alert-warning" role="alert" ng-show="!selected.files || selected.files.length === 0">No content.</div>
      </div>
    </div>
    <div class="col-xs-18">
   	  	<button class="btn" data-toggle="collapse" data-target="#left" style="position: relative; top: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;" title="Toggle workspace navigation">
   	  		<span class="glyphicon glyphicon-menu-up"></span>
   	  	</button>
    	<div>
	      	<!--  iframe seamless ng-src="{{ securedUrl(iframeSrc) }}"></iframe -->
			<div id="editor-toolbar" style="background-color: #e8e8e8;padding: 1.3rem;">
				<button type="button" class="btn btn-success btn-s" style="font-family: Helvetica" onCLick="saveCalled();"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
				<button type="button" class="btn btn-info btn-s" onClick="publishCalled();"><span class="glyphicon glyphicon-play-circle"></span> Publish</button>
			</div>
      		<div id="editor" style="height: 400px"></div>
      	</div>
    </div>
  </div>
  <div class="row" ng-show="mainError">
    <div class="alert alert-danger"> <strong>Oh snap!</strong>
      {{ mainError.status }} - {{ mainError.data }}
    </div>
  </div>
</div>
