var rsdata = require('http/v3/rs-data'); 

rsdata
  .service()
    .dao({
	  "table": "{{dataName}}",
	  "properties": [
	  {{#properties_}}
	  	{
		  	"name": "{{value.name}}",
			"column": "{{value.dataName}}",
			"type":"{{value.dataType}}",
			"id": "{{value.dataPrimaryKey}}",
			"required": "{{value.dataNullable}}"
		}{{^last}},{{/last}}
	  {{/properties_}}
	  ]
    })
  .execute();
