<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.dirigible.ide.generic.ui.GenericPerspective"
            icon="resources/generic.png"
            id="generic"
            name="Generic">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.dirigible.ide.generic.ui.category"
            name="Generic">
      </category>
      <view
            class="org.eclipse.dirigible.ide.generic.ui.GenericView"
            category="org.eclipse.dirigible.ide.generic.ui.category"
            icon="resources/generic.png"
            id="org.eclipse.dirigible.ide.generic.ui.GenericView"
            name="Generic"
            restorable="false"
			allowMultiple="true">
      </view>
      <view
            class="org.eclipse.dirigible.ide.generic.ui.GenericListView"
            category="org.eclipse.dirigible.ide.generic.ui.category"
            icon="resources/list.png"
            id="org.eclipse.dirigible.ide.generic.ui.GenericListView"
            name="List"
            restorable="true">
      </view>
   </extension>
   

</plugin>
