<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Database"
            id="org.eclipse.dirigible.ide.db.viewer">
      </category>
      <view
            name="Database Browser"
            icon="icons/icon-schema.png"
            category="org.eclipse.dirigible.ide.db.viewer"
            class="org.eclipse.dirigible.ide.db.viewer.views.DatabaseViewer"
            id="org.eclipse.dirigible.ide.db.viewer.views.DatabaseViewer">
      </view>
      
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.dirigible.ide.db.viewer.perspective.DatabasePerspective"
            icon="icons/icon-schema.png"
            id="database"
            name="Database">
      </perspective>
   </extension>
   <extension
        point="org.eclipse.ui.editors">
     <editor
           class="org.eclipse.dirigible.ide.db.viewer.editor.DbTableMetadataEditor"
           icon="icons/icon-table.png"
           id="org.eclipse.dirigible.ide.db.viewer.editor.DbTableMetadataEditor"
           name="DbEditor">
     </editor>
  </extension>
   
   <extension
      point = "org.eclipse.ui.preferencePages">
       <page id="org.eclipse.dirigible.ide.db.preferences.DatabasePreferencePage"
	    	class="org.eclipse.dirigible.ide.db.preferences.DatabasePreferencePage" name="Dafault Database">
       </page>
       <page id="org.eclipse.dirigible.ide.db.preferences.DatabaseAttributesPreferencePage"
	    	class="org.eclipse.dirigible.ide.db.preferences.DatabaseAttributesPreferencePage" name="Attributes" 
	    	category="org.eclipse.dirigible.ide.db.preferences.DatabasePreferencePage">
       </page>
       <page id="org.eclipse.dirigible.ide.db.preferences.DatabaseDriverPreferencePage"
	    	class="org.eclipse.dirigible.ide.db.preferences.DatabaseDriverPreferencePage" name="Driver" 
	    	category="org.eclipse.dirigible.ide.db.preferences.DatabasePreferencePage">
       </page>
       <page id="org.eclipse.dirigible.ide.db.preferences.DatasourcesPreferencePage"
	    	class="org.eclipse.dirigible.ide.db.preferences.DatasourcesPreferencePage" name="Data Sources">
       </page>
   </extension>
</plugin>
