<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
	  <command
            defaultHandler="org.eclipse.dirigible.ide.workspace.wizard.project.commands.GetStartedProjectHandler"
            id="org.eclipse.dirigible.ide.workspace.wizard.project.command.GetStartedProject"
            name="Get Started">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.workspace.wizard.project.commands.ProjectHandler"
            id="org.eclipse.dirigible.ide.workspace.wizard.project.command.Project"
            name="Project">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.workspace.wizard.project.commands.UploadProjectHandler"
            id="org.eclipse.dirigible.ide.workspace.wizard.project.commands.UploadProjectHandler"
            name="Project">
      </command>
      
      <command
            id="org.eclipse.dirigible.ide.workspace.wizard.project.commands.SampleImport"
            name="Sample">
      </command>
      
      <command
            id="org.eclipse.dirigible.ide.workspace.wizard.project.command.DownloadProjectHandler"
            name="Project(s)">
      </command> 
      
       <command
            id="org.eclipse.dirigible.ide.workspace.ui.commands.DataExportHandler"
            name="Data">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
			properties="SamplesProjectPropertyTester"
			namespace="org.eclipse.dirigible.ide.workspace.wizard.project.sample.property.tester"
            class="org.eclipse.dirigible.ide.workspace.wizard.project.sample.property.tester.SamplesProjectPropertyTester"
            id="org.eclipse.dirigible.ide.workspace.wizard.project.sample.property.tester.SamplesProjectPropertyTester"
            type="java.lang.Object">
       </propertyTester>
	</extension>
	
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?before=separator.project">
			 <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.GetStartedProject"
                  icon="icons/icon-sample.png"
                  label="Get Started"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.Project"
                  icon="icons/icon-project.png"
                  label="Project"
                  style="push">
            </command>
	  </menuContribution>
	  
	  <menuContribution
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.import">
            
             <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.commands.SampleImport"
                  icon="icons/icon-sample.png"
                  label="Sample"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
	  </menuContribution>
	  
	  <menuContribution
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.export">
            
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.ui.commands.DataExportHandler"
                  icon="icons/icon-xml.png"
                  label="Data"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>

      </menuContribution>

      <menuContribution
            locationURI="menu:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?before=separator.project">
			<command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.GetStartedProject"
                  icon="icons/icon-sample.png"
                  label="Get Started"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.Project"
                  icon="icons/icon-project.png"
                  label="Project"
                  style="push">
            </command>
	  </menuContribution>
	  <menuContribution
            locationURI="menu:org.eclipse.dirigible.ide.workspace.ui.view.Menu.import">
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.commands.UploadProjectHandler"
                  icon="icons/icon-project.png"
                  label="Project"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.commands.SampleImport"
                  icon="icons/icon-sample.png"
                  label="Sample"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            
      </menuContribution>
	  <menuContribution
            locationURI="menu:org.eclipse.dirigible.ide.workspace.ui.view.Menu.export">
            <command
                  commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.DownloadProjectHandler"
                  icon="icons/icon-project.png"
                  label="Project"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <iterate>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
      </menuContribution>
	  
      <menuContribution
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.BasicMenu">
         <command
               commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.GetStartedProject"
               label="Get Started"
               style="push">
         </command>
         <command
               commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.Project"
               label="New Project"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.dirigible.ide.workspace.wizard.project.commands.DownloadProjectHandler"
            commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.DownloadProjectHandler">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
     		class="org.eclipse.dirigible.ide.workspace.wizard.project.commands.SampleImportHandler"
            commandId="org.eclipse.dirigible.ide.workspace.wizard.project.commands.SampleImport">
         <enabledWhen>
			<test property="org.eclipse.dirigible.ide.workspace.wizard.project.sample.property.tester.SamplesProjectPropertyTester"></test>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.Project"
            icon="icons/icon-project.png">
      </image>
      <image
            commandId="org.eclipse.dirigible.ide.workspace.wizard.project.command.GetStartedProject"
            icon="icons/icon-sample.png">
      </image>
   </extension>
    <extension
       point="org.eclipse.dirigible.ide.workspace.ui.new.menu">
       <newMenuItem
            text="Project"
            toolTip="Project"
            order="1"
            imageBundle="org.eclipse.dirigible.ide.workspace.wizard.project"
            imagePrefix="/icons/"
            imageName="icon-project.png"
            defaultHandler="org.eclipse.dirigible.ide.workspace.wizard.project.commands.ProjectHandler">
        </newMenuItem>
        <newMenuItem
            text="Get Started"
            toolTip="Get Started"
            order="0"
            imageBundle="org.eclipse.dirigible.ide.workspace.wizard.project"
            imagePrefix="/icons/"
            imageName="icon-sample.png"
            defaultHandler="org.eclipse.dirigible.ide.workspace.wizard.project.commands.GetStartedProjectHandler">
        </newMenuItem>
 	</extension>
 	<extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.dirigible.ide.workspace.wizard.project.getstarted.GetStartedStartup"></startup>
   </extension>
</plugin>
