:root {
  --ag-background-color: var(--sapList_Background, #fff);
  --ag-border-color: var(--sapGroup_TitleBorderColor, #d9d9d9);
  --ag-input-focus-border-color: var(--sapField_Focus_BorderColor, #89919a);
  --ag-row-hover-color: var(--sapList_Hover_Background, #f5f5f5);
  --ag-selected-row-background-color: var(--sapList_SelectionBackgroundColor, #e5f0fa);
  --ag-header-background-color: var(--sapList_HeaderBackground, #f2f2f2);
  --ag-odd-row-background-color: var(--sapList_HeaderBackground, #f2f2f2);
  --ag-control-panel-background-color: var(--sapList_HeaderBackground, #f2f2f2);
  --ag-alpine-active-color: var(--sapList_Active_TextColor, #fff);
  --ag-foreground-color: var(--sapTextColor, #fafafa);
  --ag-checkbox-background-color: var(--sapField_Background, #fff);
  --ag-checkbox-checked-color: var(--sapActiveColor, #0854a0);
  --ag-row-border-color: var(--sapList_BorderColor, #e5e5e5);
}
.ag-grid-editor > .ag-root-wrapper {
  border: none !important;
}
.header-input {
  display: none;
  width: 100%;
}
.ag-cell-value:empty {
  height: 100%;
}
