<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	   <extension
         point="org.eclipse.ui.views">
      <category
            name="Extensions"
            id="org.eclipse.dirigible.ide.extensions">
      </category>
      <view
            category="org.eclipse.dirigible.ide.extensions"
            class="org.eclipse.dirigible.ide.extensions.ui.view.ExtensionsManagerView"
            icon="icons/wizard_extension-definition.png"
            id="org.eclipse.dirigible.ide.extensions.view.ExtensionsManagerView"
            name="Extensions Manager">
      </view>
   </extension>
</plugin>
