<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.ed.command.ExtensionDefinitionCommandHandler"
               icon="icons/wizard_extension-definition.png"
               label="Extension Definition"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.dirigible.ide.template.ui.ed.command.ExtensionDefinitionCommandHandler"
            id="org.eclipse.dirigible.ide.template.ui.ed.command.ExtensionDefinitionCommandHandler"
            name="Extension Definition">
      </command>
   </extension>
   <extension
         point="org.eclipse.dirigible.ide.template.type">
      <template
            category="ExtensionDefinitions"
            image="/icons/extension-point.png"
            location="/org/eclipse/dirigible/ide/template/ui/ed/templates/extensionpoint.extensionpoint"
            text="Extension Point">
      </template>
	  <template
            category="ExtensionDefinitions"
            image="/icons/extension.png"
            location="/org/eclipse/dirigible/ide/template/ui/ed/templates/extension.extension"
            text="Extension">
      </template>
   </extension>
   <extension 
	       point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.dirigible.ide.workspace.ui.category"
            class="org.eclipse.dirigible.ide.template.ui.ed.view.ExtensionsView"
            icon="icons/wizard_extension-definition.png"
            id="org.eclipse.dirigible.ide.template.ui.ed.view.ExtensionsView"
            name="Extensions Viewer"
            restorable="true">
      </view>
	</extension>
	<extension
       point="org.eclipse.dirigible.ide.workspace.ui.new.menu">
       <newMenuItem
            text="Extension Definition"
            toolTip="Extension Definition"
            order="10"
            imageBundle="org.eclipse.dirigible.ide.template.ui.ed"
            imagePrefix="/icons/"
            imageName="wizard_extension-definition.png"
            defaultHandler="org.eclipse.dirigible.ide.template.ui.ed.command.ExtensionDefinitionCommandHandler">
        </newMenuItem>
 	</extension>
</plugin>
