div.fb-main-container {
    border: .25rem solid var(--sapBackgroundColor, #f7f7f7);
    border-radius: .188rem;
    outline: .063rem dashed var(--sapTextColor, #e5e5e5);
    padding-bottom: 2rem;
}

div.fb-main-container[disabled] {
    pointer-events: none;
    outline: .063rem solid var(--sapErrorBorderColor, #bb0000);
}

div.fb-main-container[data-preview=true] {
    pointer-events: none;
    border: none;
    background: var(--sapBackgroundColor, #f7f7f7);
    padding: .25rem .5rem .25rem .5rem;
}

div.fb-main-container[data-preview=true] div[data-type="container"] {
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    padding: 0;
    border: none;
    outline: none;
}

div.fb-main-container[data-preview=true] div[data-type="container"]>div.fb-control-wrapper {
    padding: 0;
}

div.fb-main-container[data-preview=true] div.dg-vbox,
div.fb-main-container[data-preview=true] div.dg-hbox {
    gap: .5rem;
}

div.fb-main-container[data-preview=true] div[data-type="container"]>* {
    width: 100%;
    padding: 0;
}

div.fb-control-wrapper {
    position: relative;
    background: var(--sapBackgroundColor, #f7f7f7);
    min-height: 1rem;
    min-width: 1rem;
}

div.fb-control-wrapper>* {
    pointer-events: none;
}

div.fb-control-wrapper.is-selected:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    z-index: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--sapList_SelectionBackgroundColor, #e5f0fa);
    border: var(--sapList_BorderWidth, 0.0625rem) solid var(--sapList_SelectionBorderColor, #0854a0);
    opacity: .4;
}

div.fb-main-container[disabled] div.fb-control-wrapper.is-selected:before {
    border: var(--sapList_BorderWidth, 0.0625rem) solid var(--sapErrorBorderColor, #bb0000);
}

div.dg-hbox[data-type="container"] {
    padding-right: 1rem;
}

div.dg-vbox[data-type="container"] {
    padding-bottom: 1rem;
}

div.dg-hbox[data-type="container"],
div.dg-vbox[data-type="container"] {
    border: .25rem solid var(--sapBackgroundColor, #f7f7f7);
    outline: .063rem dashed var(--sapTextColor, #e5e5e5);
    outline-offset: -.25rem;
}

div.dg-hbox[data-type="container"]:empty,
div.dg-vbox[data-type="container"]:empty {
    padding: 1rem;
    border: .5rem solid var(--sapBackgroundColor, #f7f7f7);
}

div[data-type="container"]>div.fb-control-wrapper {
    padding: .25rem;
}