exports.onMessage = function(message) {
	console.log("Hello from the {{fileName}} Listener! Message: " + message);
};

exports.onError = function(error) {
	console.error("Error from the {{fileName}} Listener! Error: " + error);
};
