<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.dirigible.ide.template.ui.db.command.DataStructureCommandHandler"
            id="org.eclipse.dirigible.ide.template.ui.db.command.DataStructureCommandHandler"
            name="Data Structure">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.db.command.DataStructureCommandHandler"
               icon="icons/wizard_data-structure.png"
               label="Data Structure"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.db.command.DataStructureCommandHandler"
               icon="icons/wizard_data-structure.png"
               label="Data Structure"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <extension
       point="org.eclipse.dirigible.ide.workspace.ui.new.menu">
       <newMenuItem
            text="Data Structure"
            toolTip="Data Structure"
            order="11"
            imageBundle="org.eclipse.dirigible.ide.template.ui.db"
            imagePrefix="/icons/"
            imageName="wizard_data-structure.png"
            defaultHandler="org.eclipse.dirigible.ide.template.ui.db.command.DataStructureCommandHandler">
        </newMenuItem>
 	</extension>

	<extension
           id="DatabaseGenerationServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/generate-data-structure"
              class="org.eclipse.dirigible.ide.template.ui.db.service.DatabaseGenerationServlet"
              load-on-startup="false">
        </servlet>
     </extension>

</plugin>
