 
 	<div class="row">
		<div class="col-lg-12">
	    	<h1 class="page-header">Develop</h1>
		</div>
	</div>

 
    <div class="col-lg-4 col-md-6" ng-repeat="data in developData">
        <div class="panel panel-{{ data.color }}">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-{{ data.image }} fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ data.title }}</div>
                        <div>{{ data.description }}</div>
                    </div>
                </div>
            </div>
            <a href="{{ data.path }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right fa-2x"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    
	<div class="row">
	        <div class="col-lg-4 heading-lead page-scroll">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa-laptop fa-fw"></i>
                Web IDE</h2>
	            <p>The environment itself runs directly in a browser, therefore does not require additional downloads and installations. It has a rich set of editors, wizards and viewers, and also supports debugging, operations and monitoring.</p>
	        </div>
	        <div class="col-lg-4 heading-lead">
				<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	            <h2><i class="fa fa fa-mobile fa-fw"></i>
                Light IDE</h2>
	            <p>For quick fixes with simple source code editing and publishing capabilities, there is a lightweight development environment convenient even from mobile devices.</p>
	        </div>
	        <div class="col-lg-4 heading-lead">
		<hr class="section-heading-spacer">
                <div class="clearfix"></div>
	        <h2><i class="fa fa-desktop fa-fw"></i>
                Desktop Eclipse</h2>
	            <p>There is an update site with Eclipse based plugins convenient especially for 'Java-saurus' developers, who will never go to a Web IDE for theirs daily tasks.</p>
	        </div>
	    </div>