<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eclipse Dirigible &trade;</title>

	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
	
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script>
	<link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
	<link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />
	
	<link type="text/css" rel="stylesheet" href="css/dark.css" />
	
	<script src="ui/message-hub.js"></script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="workbench" ng-controller="WorkbenchController">

	<nav class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<i class="logo-icon icon-dirigible" style="color: #ffcc00">&#xe800;</i>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul id="main-menu" class="nav navbar-nav">
				<li ng-class="{dropdown: !!menu.items}" ng-repeat="menuItem in menu">
					<a ng-hide="menuItem.items" href="{{menuItem.link}}" ng-click="onClick(menuItem.onClick)" target="{{menuItem.newTab ? '_blank' : '_self'}}">{{ menuItem.name }}</a>
					<a ng-show="menuItem.items" href="" class="dropdown-toggle" data-toggle="dropdown">{{ menuItem.name }}</a>
					<ul class="dropdown-menu">
						<li ng-repeat="item in menuItem.items">
							<a href="{{item.link}}" ng-click="onClick(item.onClick)" target="{{item.newTab ? '_blank' : '_self'}}">{{ item.name }}</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			  <li class="dropdown" ng-include="'/services/web/resources/themes/themes.html'"></li>
			  <li class="hidden-xs">
				<a href=""><span class="fa fa-user"></span> <span ng-include="'../../js/ide/services/user-name.js'"></span>&nbsp;</a>
			  </li>
			</ul>
		</div>
	</nav>
	
	<div class="shell">
		<div class="sidebar list-group">
			<a class="list-group-item"><i class="fa fa-files-o fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-code-fork fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-database fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-sitemap fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-bug fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-object-group fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-area-chart fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-truck fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-puzzle-piece fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-user fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-lock fa-2x"></i></a>
			<a class="list-group-item"><i class="fa fa-life-ring fa-2x"></i></a>
		</div>
	<div class="plane"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>

		<script type="text/javascript">
		var config = {
			dimensions: {
				headerHeight: 28
			},
		    content: [{
		        type: 'row',
		        content:[{
						id:"ws",
		            	type: 'component',
		            	componentName: 'Workspace',
		            	componentState: { label: 'Workspace' },
		            	width: 30
		        	},{
						id: 'center',
		            	type: 'column',
		            	content:[{
								id:"editor",
								type: 'component',
								componentName: 'Editor',
								componentState: {  },
								content: []
							},{
								id:"console",
								type: 'component',
								componentName: 'Console',
								componentState: { label: 'Console' }								
						}]
		        }]
		    }]
		};
		
		var myLayout = new GoldenLayout( config, $('.plane') );

		
		myLayout.registerComponent( 'Workspace', function( container, componentState ){
		    container.getElement().html('<iframe src="../ide-workspace/workspace.html"></iframe>');
		});
		myLayout.registerComponent( 'Editor', function( container, componentState ){
			this.setContent = function(path){
				if (path) {
					container.getElement().empty().html( '<iframe src="../ide-editor-orion/editor.html?file='+path+'"></iframe>' );
				} else {
					container.setTitle( 'Welcome' );
					container.getElement().empty().html( '<h1>Welcome to Eclipse Dirigible &trade;</h1><br><br><br>'
					 + '<p style="font-size: 1.2em"><a href="http://www.dirigible.io" target=_blank>Eclipse Dirigible &trade;</a> is a Cloud Development Platform providing development tools and runtime environment. It supports full development life-cycle of on-demand applications by leveraging in-system programming models and rapid application development techniques.</p><br><br>'
					 + '<p style="font-size: 1.2em">All the source code is licensed under the <a href="https://www.eclipse.org/legal/epl-v10.html" target=_blank>Eclipse Public License - v 1.0</a> and maintained at <a href="https://github.com/eclipse/dirigible" target=_blank>GitHub</a></p><br><br><br><br>'
					 + '<div style="width: 32em"><p style="font-size: 2em" align=center><i class="logo-icon icon-dirigible">&#xe800;</i> &nbsp; dirigible</p>'
					 + '<p style="font-size: 1.4em" align=center>Enjoy Programming Like Never Before</p></div>');
				}
				
			};
			this.setContent(componentState.path);
		});
		myLayout.registerComponent( 'Console', function( container, componentState ){
		    container.getElement().html( '<iframe src="../ide-console/console.html"></iframe>' );
		});
		
		myLayout.init();
		
		var client = new FramesMessageHub({
				topic: 'fileselected'
			});
		client.subscribe(function(msg){
				var newItemConfig = {
					id: msg.data.path,
					title: msg.data.label,
					type: 'component',
					componentName: 'Editor',
					componentState:{ 
						path: msg.data.path
					}
				};
				//is an editor available to stack new children to it?
				if(myLayout.root.getItemsById('editor')[0]){
					//is already open?
					if(myLayout.root.getItemsById(newItemConfig.id).length){
						//replace content
						var panel = myLayout.root.getItemsById(newItemConfig.id)[0];
						panel.instance.setContent(newItemConfig.id)
						panel.parent.setActiveContentItem(panel);
					} else {
						// open new tab
						myLayout.root.getItemsById('editor')[0].parent.addChild( newItemConfig );
					}
				} else {
					// open up
					//myLayout.root.getItemsById('center').addChild( newItemConfig );
				}
			});
		
	</script>
	
	<script type="text/javascript">
		angular.module('workbench', []);
		angular.module('workbench').controller('WorkbenchController', function ($scope, $http) {
			
			var url = '../../js/ide/services/menu.js';
			$http.get(url)
				.success(function(data) {
					$scope.menu = data;
			});
			
			$scope.onClick = function(action) {
				eval(action);
			};
		});
	</script>
		
</body>

</html>
