<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.dirigible.ide.ui.rap.init" name="WorkbenchInitializer" schema="schema/org.eclipse.dirigible.ide.ui.rap.init.exsd"/>
   
   <!--
   <extension
         point="org.eclipse.rap.ui.layouts">
      <layout
            id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy"
            name="Fancy Layout">
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.LogoInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.Logo"
               name="Logo">
         </layoutSet>
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.HeaderInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.header"
               name="Header">
         </layoutSet>
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.FooterInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.footer"
               name="Footer">
         </layoutSet>
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.MenuBarInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.menubar"
               name="MenuBar">
         </layoutSet>
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.PerspectiveSwitcherInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.perspective"
               name="Perspective Switcher">
         </layoutSet>
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.StackInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.stack"
               name="Fancy Stack">
         </layoutSet>
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.ConfigDialogInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.configdialog"
               name="Config Dialog">
         </layoutSet>
         
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.CoolbarInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.coolbar"
               name="Coolbar">
         </layoutSet>
         <layoutSet
               class="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.CoolbarOverflowInitializer"
               id="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy.coolbaroverflow"
               name="Coolbar Overflow">
         </layoutSet>
         
      </layout>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            favicon="resources/themes/default/images/favicon.png"
            id="org.eclipse.dirigible.ide.ui.rap.branding"
            themeId="org.eclipse.dirigible.ide.ui.rap.theme.fancy"
            title="Dirigible">
         <presentationFactory
               defaultLayoutId="org.eclipse.dirigible.ide.ui.rap.layoutsets.fancy"
               id="org.eclipse.dirigible.ide.ui.rap.presentation.fancy"
               name="Dirigible Presentation Factory"
               viewActionsVisible="false">
            <defaultStackPresentation
                  id="org.eclipse.dirigible.ide.ui.rap.stacks.stackPresentation">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension>

   <extension
         point="org.eclipse.rap.ui.stackPresentations">
      <stackPresentation
            actionClass="org.eclipse.dirigible.ide.ui.rap.stacks.ConfigAction"
            class="org.eclipse.dirigible.ide.ui.rap.stacks.ViewStackPresentation"
            id="org.eclipse.dirigible.ide.ui.rap.stacks.stackPresentation"
            name="org.eclipse.dirigible.ide.ui.rap.stacks.stackPresentation"
            type="editor">
      </stackPresentation>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="resources/themes/default/default.css"
            id="org.eclipse.dirigible.ide.ui.rap.theme.fancy"
            name="Dirigible Fancy Theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.eclipse.dirigible.ide.ui.rap.branding"
            class="org.eclipse.dirigible.ide.ui.rap.entry.DirigibleWorkbench"
            id="org.eclipse.dirigible.ide.ui.rap.entry.DefaultEntrypoint"
            path="/index.html">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.eclipse.dirigible.ide.ui.rap.branding"
            class="org.eclipse.dirigible.ide.ui.rap.entry.DirigibleWorkbench"
            id="org.eclipse.dirigible.ide.ui.rap.entry.DefaultEntrypoint"
            path="/dirigible">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.eclipse.rap.design.example.business.branding"
            class="org.eclipse.dirigible.ide.ui.rap.entry.DirigibleWorkbench"
            id="org.eclipse.dirigible.ide.ui.rap.entry.DefaultEntrypoint"
            path="/business">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.eclipse.rap.design.example.fancy.branding"
            class="org.eclipse.dirigible.ide.ui.rap.entry.DirigibleWorkbench"
            id="org.eclipse.dirigible.ide.ui.rap.entry.DefaultEntrypoint"
            path="/fancy">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="phirea.rap.theme.branding1"
            class="org.eclipse.dirigible.ide.ui.rap.entry.DirigibleWorkbench"
            id="org.eclipse.dirigible.ide.ui.rap.entry.DefaultEntrypoint"
            path="/dark">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.eclipse.dirigible.ide.ui.rap.presentation.fancy.FancyPresentationFactory"
            id="org.eclipse.dirigible.ide.ui.rap.presentation.fancy"
            name="Dirigible Presentation Factory">
      </factory>
   </extension>
   
   -->
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:showPerspective">
         <dynamic
               class="org.eclipse.dirigible.ide.ui.rap.menu.perspectives.PerspectivesContribution"
               id="org.eclipse.dirigible.ide.ui.rap.menu.perspectives.PerspectivesContribution">
         </dynamic>
      </menuContribution>
   </extension>

	<extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/ping"
            base-name="resources/ping.html">
      </resource>
   </extension>
   
   
   
   
   <!-- ORIGINAL -->
   
   
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.eclipse.rap.design.example.fancy.branding"
            class="org.eclipse.dirigible.ide.ui.rap.entry.DirigibleWorkbench"
            id="org.eclipse.dirigible.ide.ui.rap.entry.DefaultEntrypoint"
            path="/index.html">
      </entrypoint>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.eclipse.rap.internal.design.example.fancy.FancyPresentationFactory"
            id="org.eclipse.rap.design.example.fancy.factory"
            name="Fancy Presentation Factory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            favicon="img/fancy/favicon.png"
            id="org.eclipse.rap.design.example.fancy.branding"
            themeId="org.eclipse.rap.design.example.fancy.theme"
            title="Dirigible">
         <presentationFactory
               defaultLayoutId="org.eclipse.rap.design.example.fancy.layout"
               id="org.eclipse.rap.design.example.fancy.factory"
               name="Fancy Presentation Factory"
               viewActionsVisible="false">
            <defaultStackPresentation
                  id="org.eclipse.rap.design.example.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.layouts">
      <layout
            id="org.eclipse.rap.design.example.fancy.layout"
            name="Fancy Layout">
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.LogoInitializer"
               id="org.eclipse.rap.design.example.layoutset.logo"
               name="Logo">
         </layoutSet>
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.HeaderInitializer"
               id="org.eclipse.rap.design.example.layoutset.header"
               name="Header">
         </layoutSet>
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.FooterInitializer"
               id="org.eclipse.rap.design.example.layoutset.footer"
               name="Footer">
         </layoutSet>
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.MenuBarInitializer"
               id="org.eclipse.rap.design.example.layoutset.menubar"
               name="MenuBar">
         </layoutSet>
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.PerspectiveSwitcherInitializer"
               id="org.eclipse.rap.design.example.layoutset.perspective"
               name="Perspective Switcher">
         </layoutSet>
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.StackInitializer"
               id="org.eclipse.rap.design.example.layoutset.stack"
               name="Fancy Stack">
         </layoutSet>
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.ConfigDialogInitializer"
               id="org.eclipse.rap.design.example.layoutset.confdialog"
               name="Config Dialog">
         </layoutSet>
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.CoolbarInitializer"
               id="org.eclipse.rap.design.example.layoutset.coolbar"
               name="Coolbar">
         </layoutSet>
         <layoutSet
               class="org.eclipse.rap.internal.design.example.fancy.layoutsets.CoolbarOverflowInitializer"
               id="org.eclipse.rap.design.example.layoutset.coolbaroverflow"
               name="Coolbar Overflow">
         </layoutSet>
      </layout>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="theme/fancy/fancy.css"
            id="org.eclipse.rap.design.example.fancy.theme"
            name="Fancy Theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.rap.ui.stackPresentations">
      <stackPresentation
            actionClass="org.eclipse.rap.internal.design.example.stacks.ConfigAction"
            class="org.eclipse.rap.internal.design.example.stacks.ViewStackPresentation"
            id="org.eclipse.rap.design.example.stack.view"
            name="Example Stack Presentation"
            type="view">
      </stackPresentation>
   </extension>
   
   
   
   
   
</plugin>
