<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.html.command.HtmlCommandHandler"
               icon="icons/wizard_user-interface.png"
               label="User Interface"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.html.command.HtmlCommandHandler"
               icon="icons/wizard_user-interface.png"
               label="User Interface"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.html.command.WikiCommandHandler"
               icon="icons/wizard_wiki.png"
               label="Wiki Page"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.dirigible.ide.workspace.ui.view.Menu.new?after=separator.custom">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.html.command.WikiCommandHandler"
               icon="icons/wizard_wiki.png"
               label="Wiki Page"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.dirigible.ide.workspace.ui.view.Menu.generate">
         <command
               commandId="org.eclipse.dirigible.ide.template.ui.html.command.HtmlForEntityCommandHandler"
               icon="icons/wizard_user-interface.png"
               label="User Interface for Entity Service"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="entity">
                        </test>
                     </iterate>
                  </and>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.dirigible.ide.template.ui.html.command.HtmlCommandHandler"
            id="org.eclipse.dirigible.ide.template.ui.html.command.HtmlCommandHandler"
            name="User Interface">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.template.ui.html.command.WikiCommandHandler"
            id="org.eclipse.dirigible.ide.template.ui.html.command.WikiCommandHandler"
            name="Wiki Page">
      </command>
      <command
            defaultHandler="org.eclipse.dirigible.ide.template.ui.html.command.HtmlForEntityCommandHandler"
            id="org.eclipse.dirigible.ide.template.ui.html.command.HtmlForEntityCommandHandler"
            name="User Interface for Entity Service">
      </command>
   </extension>
   
   <extension
       point="org.eclipse.dirigible.ide.workspace.ui.new.menu">
       <newMenuItem
            text="Wiki Page"
            toolTip="Wiki Page"
            order="8"
            imageBundle="org.eclipse.dirigible.ide.template.ui.html"
            imagePrefix="/icons/"
            imageName="wizard_wiki.png"
            defaultHandler="org.eclipse.dirigible.ide.template.ui.html.command.WikiCommandHandler">
        </newMenuItem>
        <newMenuItem
            text="User Interface"
            toolTip="User Interface"
            order="9"
            imageBundle="org.eclipse.dirigible.ide.template.ui.html"
            imagePrefix="/icons/"
            imageName="wizard_user-interface.png"
            defaultHandler="org.eclipse.dirigible.ide.template.ui.html.command.HtmlCommandHandler">
        </newMenuItem>
 	</extension>
 	
</plugin>
