<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="debugger">
<head>
	<meta charset="utf-8" />
	
	<title>Eclipse Dirigible - Debugger</title>
	
	<script src="/services/v3/web/ide/ui/message-hub.js"></script>
	
	<link href="/services/v3/web/resources/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- jQuery -->
	<script src="/services/v3/web/resources/jquery/2.0.3/jquery.min.js"></script>
	
	<!-- AngularJS -->
	<script src="/services/v3/web/resources/angular/1.4.7/angular.min.js"></script>
	<script src="/services/v3/web/resources/angular/1.4.7/angular-resource.min.js"></script>
	<script src="/services/v3/web/resources/angular/1.4.7/angular-animate.min.js"></script>
	<script src="/services/v3/web/resources/angular/1.4.7/angular-sanitize.min.js"></script>
	
	<!-- jsTree -->
	<link href="/services/v3/core/theme/jstree.css" rel="stylesheet">
	<script src="/services/v3/web/resources/jstree/3.3.4/jstree.js"></script>
	
	<!-- Twitter Bootstrap with Theme Support -->
	<link rel="stylesheet" href="/services/v3/core/theme/bootstrap.min.css">
	
	<!-- Custom IDE Styles -->
	<link type="text/css" rel="stylesheet" href="/services/v3/core/theme/ide.css" />
	
	<script src="/services/v3/web/ide/ui/ui-bootstrap-tpls-0.14.3.min.js"></script>
</head>

<body border="1px" ng-controller="DebuggerController">

	<div>
		<div class="btn-group pull-right" role="group" aria-label="toolbar">
			<button type="button" class="btn btn-default" title="Enable/Disable" data-toggle="button" aria-pressed="false" autocomplete="off" ng-click="enable()"><i class="fa fa-bug"></i></button>
			<button type="button" class="btn btn-default ng-class:{disabled: !debugEnabled};" title="Refresh" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
			<button type="button" class="btn btn-default ng-class:{disabled: !debugEnabled};" title="Continue" ng-click="continue()"><i class="fa fa-play"></i></button>
			<button type="button" class="btn btn-default ng-class:{disabled: !debugEnabled};" title="Pause" ng-click="pause()"><i class="fa fa-pause"></i></button>
			<button type="button" class="btn btn-default ng-class:{disabled: !debugEnabled};" title="Step Into" ng-click="stepInto()"><i class="fa fa-reply"></i></button>
			<button type="button" class="btn btn-default ng-class:{disabled: !debugEnabled};" title="Step Into" ng-click="stepOver()"><i class="fa fa-reply-all"></i></button>
		</div>
	</div>
	
	<div class="debugger"></div>
	<table class="table" ng-cloak>
		<tbody>
			<tr ng-repeat="next in sessions">
				<td>
					<blockquote>
						<button class="btn btn-default pull-right" data-toggle="button" aria-pressed="false" autocomplete="off" ng-click="activateSession(next)"> <i class="fa fa-power-off"></i></button>
						<p>Debug Session #{{$index + 1}}</p>
						<footer>session - <cite>{{next.sessionId}}</cite></footer>
						<footer>execution - <cite>{{next.executionId}}</cite></footer>
						<footer>user - <cite>{{next.userId}}</cite></footer>
					</blockquote>
				</td>
			</tr>
		</tbody>
	</table>

	<script src="/services/v3/web/resources/bootstrap/3.3.7/bootstrap.min.js"></script>	
	<script src="controller.js"></script>
</body>
</html>
