<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	 
	 
	 
	 <extension
           id="RegistryServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/registry"
              class="org.eclipse.dirigible.runtime.registry.RegistryServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="RegistryContentServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/content"
              class="org.eclipse.dirigible.runtime.registry.RegistryContentServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="RepositoryServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/repository"
              class="org.eclipse.dirigible.runtime.registry.RepositoryServlet"
              load-on-startup="true">
        </servlet>
     </extension>
	 
	 <extension
           id="OperationalServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/op"
              class="org.eclipse.dirigible.runtime.registry.OperationalServlet"
              load-on-startup="true">
        </servlet>
     </extension>
	 
	 <extension
           id="SearchServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/search"
              class="org.eclipse.dirigible.runtime.search.SearchServlet"
              load-on-startup="true">
        </servlet>
     </extension>
	 
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/"
              class="org.eclipse.dirigible.runtime.filter.SandboxFilter">
        </filter>
     </extension>
        
</plugin>
