<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

     <extension
           id="WorkspaceSearchServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/searchw"
              class="org.eclipse.dirigible.runtime.search.WorkspaceSearchServlet"
              load-on-startup="true">
        </servlet>
     </extension>
	 
     <extension
           id="WorkspaceServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/workspace"
              class="org.eclipse.dirigible.runtime.registry.WorkspaceServlet"
              load-on-startup="true">
        </servlet>
     </extension>
     
     <extension
           id="WorkspacePublishServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/publish"
              class="org.eclipse.dirigible.runtime.registry.WorkspacePublishServlet"
              load-on-startup="true">
        </servlet>
     </extension>

</plugin>
