iframe, .embedded {
  position: fixed;
  top: 3.4em;
  left: 17%;
  width: 82%;
  height: 500px;
  border: 0px;
}

.list-group-item {
  cursor: pointer;
}

@media (min-width: 768px) {
	.side-nav>li {
	    width: 100%;
	}
}
