<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dirigible.ide.publish.publisher">
      <publisher
            class="org.eclipse.dirigible.ide.db.publish.DatabasePublisher"
            id="org.eclipse.dirigible.ide.db.publish.DatabasePublisher">
      </publisher>
   </extension>

</plugin>
