<!DOCTYPE html>
<html lang="en" ng-app="page">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>${pageTitle}</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div id="wrap" ng-controller="ListAndDetailsController">
		<div class="container">
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
#foreach ($tableColumn in $tableColumns) 
#if ($tableColumn.isVisible())
						<th>${tableColumn.getLabel()}</th> 
#end 
#end
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in data" ng-click="showInfoForEntry(entry)">
#foreach ($tableColumn in $tableColumns)
#if ($tableColumn.isVisible())
#if ($tableColumn.getWidgetType() == "date")
						<td>{{entry.${tableColumn.getName()} | date:format}}</td>
#else
						<td>{{entry.${tableColumn.getName()}}}</td>
#end
#end
#end
					</tr>
				</tbody>
			</table>
			<table class="table table-bordered" ng-show="showEntry">
				<thead>
					<tr>
						<th>Attribute</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody ng-model="selectedEntry">
#foreach ($tableColumn in $tableColumns)
#if ($tableColumn.isVisible())
					<tr>
						<td width="50%">${tableColumn.getLabel()}</td>
						
#if ($tableColumn.getWidgetType() == "date")
						<td width="50%">{{selectedEntry.${tableColumn.getName()}  | date:format}}</td>
#else
						<td width="50%">{{selectedEntry.${tableColumn.getName()}}}</td>
#end
#end
#end
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

	<script type="text/javascript">
		angular.module('page', ['ngAnimate', 'ui.bootstrap']);
		angular.module('page').controller('ListAndDetailsController', function ($scope, $http) {
			
			var url = '${serviceFileName}';

			$http.get(url)
			.success(function(data) {
				$scope.data = data;
			});

			$scope.showEntry = false;
			$scope.selectedEntry;

			$scope.showInfoForEntry = function(entry) {
				if ($scope.selectedEntry === entry) {
					$scope.showEntry = false;
					$scope.selectedEntry = null;
				} else {
					$scope.showEntry = true;
					$scope.selectedEntry = entry;
				}
			}
			
			$scope.formats = ['yyyy/MM/dd', 'dd-MMMM-yyyy', 'dd.MM.yyyy', 'shortDate'];
  			$scope.format = $scope.formats[0];
		});
	</script>

</body>
</html>