<div class="modal-dialog modal-sm">
    <div class="modal-content">
    
      <div class="modal-header">
        <h4 class="modal-title">New Folder</h4>
      </div>
      
      <div class="modal-body">
        <p>Enter name for the new folder.</p>
        <input type="text" class="form-control" ng-model="newFolderName">
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="createFolder(newFolderName)">Create</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      
    </div>
 </div>