<div ng-controller="DefaultListCtrl">
  <div class="row" ng-hide="mainError">
    <div class="col-lg-6">
      <div class="input-group list-group">
        <input type="text" class="form-control" placeholder="Search for file" ng-model="search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="search = undefined">Clear</button>
        </span>
      </div>
      <div class="" ng-show="searchError && search">
        <div class="alert alert-danger"> <strong>Oh snap!</strong>
          {{ searchError.status }} - {{ searchError.data }}
        </div>
      </div>
      <ol ng-show="paths" class="breadcrumb">
        <li ng-repeat="path in paths">
          <a href="" ng-click="crumbsChanged(path)">{{ path.name }}</a>
        </li>
      </ol>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="single in selected.files" ng-click="change(single)">
          <span class="badge-right fa fa-{{ single.folder ? 'folder' : 'file-o' }}"></span>
          <span ng-show="single.files" class="badge">{{ single.files.length }}</span>
          <span ng-hide="single.folder" class="badge badge-clean">
            <a ng-href="{{single.path}}" title="Open location in new tab" target='_blank' class="fa fa-clipboard" style="color: #fff"></a>
          </span>
          {{ single.name }}
        </div>
        <div class="alert alert-warning" role="alert" ng-show="!selected.files || selected.files.length === 0">No content.</div>
      </div>
    </div>
    <div class="col-lg-6">
      <iframe seamless ng-src="{{ securedUrl(iframeSrc) }}"></iframe>
    </div>
  </div>
  <div class="row" ng-show="mainError">
    <div class="alert alert-danger"> <strong>Oh snap!</strong>
      {{ mainError.status }} - {{ mainError.data }}
    </div>
  </div>
</div>
