.load-screen {
  display: flex;
  background-color: #373739;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.load-screen .progress-bar {
  max-width: 600px;
  width: 100%;
  height: 14px;
}
.load-screen p {
  font-size: 20px;
  margin: 16px;
}
.no-files-panel {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 24px;
  width: 100%;
}
.no-files-panel p {
  font-size: 18px;
}
.quick-actions-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  background-color: #2D2D2D;
  border-bottom: 1px solid #1f1f20;
  flex-grow: 0;
  margin: 0;
  padding: 0;
}
.quick-actions-bar .form-control {
  margin: 6px;
  max-width: 240px;
  padding: 4px;
  font-size: 14px;
}
.quick-actions-bar .btn-actionbar {
  top: 0;
  height: 100%;
  padding: 8px 16px 8px 16px !important;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0;
  min-height: 39px;
}
.quick-actions-bar .btn-actionbar.toggled {
  background-color: #373739 !important;
}
.quick-actions-bar .btn-actionbar:hover {
  background-color: #202020;
}
.quick-actions-bar .btn-icon-left > i {
  margin-right: 6px;
}
.editor-body {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
}
.csvim-editor {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
  flex-grow: 1;
}
.main-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.side-panel {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: column;
  margin: 0;
  background-color: #2a2a2b;
  border-right: 1px solid #1f1f20;
  min-width: 240px;
  max-width: 300px;
  overflow: hidden;
}
.side-panel .form-control {
  width: calc(100% - 12px);
}
.side-panel-button {
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px 14px 16px 14px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.side-panel-button:hover {
  background: #202020;
}
.side-panel-button:active {
  background: #161616;
}
.side-panel-button > i {
  margin-right: 14px;
  /* Font awesome fix */
  margin-left: 1px;
}
.item-list {
  margin: 0;
  font-size: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.item-list > .active:first-child {
  border-top: 1px solid transparent;
}
.list-item {
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px 14px 16px 14px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-item > i {
  margin-right: 14px;
}
.list-item.active {
  cursor: pointer;
  background-color: #373739;
  border-top: 1px solid #1f1f20;
  border-bottom: 1px solid #1f1f20;
}
.list-item.active:hover {
  color: #dfdfdf !important;
  background-color: #202020;
}
.list-item:hover {
  background: #202020;
}
.form-control {
  height: auto;
  padding: 10px 12px 10px 12px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.csv-properties label {
  margin-top: 14px;
  margin-bottom: 10px;
}
.csv-properties {
  padding: 4px 14px;
  overflow: scroll;
  height: 100%;
  width: 100%;
}
.keys {
  margin-bottom: 14px;
}
.keys > .table {
  margin: 0;
  border: 1px solid #1f1f20;
}
.keys > .table td,
th {
  padding: 10px;
  border-right: 1px solid #1f1f20;
}
.keys > .table th {
  border-top: 0;
  padding: 12px !important;
}
.table .input-cell {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.table .column-value {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.table .input-cell > button {
  margin-left: 8px;
}
.table .column-value > button {
  margin-left: 8px;
}
.table .column-values > .input-cell {
  padding: 10px 10px 0px 10px;
}
.table .column-values .input-cell:last-of-type {
  border-bottom: 0;
  padding-bottom: 10px;
}
.table .form-control {
  width: auto;
  flex-grow: 2;
}
.column-values {
  padding: 0 !important;
  width: 100%;
}
.column-value {
  width: 100%;
}
.values-button {
  width: 100%;
  border: 0;
  padding: 12px;
  background-color: #2a2a2b;
  border-radius: 0;
  border-top: 1px solid #1f1f20;
}
.values-button:hover {
  border-top: 1px solid #1f1f20;
}
.values-button:focus {
  border-top: 1px solid #1f1f20;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.button-borderless {
  background-color: transparent;
  border: none;
}
.keys-button {
  padding: 12px;
  background-color: #2a2a2b;
  border: 1px solid #1f1f20;
  border-top: 0;
  width: 100%;
  border-radius: 0;
}
.keys-button:hover {
  border-left: 1px solid #1f1f20;
  border-right: 1px solid #1f1f20;
  border-bottom: 1px solid #1f1f20;
}
.keys-button:focus {
  border-top: 1px solid #1f1f20;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.values-button > .fa, .keys-button > .fa {
  margin-right: 8px;
}
.error-input,
.error-input:focus {
  border-radius: 1px;
  outline: 2px solid red !important;
}
.warn-input,
.warn-input:focus {
  border-radius: 1px;
  outline: 2px solid #d7ad2a !important;
}