html,
body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  height: 100%;
}
#embeddedEditor {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loading-overview.hide {
  display: none !important;
}
.loading-overview {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}
.loading-overview>.loading-message {
  background-color: #232323;
  color: silver;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.monacoLineDecoration {
  background: steelblue;
  width: 3px !important;
  margin-left: 5px;
}
.deletedLine {
  width: 3px !important;
  margin-left: 5px;
}
.deletedLine::after {
  content: "";
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 100;
  margin-left: 2px;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-top: -9px;
}
