html,
body {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  height: 100%;
}
#embeddedEditor {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loading-overview.hide {
  display: none !important;
}
.loading-overview {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}
.loading-overview>.loading-message {
  background-color: #232323;
  color: silver;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.modified-line {
  background: steelblue;
  width: 3px !important;
  margin-left: 5px;
}
.deleted-line {
  width: 3px !important;
  margin-left: 5px;
}
.deleted-line::after {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  width: 0px;
  height: 0px;
  top: 100%;
  content: "";
  border-top: 4px solid transparent;
  border-left: 4px solid #94151b;
  border-bottom: 4px solid transparent;
  margin-left: 5px;
  margin-top: -4px;
}
