@font-face {
  font-family: "72";
  src: url("/webjars/sap-theming__theming-base-content/11.1.40/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url("/webjars/sap-theming__theming-base-content/11.1.40/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "72";
  src: url("/webjars/sap-theming__theming-base-content/11.1.40/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SAP-icons";
  src: url("/webjars/sap-theming__theming-base-content/11.1.40/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BusinessSuiteInAppSymbols";
  src: url("/webjars/sap-theming__theming-base-content/11.1.40/content/Base/baseLib/baseTheme/fonts/BusinessSuiteInAppSymbols.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SAP-icons-TNT";
  src: url("/webjars/sap-theming__theming-base-content/11.1.40/content/Base/baseLib/baseTheme/fonts/SAP-icons-TNT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  background: var(--sapBackgroundColor, #f7f7f7);
  font-size: var(--sapFontSize, .875rem);
  line-height: var(--sapContent_LineHeight, 1.4);
  color: var(--sapTextColor, #32363a);
  font-family: var(--sapFontFamily, "72", "72full", Arial, Helvetica, sans-serif);
}
.dg-hidden {
  display: none;
}
.dg-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
}
iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}
