:root {
  --dg-status-bar-height: 1.625rem;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
/* header menus */
.dg-menu__backdrop {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Just below the dialogs */
  z-index: 200;
}
.dg-headermenu--overflow {
  overflow-y: auto !important;
  max-height: 90vh;
  flex-wrap: nowrap;
  background-color: var(--sapList_Background, #fff);
}
.dg-fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.dg-hamburger-menu .fd-menu,
.fd-menu__sublist {
  width: auto;
}
.dg-backdrop-element {
  /* Just below the dialogs, just above the backdrop */
  z-index: 210;
}
@media only screen and (max-width: 1280px) {
  .dg-menubar {
    display: none;
  }
  .dg-header-logo {
    display: none;
  }
}
@media only screen and (min-width: 1281px) {
  .dg-hamburger-menu {
    display: none;
  }
  .dg-header-logo {
    padding-left: .5rem;
  }
}
/* Main container */
.dg-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
/* Perspective view */
.dg-perspective-container {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  z-index: 1;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  width: 0;
}
.dg-perspective-view {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
/* Sidebar */
.dg-sidebar {
  width: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  border-right: .0625rem solid var(--sapGroup_TitleBorderColor, #d9d9d9);
}
.dg-sidebar > .fd-vertical-nav {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dg-sidebar > .fd-vertical-nav::-webkit-scrollbar {
  display: none;
}
.fd-list__navigation-item--indicated .dg-perspective-icon > svg {
  fill: var(--sapSelectedColor, #0854a0);
  color: var(--sapSelectedColor, #0854a0);
}
.dg-perspective-icon > svg {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--sapContent_NonInteractiveIconColor, #6a6d70);
  fill: var(--sapContent_NonInteractiveIconColor, #6a6d70);
  width: 100%;
  height: 100%;
  padding: 0.6rem;
}
/* Statusbar */
.dg-statusbar {
  background-color: var(--sapButton_Information_Background, #0a6ed1);
  width: 100%;
  min-height: var(--dg-status-bar-height);
  border-radius: 0 !important;
  border-width: 0 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 8px 0 8px;
  font-size: var(--sapFontSmallSize, .75rem);
  font-weight: normal;
  color: var(--sapButton_Information_TextColor, #fff);
  margin: 0;
  border: 0;
  font-family: var(--sapFontFamily, "72", "72full", Arial, Helvetica, sans-serif);
  text-shadow: none;
  word-break: break-word;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
}
.dg-statusbar > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dg-statusbar-busy,
.dg-statusbar-message,
.dg-statusbar-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 0 4px 0 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dg-statusbar-message,
.dg-statusbar-error {
  flex: 2;
  max-width: 40%;
}
.dg-statusbar-busy > *,
.dg-statusbar-message > *,
.dg-statusbar-error > * {
  padding: 0 4px 0 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.dg-statusbar .dg-statusbar__text {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  word-break: inherit;
  color: inherit;
  font-family: inherit;
  line-height: 1;
}
.dg-statusbar .dg-statusbar__icon,
.fd-busy-indicator {
  background: inherit;
  border-radius: inherit;
  line-height: 1;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-pack: center;
  align-items: center;
  font-size: .75rem;
  font-family: var(--sapFontFamily);
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .375rem;
  margin: 0;
  border: 0;
  font-style: normal;
  color: var(--sapButton_Information_TextColor);
}
.dg-statusbar .dg-statusbar--link {
  cursor: pointer;
  margin-left: .375rem;
}
.dg-statusbar .dg-statusbar--link {
  width: var(--dg-status-bar-height);
  height: var(--dg-status-bar-height);
}
.dg-statusbar > .dg-statusbar-message .dg-statusbar--link:hover {
  background-color: var(--sapIndicationColor_5_Hover_Background, #0961b9);
}
.dg-statusbar > .dg-statusbar-error .dg-statusbar--link:hover {
  background-color: var(--sapIndicationColor_1_Hover_Background, #6f0000);
}
.dg-statusbar-busy {
  flex: 1;
  color: var(--sapButton_Critical_TextColor, #fff);
  background-color: var(--sapButton_Critical_Background, #df6e0c);
}
.dg-statusbar-error {
  color: var(--sapButton_Negative_TextColor, #fff);
  background-color: var(--sapButton_Negative_Background, #bb0000);
}
.dg-statusbar-caret {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 6px 0 6px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: end;
}
/* Context menu */
.dg-contextmenu-overlay {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Just below the dialogs, just above the backdrop elements */
  z-index: 220;
}
.dg-contextmenu-overlay > .fd-menu {
  position: fixed;
}
/* Dialogs and Windows */
#dgIdeFormDialog .fd-form-group .fd-form-item {
  margin-bottom: 1rem;
}
#dgIdeFormDialog .fd-form-group .ng-scope:last-child > .fd-form-item {
  margin-bottom: 0;
}
.dg-window-body {
  padding: 0 !important;
}
.dg-window-body > iframe {
  border: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.dg-window__content {
  padding: 0;
  height: 70%;
  width: 70%;
  max-width: 1280px;
  max-height: 768px;
}
