<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

     <extension
           id="JavaScriptDebugServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/js-debug"
              class="org.eclipse.dirigible.runtime.js.debug.JavaScriptDebugServlet"
              load-on-startup="true">
        </servlet>
     </extension>

</plugin>
