# folders
dist/
.settings/
target/
derby/
dirigible_local/

# files
.DS_Store
.project
.classpath
*.bak
*.class
*.jar
derby.log
/bin/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
/target/
