body {
	background-color: #ffffff;
}
.ace-tm {
	background-color: #ffffff;
}
.ace-tm .ace_gutter {
    background: #edeff0;
    color: #333;
}

.ace-tm .ace_gutter-active-line {
    background: #e3f0fb;
}