html, body {
    height: 100%;
    margin: 0;         /* Reset default margin on the body element */
}
iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    width: 100%;
    height: 100%;
}
body {
  background-color: #ffffff;
  color: #163550;
  font-size: 14px;
  
  --modeler-entity-border: #88b5dd;
  --modeler-entity-header-background: #609dd2;
  --modeler-entity-header-color: #fff;
  --modeler-entity-background: #fff;
  --modeler-entity-color: #3277b3;
  --modeler-entity-connector: #609dd2;
}
.navbar {
	margin-bottom: 0px !important;
}
.shell {
	display: -webkit-flex;
	display: flex;
	flex-wrap: row wrap;
	width: 100%;
	height: calc(100% - 42px);
	top: 42px;
}
.sidebar {
	background: #ffffff;
	width: 3.6em;
	vertical-align: top;
	-webkit-flex: none;
	flex: none;
	position: fixed;
	top: 42px;
}
.plane {
 	-webkit-flex: 1;
 	flex: 1 1 auto;
    position: absolute;
	width: calc(100% - 3.8em);
	height: calc(100% - (42px + 2em));
	left: 3.6em;
	top: 41px;
}
.statusbar {
	width: 100%;
	height: 2em;
	background: #edeff0;
	color: rgb(72, 122, 183);
	position: fixed;
	bottom: 0;
	padding: 6px 56px 0px 26px;
}
.statusbar-message {
	width: 40%;
}
.statusbar-error {
	color: red;
	width: 45%;
}
.lm_header .lm_tab {
	background: #edeff0;
	color: #818487;
	font-size: 14px;
}
.lm_header .lm_active {
    background: #fefefe;
    color: #4577b5;
}
.list-group-item {
  background: none !important;
  border: transparent !important;
  color: #487ab7 !important;
}

.list-group-item.active {
	color: #487ab7 !important;
	background: #e5f0fa !important;
}
.list-group-item.active:hover {
	color: #386aa7 !important;
}

a.list-group-item.hover,
a.list-group-item:hover{
  background-color: #aaa;
  color: #386aa7 !important;
}

nav.navbar {
  /*background-color: transparent;*/
  background-color: #354a5e;
  border: transparent;
  top: 0;
  height: 42px;
  padding: 8px;
}

.navbar-inverse .navbar-brand {
    color: aliceblue;
    padding: 4px;
    font-weight: 500 !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #d7e6f4;
}

nav.navbar a{
  line-height: 21px;
  color: aliceblue !important;
}
nav.navbar .dropdown-menu{
  border: 0px;
  background-color: #3f5161 !important;
}
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #3f5161;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color:  #354a5e;
}


.lm_header,
.lm_header .lm_tab,
.lm_header .lm_tab, .lm_title {
  height: 24px;
  line-height: 24px;
}
.lm_header .lm_tab.lm_active{
  box-shadow: none;
  padding-bottom: 4px;
  border-top: #105198;
  border-top-width: 2px;
  border-top-style: solid;
}
 
.lm_header .lm_tab {
  border: 1px solid #edeff0;
  padding-bottom: 4px;
  box-shadow: none;
  /*top: 1px;  */
}
.lm_header {
  background-color: #edeff0;
  height: 31px !important;
}
.lm_splitter{
  opacity: inherit;
  background-color: #edeff0;
}
.lm_items {
  /*border: 1px solid #aaa;*/
	border: 0;
}

.lm_content {
    background: #edeff0;
    border: 1px solid #edeff0;
}

.vakata-context, .vakata-context ul {
    box-shadow: none;
}
.vakata-context li>a {
	font-size: .9em;
    line-height: 2em;
    height: 2.6rem;
    font-family: arial;
	padding: 0 3.1rem;
}
.vakata-context li>a>i:empty {
    width: 2rem;
    line-height: 2rem;
}
.vakata-context li>a>i {
	height: 3rem;
	margin: 0 0 0 -2rem;
}
.vakata-context li>a .vakata-contextmenu-sep {
	height: 3rem;
	margin: 0 .5em 0 0;
}
ul.vakata-context.jstree-contextmenu > li > a {
	display: block;
}
ul.vakata-context.jstree-contextmenu span.vakata-contextmenu-shortcut {
	display: block;
	color: #cececf;
	float:right;
	margin-left: 2rem;
}

.view {
	background-color: #f5f5f5;
	color: #343436;
}

.logo {
	font-weight: bold !important;
	color: #434344;
	margin-left: 12px !important;
}

.user {
	color: #afcee9;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.key {
  flex: 1 1 auto;
  max-width: 15%;
  padding: 2px 5px;
  background: #edeff0;
  border-bottom: 1px solid #dddfe0;
}
.value {
  flex: 2 1 auto;
  padding: 2px 5px;
}
.striped-container .striped-item {
  border-bottom: 1px solid #fff0ff;
}
.striped-container .striped-item:nth-of-type(odd) {
  background: #efefef;
}
.striped-container .striped-item:nth-of-type(odd) .key {
  background: #edeff0;
}
.striped-container .striped-item:nth-of-type(odd) .value {
  background: #ffffff;
}
.striped-item:hover .value {
  background: rgba(210, 210, 210, 0.85);
}
.striped-item:nth-of-type(odd):hover .value{
  background: rgba(200, 200, 200, 0.85);
}

.modal {
	color: #cddae4;
}
.modal-backdrop.in{
	opacity:.8;filter:alpha(opacity=50)
}

.navbar-brand {
    font-weight: normal !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

/** Modelers */

.toolbarContainer {
	position:absolute;
	white-space:nowrap;
	overflow:hidden;
	top:0px;
	left:0px;
	/*max-height:24px;*/
	height:36px;
	right:0px;
	padding:6px;
	background-color:#a3bace;
}

.sidebarContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	left:0px;
	bottom:36px;
	max-width:34px;
	width:34px;
	padding-top:10px;
	padding-left:4px;
	background-color:#dee6ed;
	color:#609dd2;
}

.graphContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	left:60px;
	bottom:36px;
	right:0px;
}

.outlineContainer {
	position:absolute;
	overflow:hidden;
	top:36px;
	right:0px;
	width:200px;
	height:140px;
	background:transparent;
	border-style:solid;
	border-color:#333333;
}

.statusContainer {
	text-align:right;
	position:absolute;
	overflow:hidden;
	bottom:0px;
	left:0px;
	/*max-height:24px;*/
	height:36px;
	right:0px;
	color:#3277b3;
	padding:6px;
	background-color:#a3bace;
}

.button {
	color:#fff !important;
}

.button:hover {
	background: #999 !important;
	color:#ddd !important;
}

.plane-inner {
 	left: 0em;
    top: 3px;
    width: 100%;
    height: calc(100% - 3px);
}

.panel-heading {
    background: url(../../web/resources/images/clouds.jpg) no-repeat center center;
}
.panel > header {
	background-color: #495a69;
	color: #e1e6ea;
	background: url(../../web/resources/images/clouds.jpg) no-repeat center center;
	background-size: cover;
}
.leading {
	font-size: 38px;
	line-height: 1 !important;
	font-family: Helvetica Neue, Arial;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #316f8f;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.my-list-item {
	color: #3277b3 !important;
}

.fa-2x {
    font-size: 1.4em !important;
}

.btn-toolbar-top {
	width: 100%;
	height: 1.8em;
}

.btn-top {
	border: 0px;
	background-color: #ffffff;
	padding: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	color: #156aaf;
	font-size: 16px;
}

.dropdown-top {
	border: 1px solid #a5acb3;
	border-radius: 0 !important;
	background-color: #ffffff;
	color: #156aaf;
	font-size: 16px;
	margin-top: 1px;
	margin-right: 2px;
}

.workspace {
	border-top: 2px solid #edeff0;
}

.debugger {
	border-top: 2px solid #edeff0;
}

.database {
	border-top: 2px solid #edeff0;
}

.repository {
	border-top: 2px solid #edeff0;
}

.registry {
	border-top: 2px solid #edeff0;
}

.lm_header .lm_controls>li {
	margin-top: 6px;
}

.lm_header .lm_tab .lm_close_tab {
	margin-top: 6px;
}

.console-row {
	font-family: monospace;
	background-color: #ffffff;
}

.console-row-error {
	color: red;
}

.console-row-warn {
	color: darkorange;
}

.console-row-info {
	color: green;
}

.console-row-debug {
	color: silver;
}

.console-row-trace {
	color: darkgray;
}
