/*
 * Fiori Light Theme
 */

html,
body {
  height: 100%;
  margin: 0; /* Reset default margin on the body element */
  padding: 0; /* Reset default paddong on the body element */
}
iframe {
  display: block; /* iframes are inline by default */
  border: none; /* Reset default border */
  width: 100%;
  height: 100%;
}
body {
  background-color: #ffffff;
  color: #163550;
  font-size: 14px;

  --modeler-entity-border: #88b5dd;
  --modeler-entity-header-background: #609dd2;
  --modeler-entity-header-color: #fff;
  --modeler-entity-background: #fff;
  --modeler-entity-color: #3277b3;
  --modeler-entity-connector: #609dd2;
}
.btn {
  padding: 2px 6px 2px 6px;
  font-size: 15px;
  line-height: 1.3;
  border-radius: 2px;
}
.navbar {
  margin-bottom: 0px !important;
}
.shell {
  display: -webkit-flex;
  display: flex;
  flex-wrap: row wrap;
  width: 100%;
  height: calc(
    100% - (42px + 26px)
  ); /* Whole height minus (top + bottom bar) */
  top: 42px;
}
.sidebar {
  background: #ffffff;
  width: 50px;
  vertical-align: top;
  -webkit-flex: none;
  flex: none;
  position: fixed;
  top: 42px;
}
.plane {
  -webkit-flex: 1;
  flex: 1 1 auto;
  position: absolute;
  width: calc(100% - 52px);
  height: calc(
    100% - (42px + 26px)
  ); /* Whole height minus (top + bottom bar) */
  left: 50px;
  top: 42px;
}
.statusbar {
  width: 100%;
  height: 26px;
  background: #edeff0;
  color: rgb(72, 122, 183);
  position: fixed;
  bottom: 0;
  padding: 0 56px 0 26px;
}
.statusbar-message {
  width: 40%;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.statusbar-error {
  color: red;
  width: 45%;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lm_header .lm_tab {
  background: #edeff0;
  color: #414447;
  font-size: 14px;
  font-weight: 300;
  font-family: Helvetica Neue, Arial;
  letter-spacing: 0.05em;
}
.lm_header .lm_active {
  background: #fefefe;
  color: #0854a0;
}
.list-group-item {
  background: none !important;
  border: transparent !important;
  color: #487ab7 !important;
}

.list-group-item.active {
  color: #487ab7 !important;
  background: #e5f0fa !important;
}
.list-group-item.active:hover {
  color: #386aa7 !important;
}

a.list-group-item.hover,
a.list-group-item:hover {
  background-color: #aaa;
  color: #386aa7 !important;
}

nav.navbar {
  /*background-color: transparent;*/
  background-color: #354a5e;
  border: transparent;
  top: 0;
  height: 42px;
  padding: 8px;
}

.navbar-inverse .navbar-brand {
  color: aliceblue;
  padding: 4px;
  font-weight: 500 !important;
}

.navbar-inverse .navbar-brand:hover {
  color: #d7e6f4;
}

nav.navbar a {
  line-height: 21px;
  color: aliceblue !important;
}
nav.navbar .dropdown-menu {
  border: 0px;
  background-color: #3f5161 !important;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #3f5161;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #354a5e;
}

.launchpad-description {
  font-size: 1.2em;
  font-weight: 300;
}

.lm_header,
.lm_header .lm_tab,
.lm_header .lm_tab,
.lm_title {
  height: 24px;
  line-height: 24px;
}
.lm_header .lm_tab.lm_active {
  box-shadow: none;
  padding-bottom: 4px;
  border-top: #105198;
  border-top-width: 2px;
  border-top-style: solid;
}

.lm_header .lm_tab {
  border: 1px solid #edeff0;
  padding-bottom: 4px;
  box-shadow: none;
  /*top: 1px;  */
}
.lm_header {
  background-color: #edeff0;
  height: 31px !important;
  width: calc(100% + 2px); /* Temporary fix*/
}
.lm_splitter {
  opacity: inherit;
  background-color: #edeff0;
}
.lm_items {
  /*border: 1px solid #aaa;*/
  border: 0;
}

.lm_content {
  background: #ffffff;
  border: 1px solid #edeff0;
}

.lm_item_container {
  display: block;
}

.vakata-context,
.vakata-context ul {
  box-shadow: none;
}
.vakata-context li > a {
  font-size: 0.9em;
  line-height: 2em;
  height: 2.6rem;
  padding: 0 3.1rem;
  font-weight: 300;
}
.vakata-context li > a > i:empty {
  width: 2rem;
  line-height: 2rem;
}
.vakata-context li > a > i {
  height: 3rem;
  margin: 0 0 0 -2rem;
}
.vakata-context li > a .vakata-contextmenu-sep {
  height: 3rem;
  margin: 0 0.5em 0 0;
}
ul.vakata-context.jstree-contextmenu > li > a {
  display: block;
}
ul.vakata-context.jstree-contextmenu span.vakata-contextmenu-shortcut {
  display: block;
  color: #cececf;
  float: right;
  margin-left: 2rem;
}

.view {
  background-color: #fff;
  color: #343436;
}

.preview-pre {
  color: #343436;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  font-weight: bold !important;
  color: #434344;
  margin-left: 12px !important;
}

.user {
  color: #afcee9;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.key {
  flex: 1 1 auto;
  max-width: 15%;
  padding: 2px 5px;
  background: #edeff0;
  border-bottom: 1px solid #dddfe0;
}
.value {
  flex: 2 1 auto;
  padding: 2px 5px;
}
.striped-container .striped-item {
  border-bottom: 1px solid #fff0ff;
}
.striped-container .striped-item:nth-of-type(odd) {
  background: #efefef;
}
.striped-container .striped-item:nth-of-type(odd) .key {
  background: #edeff0;
}
.striped-container .striped-item:nth-of-type(odd) .value {
  background: #ffffff;
}
.striped-item:hover .value {
  background: rgba(210, 210, 210, 0.85);
}
.striped-item:nth-of-type(odd):hover .value {
  background: rgba(200, 200, 200, 0.85);
}

.modal {
  color: #aaa;
  /*letter-spacing: 1px;*/
  font-size: 1.2em;
}
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.navbar-brand {
  font-weight: normal !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/** Modelers */

.toolbarContainer {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  top: 0px;
  left: 0px;
  /*max-height:24px;*/
  height: 36px;
  right: 0px;
  padding: 6px;
  background-color: #a3bace;
}

.sidebarContainer {
  position: absolute;
  overflow: hidden;
  top: 36px;
  left: 0px;
  bottom: 36px;
  max-width: 34px;
  width: 34px;
  padding-top: 10px;
  padding-left: 4px;
  background-color: #dee6ed;
  color: #609dd2;
}

.graphContainer {
  position: absolute;
  overflow: hidden;
  top: 36px;
  left: 60px;
  bottom: 36px;
  right: 0px;
}

.outlineContainer {
  position: absolute;
  overflow: hidden;
  top: 36px;
  right: 0px;
  width: 200px;
  height: 140px;
  background: transparent;
  border-style: solid;
  border-color: #333333;
}

.statusContainer {
  text-align: right;
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  /*max-height:24px;*/
  height: 36px;
  right: 0px;
  color: #3277b3;
  padding: 6px;
  background-color: #a3bace;
}

.button {
  color: #fff !important;
}

.button:hover {
  background: #999 !important;
  color: #ddd !important;
}

.plane-inner {
  left: 0em;
  top: 3px;
  width: 100%;
  height: calc(100% - 3px);
}

.panel-heading {
  /*background: url(../../web/resources/images/clouds.jpg) no-repeat center center;*/
  color: #777777;
}
.panel > header {
  background-color: #314455;
  color: #e1e6ea;
  /*background: url(../../web/resources/images/clouds.jpg) no-repeat center center;*/
  background-size: cover;
}
.leading {
  font-family: Helvetica Neue, Arial;
  font-size: 42px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.panel-primary {
  border-color: #d8d8d8;
  border-radius: 4px;
}
.panel-primary > .panel-heading {
  color: #32363a;
  background-color: #ffffff;
  border-color: #d8d8d8;
  border-radius: 4px;
  padding: 1em 2em 1em 1em;
}
.panel-primary > .panel-heading > .row > .col-xs-3 > .fa-4x {
  width: 2em;
  height: 2em;
  border-radius: 4px;
  background-color: #0f828f;
  font-size: 1.6em;
  text-align: center;
  display: inline-block;
  padding-top: 0.5em;
  color: #eeeeee;
}
.panel-primary > .panel-heading .badge {
  background-color: #fdf3e6;
  border: solid 1px #d08014;
  color: #777777;
}
.panel-footer {
  background-color: #ffffff;
  border-top: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #32363a;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-size: 1.4em;
}

.my-list-item {
  color: #3277b3 !important;
}

.fa-2x {
  font-size: 1.4em !important;
}

.btn-toolbar-top {
  width: 100%;
  height: 1.8em;
  background-color: white;
  margin-top: 2px;
}

.btn-top {
  border: 0px;
  background-color: #ffffff;
  padding: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  color: #156aaf;
  font-size: 16px;
  top: -1px;
}

.dropdown-top {
  border: 1px solid #a5acb3;
  border-radius: 0 !important;
  background-color: #ffffff;
  color: #156aaf;
  font-size: 16px;
  margin-right: 2px;
  font-weight: 300;
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid;
  margin-top: 2px;
}

.workspace {
  font-weight: 300;
  margin-top: 0.4em;
  position: relative;
}

.search {
  border-top: 2px solid #edeff0;
  font-weight: 300;
}

.debugger {
  border-top: 2px solid #edeff0;
  font-weight: 300;
}

.database {
  font-weight: 300;
  margin-top: 0.4em;
  position: relative;
}

.repository {
  font-weight: 300;
  margin-top: 0.4em;
  position: relative;
}

.registry {
  font-weight: 300;
  margin-top: 0.4em;
  position: relative;
}

.lm_header .lm_controls > li {
  margin-top: 6px;
}

.lm_header .lm_tab .lm_close_tab {
  margin-top: 6px;
}

.console-row {
  font-family: monospace;
  background-color: #ffffff;
}

.console-row-error {
  color: red;
}

.console-row-warn {
  color: darkorange;
}

.console-row-info {
  color: green;
}

.console-row-debug {
  color: silver;
}

.console-row-trace {
  color: darkgray;
}

.search-dropdown {
  height: 1.7em !important;
}

.search-box {
  height: 23px !important;
  margin-top: 1px !important;
}

.search-button {
  height: 23px !important;
  margin-left: 4px !important;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.view-toolbar {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;
}

.view-fixed-top {
  top: -1px;
  border-width: 0 0 0px;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
  border-bottom: 2px solid #edeff0;
  white-space: nowrap;
  /*overflow: auto;*/
}

.preview-button {
  height: 20px !important;
  font-size: 4;
  padding-top: 0px;
}

.preview-body {
  padding-top: 20px;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  /* padding-top: 56.25%; */
  width: 100%;
  height: 100%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.documents-folder-button {
  height: 20px !important;
  font-size: 4;
  padding-top: 0px;
  border-radius: 0;
  margin-top: 0px;
}

.logs-dropdown {
  border-radius: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none;
}

.logs-area {
  height: 100% !important;
  background-color: #fff;
}

.tableFixHead {
  overflow-y: auto;
  height: 100%;
}
.tableFixHead thead th {
  position: sticky;
  top: -1px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #f7f7f7;
}

.tdSingleLine {
  white-space: nowrap;
  overflow: auto;
}

.extension-name {
  color: #477ab7;
  font-weight: 400;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #337ab7;
  background: #337ab7;
  font-weight: normal;
  color: #ffffff;
}

.bg-default {
  background-color: #f5f5f5;
}