html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}
.row {
    height: 100%;
    display: table-row;
}
.row .no-float {
    display: table-cell;
    float: none;
}
.migration-nav {
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    min-width: 260px;
    font-size: 15px;
    position: relative;
}
.nav-progress {
	position: absolute;
    width: 100%;
    margin: 0;
}
.nav-progress-line {
    position: absolute;
    top: 25px;
    left: 0;
    border-left: 4px dotted #CCC;
    background-color: none;
    margin-left: 24px;
    height: calc(100% - 50px);
}
.nav-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    padding: 8px;
}
.nav-item > * {
    margin: 10px 8px 10px 8px;
    z-index: 1;
}
.nav-item.active {
    background-color: white;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.nav-item.done > .nav-item-indicator {
    background-color: #b1b1b1;
}
.nav-item.active > .nav-item-indicator {
    background-color: #7e7e7e;
}
/* First item in list */
.nav-progress > .active:nth-of-type(2) {
	border-top: none;
}
.nav-item-indicator {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    border: 3px solid #f5f5f5;
    background-color: #fff;
}
.nav-item-label {
    display: inline-block;
}
.migration-main {
    width: 100%;
    background: white;
    padding: 15px;
    overflow: auto;
}
.migration-title {
    display: table;
    width: 100%;
    font-size: 20px;
    color: #555;
    padding: 15px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}
.migration-title span {
    display: table-cell;
    vertical-align: middle;
}
.section-title {
    font-size: 24px;
}
.form-control {
    height: auto;
    padding: 10px 12px 10px 12px;
    font-size: 16px;
}
.steps-container {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
}
.bottom-nav {
    width: 100%;
    background-color: #7e7e7e;
}
.btn-big {
    padding: 8px 12px;
}
label {
    margin-top: 14px;
    margin-bottom: 10px;
}
.input-group-addon {
    min-width: 42px;
    padding: 0 10px 0 10px;
}
.input-group-addon * {
    vertical-align: middle;
}
.margin-top-bottom-sm {
    margin-top: 16px;
    margin-bottom: 16px;
}
.margin-top-bottom-nl {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-top-bottom-lg {
    margin-top: 24px;
    margin-bottom: 24px;
}
.margin-top-bottom-xl {
    margin-top: 32px;
    margin-bottom: 32px;
}
.margin-top-bottom-xxl {
    margin-top: 48px;
    margin-bottom: 48px;
}
.margin-top-sm {
    margin-top: 16px;
}
.margin-top-nl {
    margin-top: 20px;
}
.margin-top-lg {
    margin-top: 24px;
}
.margin-top-xl {
    margin-top: 32px;
}
.margin-top-xxl {
    margin-top: 48px;
}