<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

     <extension
           id="WikiRegistryServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/wiki"
              class="org.eclipse.dirigible.runtime.wiki.WikiRegistryServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="WikiRegistrySecuredServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/wiki-secured"
              class="org.eclipse.dirigible.runtime.wiki.WikiRegistrySecuredServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="WikiRegistrySandboxServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/wiki-sandbox"
              class="org.eclipse.dirigible.runtime.wiki.WikiRegistrySandboxServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="WikiRegistryUiContentServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/web/wiki"
              class="org.eclipse.dirigible.runtime.wiki.WikiRegistryUiContentServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="WikiRegistryUiContentSecuredServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/web/wiki-secured"
              class="org.eclipse.dirigible.runtime.wiki.WikiRegistryUiContentSecuredServlet"
              load-on-startup="false">
        </servlet>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/wiki-secured"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
     
      <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/wiki-sandbox"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/wiki"
              class="org.eclipse.dirigible.runtime.wiki.WikiRegistrySecureFilter">
        </filter>
     </extension>
          
</plugin>
