<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eclipse Dirigible &trade;</title>

	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
	
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- jQuery -->
	<script src="/services/v3/web/resources/jquery/2.0.3/jquery.min.js"></script>
	
	<!-- Twitter Bootstrap with Theme Support -->
	<link rel="stylesheet" href="/services/v3/core/theme/bootstrap.min.css">
	<script src="/services/v3/web/resources/bootstrap/3.3.7/bootstrap.min.js"></script>
	
	<!-- GoldenLayout with Theme Support -->
	<script type="text/javascript" src="/services/v3/web/resources/goldenlayout/1.5.9/goldenlayout.js"></script>
	<link type="text/css" rel="stylesheet" href="/services/v3/web/resources/goldenlayout/1.5.9/goldenlayout-base.css" />
	<link type="text/css" rel="stylesheet" href="/services/v3/core/theme/goldenlayout-theme.css" />
	
	<!-- Custom IDE Styles -->
	<link type="text/css" rel="stylesheet" href="/services/v3/core/theme/ide.css" />
	
	<script src="ui/message-hub.js"></script>
	
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="workbench" ng-controller="WorkbenchController">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-flex">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<!-- <img src="img/dirigible.png" style="width: 30px; margin-left: 10px"> -->
					<!-- <i class="logo-icon icon-dirigible" style="color: #ffcc00">&#xe800;</i> -->
					
				</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul id="main-menu" class="nav navbar-nav">
					<li ng-class="{dropdown: !!menu.items}" ng-repeat="menuItem in menu">
						<a ng-hide="menuItem.items" href="{{menuItem.link}}" ng-click="onClick(menuItem.onClick)" target="{{menuItem.newTab ? '_blank' : '_self'}}">{{ menuItem.name }}</a>
						<a ng-show="menuItem.items" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menuItem.name }}</a>
						<ul class="dropdown-menu">
							<li ng-repeat="item in menuItem.items">
								<a ng-hide="item.items" href="{{item.link}}" ng-click="onClick(item.onClick)" target="{{item.newTab ? '_blank' : '_self'}}">{{ item.name }}</a>
								<a ng-show="item.items" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.name }}</a>
								<ul class="dropdown-submenu">
									<li ng-repeat="subItem in item.items">
										<a href="{{subItem.link}}" ng-click="onClick(subItem.onClick)" target="{{subItem.newTab ? '_blank' : '_self'}}">{{ subItem.name }}</a>
									</li>
								</ul>
								
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				  <li class="dropdown" ng-include="'/services/v3/web/resources/themes/themes.html'"></li>
				  <li class="hidden-xs">
					<a href=""><span class="fa fa-user"></span> <span ng-include="'../../js/ide/services/user-name.js'"></span>&nbsp;</a>
				  </li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="shell">
		<div class="sidebar list-group">
			<a class="list-group-item" ng-repeat="perspective in perspectives" title="{{perspective.name}}" href="{{perspective.link}}" target="_blank"><i class="fa fa-{{perspective.image}} fa-2x"></i></a>
		</div>
		<div class="plane"></div>
	</div>
	<div class="statusbar"></div>
	
	<!-- AngularJS -->
	<script src="/services/v3/web/resources/angular/1.4.7/angular.min.js"></script>
	<script src="/services/v3/web/resources/angular/1.4.7/angular-resource.min.js"></script>
	
	<script src="ui/ui-layout.js"></script>
	
	<script type="text/javascript">

		var viewRegistry = new ViewRegistry();

		viewRegistry.factory('frame', function(container, componentState){
			container.setTitle(componentState.label || 'View');
			container.getElement().empty().html( '<iframe src="'+componentState.path+'"></iframe>' );
		})
		.factory('Editor', function(container, componentState){
			this.setContent = function(path){
				if (path) {
					container.getElement().empty().html( '<iframe src="../ide-orion/editor.html?file='+path+'"></iframe>' );
				} else {
					container.setTitle( 'Welcome' );
					container.getElement().empty().html( '<iframe src="welcome.html"></iframe>' );
				}
				
			};
			this.setContent(componentState.path);
		})
		.view('ws', 'frame', 'left-top', 'Workspace',  {path: '../ide-workspace/workspace.html'})
		.view('import', 'frame', 'left-top', 'Import', {path: '../ide-workspace/import.html'})
		.view('editor', 'Editor', 'center-middle', 'Editor', {})
		.view('console', 'frame', 'center-bottom', 'Console', {path: '../ide-console/console.html'})
		.view('preview', 'frame', 'center-bottom', 'Preview', {path: '../ide-preview/preview.html'})
		.view('properties', 'frame', 'center-bottom', 'Properties', {path: '../ide/properties.html'})
		.view('terminal', 'frame', 'center-bottom', 'Terminal', {path: '../ide-terminal/terminal.html'});//.. and so on
	
		var layoutCtrl = new LayoutController(viewRegistry);
		
		var wsFileOpenListenerId = layoutCtrl.addListener('workspace.file.open', function(msg){
			var newItemConfig = {
				id: msg.data.path,
				title: msg.data.label,
				type: 'component',
				componentName: 'Editor',
				componentState:{ 
					path: msg.data.path
				}
			};
			//is an editor available to stack new children to it?
			if(this.layout.root.getItemsById('editor')[0]){
				//is already open?
				if(this.layout.root.getItemsById(newItemConfig.id).length){
					//replace content
					var panel = this.layout.root.getItemsById(newItemConfig.id)[0];
					panel.instance.setContent(newItemConfig.id)
					panel.parent.setActiveContentItem(panel);
				} else {
					// open new tab
					this.layout.root.getItemsById('editor')[0].parent.addChild( newItemConfig );
				}
			} else {
				this.openView('editor')
			}
		});
		
		var wsFileDeletedListenerId = layoutCtrl.addListener('workspace.file.deleted', function(msg){
 			//TODO: check if deleted file is currently open in editor and close the editor window
 			console.log('file deleted recieved:'+ msg);
 		});
 				
		var openViewListenerId = layoutCtrl.addListener('ide.perspective.views.open', function(msg){
			var viewId = msg.data.viewId;
			var regionId = msg.data.regionId;
			layoutCtrl.open(viewId, regionId);
		})
 		$(window).resize(function(){layoutCtrl.layout.updateSize()});//TODO: do not expose the native layout object
		layoutCtrl.init($('.plane'), ['ws', 'import', 'editor', 'properties', 'console', 'preview']);
		
	</script>
	
	<script type="text/javascript">
		angular.module('workbench', []);
		angular.module('workbench').controller('WorkbenchController', function ($scope, $http) {
			
			var url = '../../js/ide/services/menu.js';
			$http.get(url)
				.success(function(data) {
					$scope.menu = data;
			});
			
			$scope.onClick = function(action) {
				if(this.item.name === 'Show View'){
					layoutCtrl.openView(this.subItem.name.toLowerCase());
				} else {
					eval(action);
				}
			};
			
			var urlPerspectives = '../../js/ide/services/perspectives.js';
			$http.get(urlPerspectives)
				.success(function(data) {
					$scope.perspectives = data;
			});
		});
	</script>
	
	<script src="/services/v3/web/resources/themes/theme.js"></script>
	
</body>

</html>
