<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eclipse Dirigible &trade; | Workbench </title>

	<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
	
    	<link href="/services/v3/web/resources/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- jQuery -->
	<script src="/services/v3/web/resources/jquery/2.0.3/jquery.min.js"></script>
	
	<!-- Twitter Bootstrap with Theme Support -->
	<link rel="stylesheet" href="/services/v3/core/theme/bootstrap.min.css">
	<script src="/services/v3/web/resources/bootstrap/3.3.7/bootstrap.min.js"></script>
	
	<!-- GoldenLayout with Theme Support -->
	<script type="text/javascript" src="/services/v3/web/resources/goldenlayout/1.5.9/goldenlayout.js"></script>
	<link type="text/css" rel="stylesheet" href="/services/v3/web/resources/goldenlayout/1.5.9/goldenlayout-base.css" />
	<link type="text/css" rel="stylesheet" href="/services/v3/core/theme/goldenlayout-theme.css" />
	
	<!-- Custom IDE Styles -->
	<link type="text/css" rel="stylesheet" href="/services/v3/core/theme/ide.css" />
	
	<script src="ui/message-hub.js"></script>
	
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<link rel="stylesheet" href="/services/v3/web/resources/font-dirigible/font.css">
    
</head>

<body ng-app="workbench" ng-controller="WorkbenchController as wb">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-flex">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<i class="logo logo-icon icon-dirigible">&#xe801;</i>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul id="main-menu" class="nav navbar-nav">
					<li ng-class="{dropdown: !!wb.menu.items}" ng-repeat="menuItem in wb.menu">
						<a ng-hide="menuItem.items" href="{{menuItem.link}}" ng-click="wb.onClick(menuItem.onClick, item)" target="{{menuItem.newTab ? '_blank' : '_self'}}">{{ menuItem.name }}</a>
						<a ng-show="menuItem.items" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menuItem.name }}</a>
						<ul class="dropdown-menu">
							<li ng-repeat="item in menuItem.items">
								<a ng-hide="item.items" href="{{item.link}}" ng-click="wb.onClick(item.onClick, item)" target="{{item.newTab ? '_blank' : '_self'}}">{{ item.name }}</a>
								<a ng-show="item.items" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.name }}</a>
								<ul class="dropdown-submenu">
									<li ng-repeat="subItem in item.items">
										<a href="{{subItem.link}}" ng-click="wb.onClick(subItem.onClick, item, subItem)" target="{{subItem.newTab ? '_blank' : '_self'}}">{{ subItem.name }}</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				  <!--li class="dropdown" ng-include="'/services/v3/web/resources/themes/themes.html'"></li-->
				  <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes <b class="caret"></b></a>
		          	<ul class="dropdown-menu">
		                <li><a href="#" data-theme="default" class="theme-link" ng-click="wb.selectTheme('default')">Default</a></li>
		                <li><a href="#" data-theme="wendy" class="theme-link" ng-click="wb.selectTheme('wendy')">Wendy</a></li>
		                <li><a href="#" data-theme="baroness" class="theme-link" ng-click="wb.selectTheme('baroness')">Baroness</a></li>
		            </ul>
				  </li>				  
				  <li class="hidden-xs">
					<a href=""><span class="fa fa-user user"></span> <span class="user" ng-include="'../../js/ide/services/user-name.js'"></span>&nbsp;</a>
				  </li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="shell">
		<div class="sidebar list-group">
			<a class="list-group-item" ng-repeat="perspective in wb.perspectives" ng-class="{active: perspective.name==='Workbench'}" title="{{perspective.name}}" href="{{perspective.link}}" target="_blank"><i class="fa fa-{{perspective.image}} fa-2x"></i></a>
		</div>
		<div class="plane"></div>
	</div>
	<div class="statusbar" ng-controller="StatusBarController as statusbar">{{statusbar.message}}</div>
	
	<!-- AngularJS -->
	<script src="/services/v3/web/resources/angular/1.4.7/angular.min.js"></script>
	<script src="/services/v3/web/resources/angular/1.4.7/angular-resource.min.js"></script>
	
	<script src="ui/ui-layout.js"></script>
	
	<script type="text/javascript">
		angular.module('workbench', ['ngResource'])
		.service('Perspectives', ['$resource', function($resource){
			return $resource('../../js/ide/services/perspectives.js');
		}])
		.service('Menu', ['$resource', function($resource){
			return $resource('../../js/ide/services/menu.js');
		}])
		.service('Theme', ['$resource', function($resource){
			var themeswitcher = $resource('/services/v3/core/theme?name=:themeName', {themeName: 'default'});
			var themes = {
				"default": "/services/v3/web/resources/themes/default/bootstrap.min.css",
				"wendy" : "/services/v3/web/resources/themes/wendy/bootstrap.min.css",
				"baroness" : "/services/v3/web/resources/themes/baroness/bootstrap.min.css"
			};
			return {
				changeTheme: function(themeName){
					return themeswitcher.get({'themeName':themeName});
				},
				themeUrl: function(themeName){
					return themes[themeName];
				}			
			}
		}])
		.factory('Layout', [function(){
			var layoutCtrl = new LayoutController(GLOBAL_VIEW_REGISTRY);
		
			var wsFileOpenListenerId = layoutCtrl.addListener('workspace.file.open', function(msg){
				var newItemConfig = {
					id: msg.data.path,
					title: msg.data.label,
					type: 'component',
					componentName: 'Editor',
					componentState:{ 
						path: msg.data.path
					}
				};
				//is an editor available to stack new children to it?
				if(this.layout.root.getItemsById('editor')[0]){
					//is already open?
					if(this.layout.root.getItemsById(newItemConfig.id).length){
						//replace content
						var panel = this.layout.root.getItemsById(newItemConfig.id)[0];
						panel.instance.setContent(newItemConfig.id)
						panel.parent.setActiveContentItem(panel);
					} else {
						// open new tab
						this.layout.root.getItemsById('editor')[0].parent.addChild( newItemConfig );
					}
				} else {
					this.openView('editor')
				}
			});
			
			var wsFileDeletedListenerId = layoutCtrl.addListener('workspace.file.deleted', function(msg){
				//TODO: check if deleted file is currently open in editor and close the editor window
				console.log('file deleted recieved:'+ msg);
			});
					
			var openViewListenerId = layoutCtrl.addListener('ide.perspective.views.open', function(msg){
				var viewId = msg.data.viewId;
				var regionId = msg.data.regionId;
				layoutCtrl.open(viewId, regionId);
			})
			$(window).resize(function(){layoutCtrl.layout.updateSize()});//TODO: do not expose the native layout object
			layoutCtrl.init($('.plane'), ['ws', 'import', 'editor', 'properties', 'console', 'preview']);
			
			return layoutCtrl;
		}])
		.factory('$messageHub', [function(){
			var messageHub = new FramesMessageHub();	
			var message = function(evtName, data){
				messageHub.post({data: data}, 'workbench.' + evtName);
			};
			var on = function(topic, callback){
				messageHub.subscribe(callback, topic);
			};
			return {
				message: message,
				on: on
			};		
		}])
		.controller('WorkbenchController', ['Perspectives', 'Menu', 'Theme', 'Layout', '$messageHub', function (Perspectives, Menu, Theme, Layout, $messageHub) {
			this.perspectives = Perspectives.query();
			this.menu = Menu.query();
			this.Layout = Layout;
			
			this.onClick = function(action, item, subItem) {
				if(item.name === 'Show View'){
					Layout.openView(subItem.name.toLowerCase());
				} else {
					eval(action);
				}
			};
			
			this.reset = function(){
				this.Layout.reset();
			}
			
			this.selectTheme = function(themeName){
				Theme.changeTheme(themeName);
				var themeUrl = Theme.themeUrl(themeName);
				$messageHub.message('theme.changed', themeUrl);
			}
			
			$messageHub.on('workbench.theme.changed', function(msg){
				var themeUrl = msg.data;
				
				$('a[href="/services/v3/core/theme/goldenlayout-theme.css"]').remove();
				$('<link href="/services/v3/core/theme/goldenlayout-theme.css" rel="stylesheet" />').appendTo('head');
				
				$('a[href="/services/v3/core/theme/ide.css"]').remove();
				$('<link href="/services/v3/core/theme/ide.css" rel="stylesheet" />').appendTo('head');
				
				$('#theme-stylesheet').remove();
				$('<link id="theme-stylesheet" href="'+themeUrl +'" rel="stylesheet" />').appendTo('head');

			}.bind(this));
			
		}])
		.controller('StatusBarController', ['$scope', '$messageHub', function ($scope, $messageHub) {
			$messageHub.on('workbench.status.message', function(msg){
				this.message = msg.data;
				$scope.$apply();
			}.bind(this));
		}]);
	</script>
	
</body>

</html>
