<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style>
.mySelectedText {
    color: #4fbcf2;
    font-weight: bold;
}
</style>
<script id="sap-ui-bootstrap" type="text/javascript"
	src="https://sapui5.hana.ondemand.com/resources/sap-ui-core.js"
	data-sap-ui-theme="sap_goldreflection"
	data-sap-ui-libs="sap.ui.commons,sap.ui.ux3,sap.ui.table">
</script>

<script>
Number.prototype.formatMoney = function(c, d, t){
    var n = this, 
    c = isNaN(c = Math.abs(c)) ? 2 : c, 
    d = d == undefined ? "." : d, 
    t = t == undefined ? "," : t, 
    s = n < 0 ? "-" : "", 
    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
    j = (j = i.length) > 3 ? j % 3 : 0;
    return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
};

    var spinnerLayout;
    var table;
	var tableModel;
	var wrapperPanel;
	var wrapperPanelTitle;
	var oMatrixInput;
	var detailsPanel;
	var detailsModel;
	var dates = [];
	var integers = [];
	var doubles = [];
	var controls = [];
	var buttonAdd;
	var buttonUpdate;
	var buttonDelete;
	var buttonSave;
	var buttonCancel;
	var isUpdate;
    var selectedEntity;
    
	function main() {
		createUIComponents();
		layoutUIComponents();
	}

	function createUIComponents() {
		createTable();
		createWrapperPanel();
		createSpinnerLayout();
		createDetailsPanel();
	}

	function saveEntity(entity){
        jQuery.ajax({
            type: "POST",
            contentType : "application/json",
            data: JSON.stringify(entity),
			url: "${serviceFileName}",
			success: function () {
				refreshTable();
			}
		});
    }
    
    function updateEntity(entity){
        var primaryKey = getPrimaryKeys()[0];
        jQuery.ajax({
            type: "PUT",
            contentType : "application/json",
            data: JSON.stringify(entity),
			url: "${serviceFileName}",
			success: function () {
				refreshTable();
			}
		});
    }
    
    function deleteEntity(entity){
    	var primaryKey = getPrimaryKeys()[0];
    	var entityId = entity[primaryKey];
        jQuery.ajax({
            type: "DELETE",
			url: "${serviceFileName}?id="+entityId,
			success: function () {
				refreshTable();
			}
		});
    }
	
    var selectedRowIndex;
	function createTable() {
		buttonAdd = new sap.ui.commons.Button();
		buttonAdd.setText("Add");
        buttonAdd.attachPress(function(){
            setDetailsPanelEditable(true);
            isUpdate = false;
            table.setSelectedIndex(-1);
            detailsModel.setData({});
            buttonUpdate.setEnabled(false);
            buttonDelete.setEnabled(false);
            // table.setSelectionMode(sap.ui.table.SelectionMode.None);
        });
        
        buttonUpdate = new sap.ui.commons.Button();
		buttonUpdate.setText("Update");
		buttonUpdate.setEnabled(false);
        buttonUpdate.attachPress(function(){
        	if(selectedRowIndex != -1){
            	setDetailsPanelEditable(true);
                isUpdate = true;
                buttonAdd.setEnabled(false);
                buttonDelete.setEnabled(false);
                // table.setSelectionMode(sap.ui.table.SelectionMode.None);
                var row = table.getRows()[selectedRowIndex];
                var controls = row.getCells();
                for(var i = 0; i < controls.length; i++){
                    controls[i].addStyleClass("mySelectedText");
                }
                table.detachRowSelectionChange(rowSelected);
            }else{
                alert("Please select row for updating.");
            }
        })
		
        buttonDelete = new sap.ui.commons.Button();
    	buttonDelete.setText("Delete");
    	buttonDelete.setEnabled(false);
		buttonDelete.attachPress(function(){
			if(table.getSelectedIndex() != -1){
				var primaryKey = getPrimaryKeys()[0];
				var primaryKeyValue = selectedEntity[primaryKey];
				
				sap.ui.commons.MessageBox.confirm(
					"Do you want to delete entity with "+primaryKey+" = "+primaryKeyValue+"?", 
					function(result) {
						if (result === true) {
							deleteEntity(selectedEntity);
			                table.setSelectedIndex(-1);
			                detailsModel.setData({});
						}
		             }, 
		             "Are you sure?");
            }else{
                alert("Please select row for deleting.");
            }
		});
        var toolbar = new sap.ui.commons.Toolbar();
        toolbar.setDesign(sap.ui.commons.ToolbarDesign.Standard);
		toolbar.addItem(buttonAdd);
		toolbar.addItem(buttonUpdate);
    	toolbar.addItem(buttonDelete);

		table = new sap.ui.table.Table();
		table.setEditable(false);
		table.setToolbar(toolbar);
		table.setThreshold(30);
		table.setSelectionMode(sap.ui.table.SelectionMode.Single);
		table.setSelectionBehavior(sap.ui.table.SelectionBehavior.Row);
		var columnNames =
			[
#foreach ($tableColumn in $tableColumns)
#if ($tableColumn.isVisible())
                [ "${tableColumn.getName()}", "${tableColumn.getName()}", "100px" ],
#end
#end 
   			];

		for ( var ndx = 0; ndx < columnNames.length; ndx++) {
			table.addColumn(createTableTextColumn(columnNames[ndx]));
		}
		table.attachRowSelectionChange(rowSelected);
		tableModel = new sap.ui.model.json.JSONModel();
		attachTableModel();
	}
	
	function setDetailsPanelEditable(editable){
        for(var i = 0; i < controls.length; i++){
            controls[i].setEditable(editable);
        }
        buttonSave.setEnabled(editable);
        buttonCancel.setEnabled(editable);
    }
	
	function createTableTextColumn(propertyNameArr) {
		var control, column;
		control = new sap.ui.commons.TextView().bindProperty("text", propertyNameArr[0]);

		var column = new sap.ui.table.Column({
			label : propertyNameArr[1],
			template : control,
			sortProperty : propertyNameArr[0],
			filterProperty : propertyNameArr[0],
			filterOperator : "sap.ui.model.FilterOperator.EQ"
		});

		if (propertyNameArr[2]) {
			column.setWidth(propertyNameArr[2]);
		}
		return column;
	}
	
    function rowSelected(event) {
    	selectedRowIndex = table.getSelectedIndex();
    	if(selectedRowIndex != -1){
	        var rowContext = event.getParameter("rowContext");
	        var data = tableModel.getProperty(null, rowContext);
	        selectedEntity = data;
	        data = convertDataTypes(data);
	        detailsModel.setData(data);
	        buttonUpdate.setEnabled(true);
            buttonDelete.setEnabled(true);
    	}else{
    		buttonUpdate.setEnabled(false);
    		buttonDelete.setEnabled(false);
    		detailsModel.setData({});
    	}
    }
    
    function convertDataTypes(data){
    	for(var i = 0; i < dates.length; i++){
            data[dates[i][0]] = new Date(data[dates[i][0]]);
        }
    	for(var i = 0; i < integers.length; i++){
    		var formatedIntger = data[integers[i][0]];
            if(typeof formatedIntger !== "string"){
                data[integers[i][0]] = formatedIntger.formatMoney(0, ".", " ");
            }
    	}
    	for(var i = 0; i < doubles.length; i++){
    		var formatedDouble = data[doubles[i][0]];
            if(typeof formatedDouble !== "string"){
    		    data[doubles[i][0]] = formatedDouble.formatMoney(2, ".", " ");
            }
    	}
    	return data;
    }
    
	function attachTableModel() {
		${createDataModel}
		
		tableModel.attachRequestCompleted(null, function() {
			atModelChange();
		}, null);

		tableModel.attachRequestFailed(null, function() {
			atModelChange();
		}, null);

		tableModel.attachParseError(null, function() {
			atModelChange();
		}, null);

		tableModel.attachRequestSent(null, function() {
			showSpinner(true);
		}, null);

		table.setModel(tableModel);
		table.bindRows("/", null, null, null);
	}

	function atModelChange() {
		showSpinner(false);
	}

	function showSpinner(showIt) {
		spinnerLayout.removeAllRows();
		if (showIt) {
			createSpinnerRowAndAddItToSpinnerLayout();
		}
	}
	
	function createSpinnerLayout() {
		spinnerLayout = new sap.ui.commons.layout.MatrixLayout({
			layoutFixed : true,
			width : '300px',
			columns : 2
		});

		createSpinnerRowAndAddItToSpinnerLayout();
	}

	function createSpinnerRowAndAddItToSpinnerLayout() {
		var tableLoadingSpinner = new sap.ui.commons.Image();
		tableLoadingSpinner.setSrc("img/spinner.gif");
		tableLoadingSpinner.setAlt("Loading data...");

		var oLabell = createLabel("Loading data, please be patient...");
		spinnerLayout.setWidths('28px', '200px');
		spinnerLayout.createRow(tableLoadingSpinner, oLabell);
	}
	
	function refreshTable(){
		tableModel.loadData("${serviceFileName}");
	}

	function createWrapperPanel() {
		wrapperPanel = new sap.ui.commons.Panel("mp");
		wrapperPanel.setBorderDesign(sap.ui.commons.enums.BorderDesign.None);
		wrapperPanel.setAreaDesign(sap.ui.commons.enums.AreaDesign.Plain);
		wrapperPanel.setShowCollapseIcon(false);
		wrapperPanel.addStyleClass("mainPanel");

		wrapperPanelTitle = new sap.ui.commons.Title({
			text : "${pageTitle}"
		});
		wrapperPanel.setTitle(wrapperPanelTitle);
	}

	function createDetailsPanel(){
		var entity = [
#foreach ($tableColumn in $tableColumns)
			["${tableColumn.getName()}", "/${tableColumn.getName()}", "${tableColumn.getType()}", "${tableColumn.getSize()}"],
#end
		];

		buttonSave = new sap.ui.commons.Button();
        buttonSave.setText("Save");
        buttonSave.setEnabled(false);
        buttonSave.attachPress(function(){
            var json = detailsModel.getJSON();
            var entity = JSON.parse(json);
            setDetailsPanelEditable(false);
            if(isUpdate){
            	updateEntity(entity);
            	
            	var row = table.getRows()[selectedRowIndex];
                var controls = row.getCells();
                for(var i = 0; i < controls.length; i++){
                    controls[i].removeStyleClass("mySelectedText");
                }
                table.attachRowSelectionChange(rowSelected);
            }else{
                saveEntity(entity);
                detailsModel.setData({});
            }
            buttonAdd.setEnabled(true);
            table.setSelectedIndex(-1);
        });

        buttonCancel = new sap.ui.commons.Button();
        buttonCancel.setText("Cancel");
        buttonCancel.setEnabled(false);
        buttonCancel.attachPress(function(){
        	if(isUpdate){
        		var row = table.getRows()[selectedRowIndex];
                var controls = row.getCells();
                for(var i = 0; i < controls.length; i++){
                    controls[i].removeStyleClass("mySelectedText");
                }
                table.attachRowSelectionChange(rowSelected);
        	}
    		table.setSelectedIndex(-1);        		

            setDetailsPanelEditable(false);
            detailsModel.setData({});
            buttonAdd.setEnabled(true);
            table.setSelectedIndex(-1);
        });
        
        var detailsMatrix = new sap.ui.commons.layout.MatrixLayout({
            widths: ["20%","80%"]
    	});
        detailsMatrix.createRow(null, null);
        for(i = 0; i < entity.length; i++){
        	var dataType = entity[i][2];
        	if(dataType === "DATE"){
                dates.push([entity[i][0], entity[i][1]]);
            }else if(dataType === "INTEGER"){
            	integers.push([entity[i][0], entity[i][1]]);
            }else if(dataType === "DOUBLE" || dataType === "FLOAT"){
            	doubles.push([entity[i][0], entity[i][1]]);
            }
            detailsMatrix.addRow(createNewRow(entity[i]));
        }
        detailsModel = new sap.ui.model.json.JSONModel(); 
        detailsMatrix.setModel(detailsModel);

        var toolbar = new sap.ui.commons.Toolbar();
        toolbar.setDesign(sap.ui.commons.ToolbarDesign.Standard);
        toolbar.addItem(buttonSave);
        toolbar.addItem(buttonCancel);
        
        detailsPanel = new sap.ui.commons.Panel({
            width: "100%",
            text: "Details", 
            areaDesign: sap.ui.commons.enums.AreaDesign.Plain,
            showCollapseIcon: false,
            content : [toolbar, detailsMatrix]
        });
	}
    
    function createNewRow(rowData){
        var nextRow = new sap.ui.commons.layout.MatrixLayoutRow();
        
        var labelCell = new sap.ui.commons.layout.MatrixLayoutCell();
        labelCell.addContent(createLabel(rowData[0]));
        
        var controllerCell = new sap.ui.commons.layout.MatrixLayoutCell();
        var controller;
        if(rowData[2] === "BOOLEAN"){
        	controller = createCheckBox(rowData[1], false);
        	controllerCell.addContent(controller);
        } else if(rowData[2] === "DATE") {
        	controller = createDatePicker(rowData[1], false);
            controllerCell.addContent(controller);
        } else if(rowData[2] === "VARCHAR") {
            if(rowData[3] <= 20){
            	controller = createTextField(rowData[1], false);
                controllerCell.addContent(controller);                
            }else{
            	controller = createTextArea(rowData[1], false);
                controllerCell.addContent(controller);
            }
        } else if(rowData[2] === "INTEGER") {
	        controller = createTextField(rowData[1], false, sap.ui.core.TextAlign.Right, true, true);
            controllerCell.addContent(controller);
        } else if(rowData[2] === "DOUBLE" || rowData[2] === "FLOAT"){
        	controller = createTextField(rowData[1], false, sap.ui.core.TextAlign.Right, true, false);
        	controllerCell.addContent(controller);
        }else{
        	controller = createTextField(rowData[1], false);
        	controllerCell.addContent(controller);
        }
        if(!isPrimaryKey(rowData[0])){
            controls.push(controller);        	
        }
        
        nextRow.addCell(labelCell);
        nextRow.addCell(controllerCell);
        return nextRow;
    }
    
    function createLabel(text){
    	var label = new sap.ui.commons.Label();
    	label.setText(text);
    	
    	return label;
    }
    
    function createTextField(value, editable, textAlign, number, integer){
        if(editable === null || editable === undefined){
            editable = true;
        }
        if(textAlign === null || textAlign === undefined){
        	textAlign: sap.ui.core.TextAlign.Left
        }
        var textField = new sap.ui.commons.TextField();
        textField.bindValue(value, null);
        textField.setEditable(editable);
        textField.setTextAlign(textAlign);
        
        return textField;
    }
    
    function createTextArea(value, editable){
    	if(editable === null || editable === undefined){
            editable = true;
        }
    	
    	var textArea = new sap.ui.commons.TextArea();
    	textArea.setWidth("100%");
    	textArea.bindValue(value, null);
    	textArea.setRows(1);
    	textArea.setEditable(editable);
    	
    	return textArea;
    }
    
    function createCheckBox(checked, editable){
        if(editable === null || editable === undefined){
            editable = true;
        }
        
        var checkBox = new sap.ui.commons.CheckBox();
        checkBox.bindChecked(checked, null);
        checkBox.setEditable(editable);
    }
    
    function createDatePicker(value, editable){
        if(editable === null || editable === undefined){
            editable = true;
        }
        
        var datePicker = new sap.ui.commons.DatePicker();
        datePicker.bindValue(value, null);
        datePicker.setEditable(editable);
        datePicker.setLocale("en-US");
        
        return datePicker;
   }
    
    function isPrimaryKey(columnName){
    	return columnName === getPrimaryKeys()[0];
    }
    
	function getPrimaryKeys(){
	    var result = new Array();
	    var i = 0;
#foreach ($tableColumn in $tableColumns)
#if ($tableColumn.isKey())
    	result[i++] = '$tableColumn.getName()';
#end
#end
	    if(result.length > 1){
	        throw new Exception("More than one Primary Key is not supported.");
	    }
	    return result;
	}
	
	function layoutUIComponents() {
		wrapperPanel.addContent(table);
		wrapperPanel.addContent(oMatrixInput);
		wrapperPanel.addContent(detailsPanel);
		wrapperPanel.placeAt("panelArea");
	}

</script>

</head>

<body class="sapUiBody" role="application">
	<div id="panelArea"></div>

	<script>
		main();
	</script>

</body>
</html>