[{
	"id" : 1,
	"name" : "shopska salad",
	"price" : "15",
	"description" : "traditional dish"
}, {
	"id" : 2,
	"name" : "PKS",
	"price" : "10",
	"description" : "classic dish"
}, {
	"id" : 3,
	"name" : "Tolumbichka",
	"price" : "8",
	"description" : "dessert"
} ]