<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

     <extension
           id="JavaScriptServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/js"
              class="org.eclipse.dirigible.runtime.js.JavaScriptServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="JavaScriptSecuredServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/js-secured"
              class="org.eclipse.dirigible.runtime.js.JavaScriptSecuredServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="JavaScriptSandboxServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/js-sandbox"
              class="org.eclipse.dirigible.runtime.js.JavaScriptSandboxServlet"
              load-on-startup="false">
        </servlet>
     </extension>
     
     <extension
           id="JavaScriptRegistryServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/registry-js"
              class="org.eclipse.dirigible.runtime.registry.JavaScriptRegistryServlet"
              load-on-startup="false">
        </servlet>
     </extension>
     
     <extension
           id="JavaScriptRegistryServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/registry-js-entity"
              class="org.eclipse.dirigible.runtime.registry.JavaScriptRegistryEntityServlet"
              load-on-startup="false">
        </servlet>
     </extension>
     
     <extension
           id="JavaScriptRegistryServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/registry-js-swagger"
              class="org.eclipse.dirigible.runtime.registry.JavaScriptRegistrySwaggerServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="JavaScriptRegistryUiContentServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/scripting/javascript"
              class="org.eclipse.dirigible.runtime.registry.JavaScriptRegistryUiContentServlet"
              load-on-startup="false">
        </servlet>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/js"
              class="org.eclipse.dirigible.runtime.filter.JavaScriptRegistrySecureFilter">
        </filter>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/js-secured"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/js-debug"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/js-debug"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
     
     
     
     
     
     <extension
           id="TestCasesServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/test"
              class="org.eclipse.dirigible.runtime.js.TestCasesServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="TestCasesSandboxServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/test-sandbox"
              class="org.eclipse.dirigible.runtime.js.TestCasesSandboxServlet"
              load-on-startup="false">
        </servlet>
     </extension>
     
     <extension
           id="TestCasesRegistryServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/registry-tc"
              class="org.eclipse.dirigible.runtime.registry.TestCasesRegistryServlet"
              load-on-startup="false">
        </servlet>
     </extension>
	 
	 <extension
           id="TestCasesRegistryUiContentServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/scripting/tests"
              class="org.eclipse.dirigible.runtime.registry.TestCasesRegistryUiContentServlet"
              load-on-startup="false">
        </servlet>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/test"
              class="org.eclipse.dirigible.runtime.filter.TestCasesRegistrySecureFilter">
        </filter>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/js-sandbox"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
     
     <extension
           point="org.eclipse.equinox.http.registry.filters">
        <filter
              alias="/test-sandbox"
              class="org.eclipse.dirigible.runtime.filter.RegistrySecureRolesFilter">
        </filter>
     </extension>
     
     <extension
           id="JavaScriptSourceRegistryServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/js-src"
              class="org.eclipse.dirigible.runtime.js.debug.JavaScriptSourceRegistryServlet"
              load-on-startup="false">
        </servlet>
     </extension>

</plugin>
