name: Pull Request

on:
  pull_request:
    branches: 
      - main
      - master
jobs:
  build:        
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-
    - name: Set up JDK Corretto 21
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: 21
    - name: Install NodeJS
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install esbuild
      run: npm i -g esbuild
    - name: Install TypeScript compiler
      run: npm i -g typescript
    - name: Maven Build
      run: mvn clean install -D maven.javadoc.skip=false -U
  integration-tests:        
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-
    - name: Set up JDK Corretto 21
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: 21
    - name: Install NodeJS
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install esbuild
      run: npm i -g esbuild
    - name: Install TypeScript compiler
      run: npm i -g typescript
    - name: Maven Build
      run: mvn -T 1C clean compile -D maven.test.skip=true -D skipTests -D maven.javadoc.skip=true -D license.skip=true -U
    - name: Integration tests
      run: mvn verify -P integration-tests
