<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%5.5t] %-5p %30.30C %x - %m%n" />
		</layout>
	</appender>

	<appender name="FA" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="target/it-api.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%5.5t] %-5p %30.30C %x - %m%n" />
		</layout>
	</appender>


	<logger name="com.sap" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CA" />
	</logger>
	<logger name="org.apache.derby" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="CA" />
	</logger>
	<logger name="com.sap.it.api" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CA" />
	</logger>
	
	<root>
		<level value="WARN" />
		<appender-ref ref="CA" />
		<appender-ref ref="FA" />
	</root>

</log4j:configuration>