/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 90px;
/*  background-color: #f5f5f5; */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}
.huge {
    font-size: 25px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.panel-blue {
    border-color: #337ab7;
}

.panel-blue .panel-heading {
    border-color: #337ab7;
    color: #fff;
    background-color: #337ab7;
}

.panel-blue a {
    color: #337ab7;
}

.panel-blue a:hover {
    color: #135a97;
}

.panel-purple {
    border-color: #857cdc;
}

.panel-purple .panel-heading {
    border-color: #857cdc;
    color: #fff;
    background-color: #857cdc;
}

.panel-purple a {
    color: #857cdc;
}

.panel-purple a:hover {
    color: #545cbc;
}

.panel-orange {
    border-color: #e67100;
}

.panel-orange .panel-heading {
    border-color: #e67100;
    color: #fff;
    background-color: #e67100;
}

.panel-orange a {
    color: #e67100;
}

.panel-orange a:hover {
    color: #c65100;
}

.panel-lila {
    border-color: #7575a3;
}

.panel-lila .panel-heading {
    border-color: #7575a3;
    color: #fff;
    background-color: #7575a3;
}

.panel-lila a {
    color: #7575a3;
}

.panel-lila a:hover {
    color: #7575a3;
}

.panel-lblue {
    border-color: #5f9dd3;
}

.panel-lblue .panel-heading {
    border-color: #5f9dd3;
    color: #fff;
    background-color: #5f9dd3;
}

.panel-lblue a {
    color: #5f9dd3;
}

.panel-lblue a:hover {
    color: #3f7db3;
}

a.thumbnail {
	padding: 0px !important;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
